$dot: ".dot";

#{$dot} {
    @include use-palette(--dot-palette);
    @include use-animation-palette();

    display: inline-block;
    position: relative;

    width: 1em;
    height: 1em;

    border-radius: var(--dot-radius);

    background: vhsl(--background);
    color: vhsl(--color);

    font-size: var(--dot-font-size);

    user-select: none;

    &[data-position="raised"] {
        transform: var(--dot-transform-raised);
    }

    &[data-position="floated"] {
        position: absolute;
        top: 0;
        right: 0;

        pointer-events: none;

        white-space: nowrap;
        transform: var(--dot-transform-floated);
    }

    &[data-animation="pulse"] {
        animation: var(--dot-attention);
    }
}
