:root {
    /**
     * Omni Tokens
     */

    --omni-margin: 0 0 var(--spacing-block-large) 0;
    --omni-padding: var(--spacing-block-large);

    /**
     * Omni Palette Tokens
     */

    --omni-default-background: var(--palette-default-base);
    --omni-default-color: var(--palette-light-base);

    --omni-accent-background: var(--palette-accent-base);
    --omni-accent-color: var(--palette-light-base);

    --omni-dark-background: var(--palette-dark-base);
    --omni-dark-color: var(--palette-light-base);

    --omni-light-background: var(--palette-light-base);
    --omni-light-color: var(--palette-dark-base);

    --omni-alert-background: var(--palette-alert-base);
    --omni-alert-color: var(--palette-light-base);

    --omni-affirmative-background: var(--palette-affirmative-base);
    --omni-affirmative-color: var(--palette-light-base);

    --omni-negative-background: var(--palette-negative-base);
    --omni-negative-color: var(--palette-light-base);

    /**
     * Omni Divider Tokens
     */

    --omni-divider-margin: var(--spacing-block-tiny) var(--spacing-divider);

    /**
     * Omni Heading Toknes
     */

    --omni-heading-font-size: var(--font-size-heading-small);
    --omni-heading-font-weight: var(--font-weight-heading);
}
