$navigation-omni: "nav.omni";

$omni-heading: "header";
$omni-content: "section";
$omni-footer: "footer";

#{$navigation-omni} {
    @include use-palette(--omni);

    display: flex;
    justify-content: space-between;

    margin: var(--omni-margin);
    padding: var(--omni-padding);

    background: transparent;
    color: currentColor;

    &[data-palette] {
        @include use-palette-block();
    }

    & > #{$omni-heading},
    & > #{$omni-content},
    & > #{$omni-footer} {
        display: grid;
        grid-auto-flow: column;

        align-items: center;

        & > #{$anchor} {
            color: inherit;
            text-decoration: none;
        }

        & > #{$divider-hr} {
            margin: var(--omni-divider-margin);

            border-top: none;
            border-left: currentColor var(--divider-border);
        }
    }

    & > #{$omni-heading} {
        letter-spacing: var(--omni-heading-letter-spacing);
        font-size: var(--omni-heading-font-size);
        font-weight: var(--omni-heading-font-weight);
    }

    & > #{$omni-content},
    & > #{$omni-footer} {
        grid-gap: var(--omni-content-spacing);
    }

    &[data-position="top"] {
        position: sticky;
        top: 0;

        z-index: 2;
    }
}
