$box: ".box";

#{$box} {
    /**
        TODO: Allow boxes to be `<label>` elements, which takes on stylings similar to a sibling
        form component. Along with being able to be checked via the sibling element.

        TODO: Allow boxes to be `<a>` elements, with appropriate overrides
    */
    @include use-palette(--box);

    display: block;

    margin: var(--box-margin);
    padding: var(--box-padding);

    background: vhsl(--box-background);
    color: vhsl(--box-color);

    border: var(--box-border) vhsl(--box-block-border-color);
    border-radius: var(--box-radius);

    &:not([data-variation])[data-palette] {
        @include use-palette-block();
    }

    &[data-variation="outline"] {
        @include use-palette-outline();
    }
}

#{$anchor}#{$box},
#{$label}#{$box} {
    @include use-linkable(--box);
}
