:root {
    /**
     * Mosaic Sizing Tokens
     */

    --mosaic-sizing-tiny: var(--sizing-block-tiny);
    --mosaic-sizing-small: var(--sizing-block-small);
    --mosaic-sizing-medium: var(--sizing-block-medium);
    --mosaic-sizing-large: var(--sizing-block-large);
    --mosaic-sizing-huge: var(--sizing-block-huge);

    /**
     * Mosaic Spacing Tokens
     */

    --mosaic-spacing-tiny: var(--spacing-block-tiny);
    --mosaic-spacing-small: var(--spacing-block-small);
    --mosaic-spacing-medium: var(--spacing-block-medium);
    --mosaic-spacing-large: var(--spacing-block-large);
    --mosaic-spacing-huge: var(--spacing-block-huge);
}
