$toast: ".overlay > [role='status']";

$toast-body: "section";
$toast-figure: "figure";
$toast-footer: "footer";

@mixin toast-body($namespace) {
    @include tile-body($namespace);
}

@mixin toast-figure($namespace) {
    @include tile-figure($namespace);
}

@mixin toast-footer($namespace) {
    @include tile-footer($namespace);
}

#{$toast} {
    @include use-palette(--toast-palette, false);

    display: flex;
    align-items: center;

    background: transparent;
    color: currentColor;

    &[data-palette] {
        @include use-palette-block();

        padding: var(--toast-padding);

        border: var(--toast-border);
        border-radius: var(--toast-radius);
    }

    & #{$toast-body} {
        @include toast-body(--toast-body);
    }

    & #{$toast-figure} {
        @include toast-figure(--toast-figure);
    }

    & #{$toast-footer} {
        @include toast-footer(--toast-footer);
    }
}
