.card {
    --palette-background-normal: var(--palette-auto-off-normal);
    --palette-foreground-normal: var(--palette-inverse-normal);

    @apply flex flex-col rounded-md;

    & > figure {
        @apply m-0 rounded-[inherit];

        &:first-child > * {
            @apply rounded-t-[inherit];
        }

        &:last-child > * {
            @apply rounded-b-[inherit];
        }
    }

    & > footer {
        @apply justify-end;

        &:not(:first-child) {
            @apply pt-[var(--spacing-root-large)];
        }
    }

    & > header {
        @apply font-bold text-xl;

        &:not(:first-child) {
            @apply pt-[var(--spacing-root-medium)];
        }
    }

    & > section {
        &:not(:first-child) {
            @apply pt-[var(--spacing-root-small)];
        }

        &:last-of-type {
            @apply flex-grow;
        }
    }

    & > :is(header, footer) {
        @apply flex gap-[var(--spacing-root-small)] items-center;
    }

    & > :is(footer, header, section) {
        &:first-child {
            @apply rounded-t-[inherit];
        }

        &:last-child {
            @apply rounded-b-[inherit];
        }
    }

    &:not([data-variation]) {
        @apply bg-[rgb(var(--palette-background-normal))] shadow-sm text-[rgb(var(--palette-foreground-normal))];

        & > :is(footer, header, section) {
            @apply border-l-2 border-r-2 border-solid px-[var(--spacing-root-large)];

            border-color: rgba(var(--palette-inverse-off-lightest), theme("opacity.10"));

            &:first-child {
                @apply border-t-2 pt-[var(--spacing-root-medium)];
            }

            &:last-child {
                @apply border-b-2 pb-[var(--spacing-root-medium)];
            }
        }
    }
}
