html {
    @apply bg-[rgb(var(--document-background))] leading-[var(--document-font-line-height)] text-[rgb(var(--document-foreground))];

    font-size: var(--document-font-size);

    transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    & ::selection {
        @apply bg-[rgb(var(--selection-background))] text-[rgb(var(--selection-foreground))];
    }
}

:root {
    --palette-background-lightest: var(--palette-auto-background-lightest);
    --palette-background-lighter: var(--palette-auto-background-lighter);
    --palette-background-light: var(--palette-auto-background-light);
    --palette-background-normal: var(--palette-auto-background-normal);
    --palette-background-bold: var(--palette-auto-background-bold);
    --palette-background-bolder: var(--palette-auto-background-bolder);
    --palette-background-boldest: var(--palette-auto-background-boldest);

    --palette-foreground-lightest: var(--palette-auto-foreground-lightest);
    --palette-foreground-lighter: var(--palette-auto-foreground-lighter);
    --palette-foreground-light: var(--palette-auto-foreground-light);
    --palette-foreground-normal: var(--palette-auto-foreground-normal);
    --palette-foreground-bold: var(--palette-auto-foreground-bold);
    --palette-foreground-bolder: var(--palette-auto-foreground-bolder);
    --palette-foreground-boldest: var(--palette-auto-foreground-boldest);
}

* {
    /** TODO: Remove after adding ARIA / Accessibility support */

    -webkit-tap-highlight-color: transparent;

    scrollbar-width: auto;
    scrollbar-color: rgb(var(--scrollbar-foreground)) rgb(var(--scrollbar-background));
}

::-webkit-scrollbar {
    @apply h-[var(--scrollbar-size)] w-[var(--scrollbar-size)];
}

::-webkit-scrollbar-track {
    @apply bg-[rgb(var(--scrollbar-background))];
}

::-webkit-scrollbar-thumb {
    @apply bg-[rgb(var(--scrollbar-foreground))];
}
