@use "../abstracts/transitions";

@use "../mixins/colors";
@use "../mixins/palettes";
@use "../mixins/text";

:root {
    @include palettes.var-auto-background();

    // NOTE: The base document background color diverges from
    // "surface" convention so the dark / light palettes stand
    // out more when used else where as backgrounds

    @include colors.background($namespace: "document", $face: "background", $shade: "lighter");
    @include colors.text($namespace: "document", $face: "foreground", $shade: "lightest");

    @include text.family($namespace: "document");
    @include text.line-height($namespace: "document");
    @include text.size($namespace: "document");

    @include transitions.build();
}

::selection {
    @include colors.background($namespace: "document", $face: "foreground", $shade: "lightest");
    @include colors.text($namespace: "document", $face: "background", $shade: "lightest");
}

/*
* {
    // TODO: Remove after adding ARIA / Accessibility support

    -webkit-tap-highlight-color: transparent;

    scrollbar-width: auto;
    scrollbar-color: rgb(var(--scrollbar-foreground)) rgb(var(--scrollbar-background));
}

::-webkit-scrollbar {
    @apply h-[var(--scrollbar-size)] w-[var(--scrollbar-size)];
}

::-webkit-scrollbar-track {
    @apply bg-[rgb(var(--scrollbar-background))];
}

::-webkit-scrollbar-thumb {
    @apply bg-[rgb(var(--scrollbar-foreground))];
}*/
