@use "../abstracts/palettes";
@use "../abstracts/variables";

@use "../appearances/surface";

@use "../mixins/backgrounds";
@use "../mixins/fonts";
@use "../mixins/palettes" as palette-mixins;
@use "../mixins/transitions";

:root {
    @include palette-mixins.var-palette($palette: "auto");

    // NOTE: The base document background color diverges from
    // "surface" convention so the dark / light palettes stand
    // out more when used else where as backgrounds

    @include backgrounds.color($namespace: "document", $face: "background", $shade: "light");
    @include surface.text($namespace: "document");

    @include fonts.family($namespace: "document");
    @include fonts.line-height($namespace: "document");
    @include fonts.size($namespace: "document");

    @include transitions.build();
}

::selection {
    @include surface.background($namespace: "document", $is-inverse: true);
    @include surface.text($namespace: "document", $is-inverse: true);
}

* {
    // TODO: Remove after adding ARIA / Accessibility support

    -webkit-tap-highlight-color: transparent;

    scrollbar-width: #{variables.format-var("document.scrollbar.standard.size")};
    scrollbar-color: hsla(
            #{palettes.format-var($name: "dark", $face: "background", $shade: "lightest")},
            #{variables.format-var("document.scrollbar.thumb.background.opacity")}
        )
        hsla(
            #{palettes.format-var($name: "auto", $face: "background", $shade: "boldest")},
            #{variables.format-var("document.scrollbar.track.background.opacity")}
        );

    @include transitions.push(scrollbar-color, "visual");
    @include transitions.build();
}

::-webkit-scrollbar {
    width: calc(
        #{variables.format-var("document.scrollbar.webkit.size")} + (#{variables.format-var(
                        "document.scrollbar.track.padding"
                    )} * 1rem)
    );
    height: calc(
        #{variables.format-var("document.scrollbar.webkit.size")} + (#{variables.format-var(
                        "document.scrollbar.track.padding"
                    )} * 1rem)
    );
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: calc(variables.format-var("document.scrollbar.track.padding") * 1rem) solid
        rgba(255, 255, 255, 0);

    @include backgrounds.transitions();
    @include transitions.build();
}

::-webkit-scrollbar-track {
    background-color: hsla(
        #{palettes.format-var($name: "auto", $face: "background", $shade: "boldest")},
        #{variables.format-var("document.scrollbar.track.background.opacity")}
    );
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;

    background-color: hsla(
        #{palettes.format-var($name: "dark", $face: "background", $shade: "lightest")},
        #{variables.format-var("document.scrollbar.thumb.background.opacity")}
    );
}
