:root {
    /**
     * Badge Tokens
     */

    --badge-attention: animation-pulse var(--animation-capture-visual);

    --badge-font-size-tiny: var(--font-size-text-tiny);
    --badge-font-size-small: var(--font-size-text-small);
    --badge-font-size-medium: var(--font-size-text-medium);
    --badge-font-size-large: var(--font-size-text-large);
    --badge-font-size-huge: var(--font-size-text-huge);

    --badge-font-weight: var(--font-weight-bold);

    --badge-padding: var(--spacing-text-small) var(--spacing-text-medium);
    --badge-padding-pill: var(--spacing-text-small) var(--spacing-text-huge);

    --badge-radius: var(--radius-text);
    --badge-radius-circle: var(--radius-shape-circle);
    --badge-radius-pill: var(--radius-shape-pill);

    --badge-size-circle: var(--font-size-text-medium);

    --badge-transform-raised: translateY(-50%);
    --badge-transform-floated: translate(50%, -50%);

    /**
     * Badge Palette Tokens
     */

    --badge-default-background: var(--palette-default-base);
    --badge-default-color: var(--palette-light-base);

    --badge-accent-background: var(--palette-accent-base);
    --badge-accent-color: var(--palette-light-base);

    --badge-dark-background: var(--palette-dark-base);
    --badge-dark-color: var(--palette-light-base);

    --badge-light-background: var(--palette-light-base);
    --badge-light-color: var(--palette-dark-base);

    --badge-alert-background: var(--palette-alert-base);
    --badge-alert-color: var(--palette-light-base);

    --badge-affirmative-background: var(--palette-affirmative-base);
    --badge-affirmative-color: var(--palette-light-base);

    --badge-negative-background: var(--palette-negative-base);
    --badge-negative-color: var(--palette-light-base);
}
