blockquote {
    --palette-background-lightest: var(--palette-inverse-off-lightest);
    --palette-background-normal: var(--palette-neutral-normal);

    @apply border-l-5 border-solid border-[rgb(var(--palette-background-normal))] px-[var(--spacing-root-large)]
    py-[var(--spacing-root-medium)] relative;

    background: rgba(var(--palette-background-lightest), theme("opacity.20"));
    border-radius: var(--radius-small);
}
