:root {
    /**
     * Stack Spacing Tokens
     */

    --stack-spacing-tiny: var(--spacing-block-tiny);
    --stack-spacing-small: var(--spacing-block-small);
    --stack-spacing-medium: var(--spacing-block-medium);
    --stack-spacing-large: var(--spacing-block-large);
    --stack-spacing-huge: var(--spacing-block-huge);
}
