$stack: ".stack";

#{$stack} {
    @include use-alignment-flex(true);
    @include use-spacing(--stack-spacing, true);

    display: flex;
    align-self: stretch;

    gap: var(--spacing);

    &:not([data-orientation]) {
        flex-direction: column;

        align-items: var(--alignment-x);
        justify-content: var(--alignment-y);
    }

    &[data-orientation="horizontal"] {
        flex-direction: row;

        align-items: var(--alignment-y);
        justify-content: var(--alignment-x);
    }

    @include use-boolean-children(data-stretch, true) {
        flex-grow: 1;
    }

    & > * {
        margin: 0 !important;
    }
}
