$menu: "nav.menu";

$menu-item: "li";
$menu-submenu: "ul";

$menu-anchor: "a";
$menu-heading: "label";
$menu-state: "input[type='checkbox']";

@mixin menu-anchor($namespace) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(#{$namespace}-padding);

    color: inherit;
    background: transparent;

    border: var(#{$namespace}-border) transparent;
    border-radius: var(#{$namespace}-radius);

    text-decoration: none;
    transition: background var(#{$namespace}-transition), border-color var(#{$namespace}-transition),
        color var(#{$namespace}-transition);

    &:hover,
    &[aria-current] {
        color: vhsl(--color);
        opacity: var(#{$namespace}-opacity-enabled);
    }

    &:hover {
        background: vhsla(--color, #{$namespace}-opacity-transparent);
        border-color: vhsla(--color, #{$namespace}-opacity-transparent);
    }

    &[aria-current] {
        background: vhsla(--color, #{$namespace}-opacity-translucent);
        border-color: vhsla(--color, #{$namespace}-opacity-translucent);
    }
}

@mixin menu-heading($namespace) {
    display: flex;
    align-items: center;

    font-size: var(#{$namespace}-font-size);
    font-weight: var(#{$namespace}-font-weight);

    letter-spacing: var(#{$namespace}-letter-spacing);
    text-transform: uppercase;

    opacity: var(#{$namespace}-opacity-dull);

    &[for] {
        cursor: pointer;

        transition: color var(#{$namespace}-transition), opacity var(#{$namespace}-transition);

        &:hover {
            color: vhsl(--color);
            opacity: var(#{$namespace}-opacity-muted);
        }
    }
}

@mixin menu-submenu($namespace) {
    position: relative;

    list-style: none;

    & #{$menu-submenu} {
        padding: var(#{$namespace}-padding);

        &::before {
            display: block;
            content: "";

            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            border-left: currentColor var(#{$namespace}-border);
            opacity: var(#{$namespace}-opacity-dull);
        }
    }
}

@mixin menu-separator($namespace) {
    &::before {
        flex-grow: unset;
        width: var(#{$namespace}-size);
    }
}

@mixin menu-state() {
    display: none;

    &:not(:checked) ~ :last-child {
        display: none;
    }
}

#{$menu} {
    @include use-palette(--menu);

    position: relative;

    font-weight: var(--menu-font-weight);
    user-select: none;

    &[data-palette] {
        @include use-palette-block();

        padding: var(--menu-padding);

        border: var(--menu-border) vhsl(--menu-border-color);
        border-radius: var(--menu-radius);
    }

    & > * {
        margin: 0;
    }

    & #{$menu-anchor} {
        @include menu-anchor(--menu-anchor);
    }

    & #{$menu-heading} {
        @include menu-heading(--menu-heading);
    }

    & #{$menu-submenu} {
        @include menu-submenu(--menu-submenu);
    }

    & #{$divider-separator} {
        @include menu-separator(--menu-separator);
    }

    & #{$menu-state} {
        @include menu-state();
    }
}
