:root {
    /**
     * Spacer Tokens
     */

    --spacer-spacing-tiny: var(--spacing-block-tiny);
    --spacer-spacing-small: var(--spacing-block-small);
    --spacer-spacing-medium: var(--spacing-block-medium);
    --spacer-spacing-large: var(--spacing-block-large);
    --spacer-spacing-huge: var(--spacing-block-huge);
}
