$spacer: ".spacer";

$spacer-block: "div.spacer";
$spacer-inline: "span.spacer";

/** TODO: Default to no spacing when atribute not set,
and during default do flex-grow: 1, align-self: stretch */

@mixin spacer-block() {
    @include use-spacing(--spacer-spacing-block, true, 100%);

    width: var(--width);
    height: var(--height);

    &:not([data-orientation]) {
        --height: var(--spacing);
        --width: 0;
    }

    &[data-orientation="horizontal"] {
        --height: 0;
        --width: var(--spacing);
    }
}

@mixin spacer-inline() {
    @include use-spacing(--spacer-spacing-inline, true, var(--spacer-spacing-inline-medium));

    margin: var(--margin);

    &:not([data-orientation]) {
        --margin: 0 var(--spacing) 0 0;
    }

    &[data-orientation="vertical"] {
        --margin: var(--spacing) 0 0 0;
    }
}

#{$spacer-block} {
    @include spacer-block();
}

#{$spacer-inline} {
    @include spacer-inline();
}
