$navigation-aside: "nav.aside";

$aside-heading: "header";

#{$navigation-aside} {
    @include use-palette(--aside);

    display: block;

    width: max-content;
    height: 100vh;

    padding: var(--aside-padding);

    background: transparent;
    color: currentColor;

    overflow-x: hidden;
    overflow-y: auto;

    &[data-palette] {
        @include use-palette-block();

        --inherited-background: var(--color);
        --inherited-color: var(--background);

        & #{$menu}:not([data-palette]) {
            --background: var(--inherited-background);
            --color: var(--inherited-color);
        }
    }

    & #{$aside-heading} {
        padding: var(--aside-heading-padding);

        letter-spacing: var(--aside-heading-letter-spacing);

        font-size: var(--aside-heading-font-size);
        font-weight: var(--aside-heading-font-weight);

        text-align: center;

        & > #{$anchor} {
            color: inherit;
            text-decoration: none;
        }
    }
}
