:root {
    /**
     * Divider Tokens
     */

    --divider-border: var(--sizing-divider) solid;
    --divider-radius: var(--radius-block);

    --divider-margin-horizontal: 0 var(--spacing-divider);
    --divider-margin-vertical: var(--spacing-divider) 0;

    /**
     * Divider Palette
     */

    --divider-accent: var(--palette-accent-base);
    --divider-dark: var(--palette-dark-base);
    --divider-light: var(--palette-light-base);
    --divider-alert: var(--palette-alert-base);
    --divider-affirmative: var(--palette-affirmative-base);
    --divider-negative: var(--palette-negative-base);

    --divider-opacity-muted: var(--opacity-muted);

    /**
     * Divider Separator Tokens
     */

    --divider-separator-margin: var(--spacing-block-small);

    --divider-separator-font-size: var(--font-size-text-small);
    --divider-separator-font-weight: var(--font-weight-text-bold);

    --divider-separator-letter-spacing: 0.1em;
}
