@mixin use-animation-palette($is-inverted: false) {
    @if ($is-inverted) {
        --animation-background: var(--color);
        --animation-color: var(--background);
    } @else {
        --animation-background: var(--background);
        --animation-color: var(--color);
    }
}

@mixin use-palette($namespace, $has-default: true, $is-inherited: false) {
    @if ($has-default) {
        @if ($is-inherited) {
            --background: var(inherit, var(#{$namespace}-default-background));
            --color: var(inherit, var(#{$namespace}-default-color));
        } @else {
            --background: var(#{$namespace}-default-background);
            --color: var(#{$namespace}-default-color);
        }
    }

    @each $palette in accent, dark, light, alert, affirmative, negative {
        &[data-palette="#{$palette}"] {
            --background: var(#{$namespace}-#{$palette}-background);
            --color: var(#{$namespace}-#{$palette}-color);
        }
    }
}

@mixin use-palette-single($namespace, $has-default: true, $is-inherited: false) {
    @if ($has-default) {
        @if ($is-inherited) {
            --background: var(inherit, var(#{$namespace}-default));
        } @else {
            --background: var(#{$namespace}-default);
        }
    }

    @each $palette in accent, dark, light, alert, affirmative, negative {
        &[data-palette="#{$palette}"] {
            --background: var(#{$namespace}-#{$palette});
        }
    }
}

@mixin use-palette-block($has-selection: true) {
    background: vhsl(--background);
    color: vhsl(--color);

    @if ($has-selection) {
        &::selection,
        & ::selection {
            background-color: vhsl(--color);
            color: vhsl(--background);
        }
    }
}

@mixin use-palette-outline($has-selection: true) {
    background: vhsl(--color);
    border-color: vhsl(--background);
    color: vhsl(--background);

    @if ($has-selection) {
        &::selection,
        & ::selection {
            background-color: vhsl(--background);
            color: vhsl(--color);
        }
    }
}
