@mixin use-anchor() {
    color: currentColor;
    opacity: var(--typography-anchor-opacity-default);

    cursor: pointer;
    text-decoration: none;

    user-select: none;
    transition: opacity var(--typography-anchor-transition);

    &#{$anchor-hover} {
        opacity: var(--typography-anchor-opacity-hover);
    }

    &#{$anchor-active} {
        opacity: var(--typography-anchor-opacity-active);
    }
}
