$grid: ".grid";

#{$grid} {
    @include use-alignment-grid(true);
    @include use-grid-points(true);
    @include use-spacing(--grid-spacing, true);

    display: grid;

    gap: var(--spacing);
    grid-template-columns: repeat(var(--points), 1fr);

    align-items: var(--alignment-x);
    justify-content: var(--alignment-y);

    & > * {
        margin: 0 !important;
    }
}
