$dialog: "input[type='checkbox'].dialog";

$dialog-active: ":checked";

$dialog-backdrop: "label";
$dialog-container: "[role='dialog']";

$dialog-content: "[role='document']";
$dialog-content-body: "section";
$dialog-content-figure: "figure";
$dialog-content-footer: "footer";
$dialog-content-heading: "header";

@mixin dialog-backdrop($namespace) {
    display: block;
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: vhsl(#{$namespace}-background);
    z-index: var(#{$namespace}-z-index);
}

@mixin dialog-container($namespace) {
    --viewport: var(--dialog-viewports-small);

    display: flex;
    position: fixed;

    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    z-index: var(#{$namespace}-z-index);

    @each $viewport in tiny, medium, large {
        &[data-viewport="#{$viewport}"] {
            --viewport: var(--dialog-viewports-#{$viewport});
        }
    }
}

@mixin dialog-content(
    $namespace,
    $body: $dialog-content-body,
    $figure: $dialog-content-figure,
    $footer: $dialog-content-footer,
    $heading: $dialog-content-heading
) {
    @include card-container($namespace, $body, $figure, $footer, $heading);

    max-width: min(var(--viewport), var(#{$namespace}-max-width), 100vw);
    max-height: min(var(#{$namespace}-max-height), 100vw);

    & > #{$body} {
        @include dialog-content-body(#{$namespace}-body);
    }

    & > #{$figure} {
        @include dialog-content-figure(#{$namespace}-figure);
    }

    & > #{$footer} {
        @include dialog-content-footer(#{$namespace}-footer);
    }

    & > #{$heading} {
        @include dialog-content-heading(#{$namespace}-heading);
    }
}

@mixin dialog-content-body($namespace) {
    @include card-body($namespace);

    overflow-x: hidden;
    overflow-y: auto;
}

@mixin dialog-content-figure($namespace) {
    @include card-figure($namespace);
}

@mixin dialog-content-footer($namespace) {
    @include card-footer($namespace);
}

@mixin dialog-content-heading($namespace) {
    @include card-heading($namespace);
}

#{$dialog} {
    display: none;

    &:not(#{$dialog-active}) + #{$dialog-container} {
        display: none;
    }

    & + #{$dialog-container} {
        @include use-palette(--dialog, false);
        @include dialog-container(--dialog-container);

        & > #{$dialog-backdrop} {
            @include dialog-backdrop(--dialog-backdrop);
        }

        & > #{$dialog-content} {
            @include dialog-content(--dialog-content);
        }

        &[data-palette] > #{$dialog-content} {
            @include use-palette-block();

            border-radius: var(--dialog-content-radius);
        }
    }
}
