$menu: "nav.menu";

$menu-item: "li";
$menu-submenu: "ul";
$menu-state: "input[type='checkbox']";

$menu-anchor: "a";
$menu-anchor-active: ":is([aria-current], :active)";
$menu-anchor-hover: ":is(:hover, :focus)";

$menu-button: ":is(a[role='button'], button, label[role='button'])";

$menu-heading: "label:not([role])";
$menu-heading-hover: ":hover";

@mixin menu-anchor($namespace) {
    @include use-palette-single(#{$namespace}-palette, false, false, true);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(#{$namespace}-padding);

    color: inherit;
    background: transparent;

    border: var(#{$namespace}-border) transparent;
    border-radius: var(#{$namespace}-radius);

    text-decoration: none;
    transition: background var(#{$namespace}-transition), border-color var(#{$namespace}-transition),
        color var(#{$namespace}-transition);

    &[data-palette] {
        color: vhsl(--color);
    }

    &#{$menu-anchor-active},
    &#{$menu-anchor-hover} {
        color: vhsl(--color);
        opacity: initial;
    }

    &#{$menu-anchor-hover} {
        background: vhsla(--color, #{$namespace}-opacity-hover);
        border-color: vhsla(--color, #{$namespace}-opacity-hover);
    }

    &#{$menu-anchor-active} {
        background: vhsla(--color, #{$namespace}-opacity-active);
        border-color: vhsla(--color, #{$namespace}-opacity-active);
    }
}

@mixin menu-button($namespace) {
    justify-content: space-between;
    width: 100%;

    text-align: left;

    &[data-variation="clear"] {
        font-weight: inherit;

        &:not([data-palette]) {
            --background: var(--color);
            --color: inherit;

            color: currentColor;
        }
    }
}

@mixin menu-heading($namespace) {
    display: flex;
    align-items: center;

    font-size: var(#{$namespace}-font-size);
    font-weight: var(#{$namespace}-font-weight);

    letter-spacing: var(#{$namespace}-letter-spacing);
    text-transform: uppercase;

    opacity: var(#{$namespace}-opacity-default);

    &[for] {
        cursor: pointer;

        transition: color var(#{$namespace}-transition), opacity var(#{$namespace}-transition);

        &#{$menu-heading-hover} {
            color: vhsl(--color);
            opacity: var(#{$namespace}-opacity-hover);
        }

        &:active {
            opacity: var(#{$namespace}-opacity-active);
        }
    }
}

@mixin menu-submenu($namespace) {
    position: relative;

    list-style: none;

    & #{$menu-submenu} {
        padding: var(#{$namespace}-padding);

        &::before {
            display: block;
            content: "";

            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            border-left: currentColor var(#{$namespace}-border);
            opacity: var(#{$namespace}-opacity-dull);
        }
    }
}

@mixin menu-separator($namespace) {
    &::before {
        flex-grow: unset;
        width: var(#{$namespace}-size);
    }
}

@mixin menu-state() {
    display: none;

    &:not(:checked) ~ :last-child {
        display: none;
    }
}

#{$menu} {
    @include use-palette(--menu-palette);

    position: relative;

    font-weight: var(--menu-font-weight);
    user-select: none;

    &[data-palette] {
        @include use-palette-block();

        padding: var(--menu-padding);

        border: var(--menu-border);
        border-radius: var(--menu-radius);
    }

    & > * {
        margin: 0;
    }

    & #{$menu-anchor} {
        @include menu-anchor(--menu-anchor);
    }

    & #{$menu-button} {
        @include menu-button(--menu-button);
    }

    & #{$menu-heading} {
        @include menu-heading(--menu-heading);
    }

    & #{$menu-submenu} {
        @include menu-submenu(--menu-submenu);
    }

    & #{$divider-separator} {
        @include menu-separator(--menu-separator);
    }

    & #{$menu-state} {
        @include menu-state();
    }
}
