:root {
    /**
     * Popover Tokens
     */

    --popover-margin: var(--spacing-block-medium);

    /**
     * Popover Sizing Tokens
     */

    --popover-sizing-tiny: var(--sizing-block-tiny);
    --popover-sizing-small: var(--sizing-block-small);
    --popover-sizing-medium: var(--sizing-block-medium);
    --popover-sizing-large: var(--sizing-block-large);
    --popover-sizing-huge: var(--sizing-block-huge);
}
