$hero: ".hero";

$hero-anchor: "a";
$hero-heading: "header";
$hero-text: "p";
$hero-help: "footer";

#{$hero} {
    @include use-palette(--hero);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: var(--hero-padding);

    background: transparent;
    color: currentColor;

    text-align: center;

    &[data-palette] {
        @include use-palette-block();
    }

    & #{$hero-anchor} {
        color: inherit;
    }

    & #{$hero-heading} {
        font-size: var(--hero-heading-font-size);
        font-weight: var(--hero-heading-font-weight);
    }

    & #{$hero-help} {
        font-size: var(--hero-help-font-size);
    }

    & #{$hero-text} {
        font-size: var(--hero-text-font-size);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &[data-size="parent"] {
        height: 100%;
    }

    &[data-size="viewport"] {
        height: 100vh;
    }
}
