$card: ".card";

$card-figure: "figure";
$card-footer: "footer";

$card-body: "section";
$card-body-heading: "header";
$card-body-text: "p";

@mixin card-body($namespace-body, $namespace-heading: $namespace-body + "-heading") {
    padding: var(#{$namespace-body}-padding);

    & > #{$card-body-heading} {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: var(#{$namespace-heading}-font-size);
        font-weight: var(#{$namespace-heading}-font-weight);

        & > * {
            font-weight: initial;
        }
    }

    & > #{$card-body-text} {
        margin: 0;
    }
}

@mixin card-figure($namespace) {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: var(#{$namespace}-margin);

    & > * {
        flex-grow: 1;
        object-fit: cover;
    }
}

@mixin card-footer($namespace) {
    display: flex;
    align-items: center;

    & > * {
        border-radius: 0;
        flex-grow: 1;
    }
}

#{$card} {
    @include use-palette(--card, false);

    background: transparent;
    color: currentColor;

    overflow: hidden;

    &[data-palette] {
        @include use-palette-block();

        margin: var(--card-margin);

        border: var(--card-border) vhsl(--card-border-color);
        border-radius: var(--card-radius);
    }

    & > #{$card-body} {
        @include card-body(--card-body);
    }

    & > #{$card-figure} {
        @include card-figure(--card-figure);
    }

    & > #{$card-footer} {
        @include card-footer(--card-footer);
    }
}

#{$anchor}#{$card},
#{$label}#{$card} {
    @include use-linkable(--card);
}
