.badge {
    --palette-background-normal: var(--palette-neutral-normal);
    --palette-foreground-normal: var(--palette-light-normal);

    @apply align-middle bg-[rgb(var(--palette-background-normal))] font-bold gap-[var(--spacing-local-small)]
    inline-flex items-center justify-center leading-[var(--font-content-line-height-nano)] p-[var(--spacing-local-small)]
    relative text-[rgb(var(--palette-foreground-normal))] transform-gpu whitespace-nowrap;

    font-size: var(--font-content-size-nano);

    &[data-position] {
        @apply pointer-events-none rounded-4xl select-none;
    }
}
