$card: ".card";

$card-body: "section";
$card-heading: "header";
$card-figure: "figure";
$card-footer: "footer";

@mixin card-container(
    $namespace,
    $body: $card-body,
    $figure: $card-figure,
    $footer: $card-footer,
    $heading: $card-heading
) {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    & > :not(#{$figure}, #{$footer}) {
        padding: var(#{$namespace}-padding);

        &:first-child {
            margin-top: var(#{$namespace}-spacing);
        }

        &:last-child {
            margin-bottom: var(#{$namespace}-spacing);
        }
    }

    & > * + * {
        margin-top: var(#{$namespace}-spacing);
    }

    & > #{$body} {
        @include card-body(#{$namespace}-body);
    }

    & > #{$heading} {
        @include card-heading(#{$namespace}-heading);
    }

    & > #{$figure} {
        @include card-figure(#{$namespace}-figure);
    }

    & > #{$footer} {
        @include card-footer(#{$namespace}-footer);
    }
}

@mixin card-body($namespace) {
    position: relative;

    & > * {
        margin: 0;
    }
}

@mixin card-figure($namespace) {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    margin: var(#{$namespace}-margin);

    & > * {
        flex-grow: 1;
        object-fit: cover;
    }
}

@mixin card-footer($namespace) {
    display: flex;
    align-items: center;

    & > * {
        border-radius: 0;
        flex-grow: 1;
    }
}

@mixin card-heading($namespace) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: var(#{$namespace}-font-size);
    font-weight: var(#{$namespace}-font-weight);

    & > * {
        font-weight: initial;
    }
}

#{$card} {
    @include use-palette(--card-palette, false);
    @include card-container(--card);

    margin: var(--card-margin);

    background: transparent;
    color: currentColor;

    &[data-palette] {
        @include use-palette-block();

        border: var(--card-border);
        border-radius: var(--card-radius);
    }
}

:is(#{$anchor}, #{$label})#{$card} {
    @include use-anchor();
}
