$card: ".card";

$card-body: "section";
$card-heading: "header";
$card-figure: "figure";
$card-footer: "footer";

@mixin card-container($namespace, $figure: $card-figure) {
    display: flex;
    flex-direction: column;
    gap: var(#{$namespace}-spacing);

    overflow: hidden;

    & > :not(#{$figure}) {
        padding: 0 var(#{$namespace}-padding);

        &:first-child {
            margin-top: var(#{$namespace}-padding);
        }

        &:last-child {
            margin-bottom: var(#{$namespace}-padding);
        }
    }
}

@mixin card-block($namespace) {
    @include use-palette-block();

    border: var(#{$namespace}-border);
    border-radius: var(#{$namespace}-radius);
    margin: var(#{$namespace}-margin);
}

@mixin card-body($namespace) {
    position: relative;

    & > * {
        margin: 0;
    }
}

@mixin card-figure($namespace) {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    margin: var(#{$namespace}-margin);

    & > * {
        flex-grow: 1;
        object-fit: cover;
    }
}

@mixin card-footer($namespace) {
    display: flex;
    justify-content: flex-end;

    gap: var(#{$namespace}-spacing);
}

@mixin card-heading($namespace) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: var(#{$namespace}-font-size);
    font-weight: var(#{$namespace}-font-weight);

    & > * {
        font-weight: initial;
    }
}

#{$card} {
    @include use-palette(--card-palette, false);
    @include card-container(--card, #{$card-figure});

    background: transparent;
    color: currentColor;

    &[data-palette] {
        @include card-block(--card);
    }

    & > #{$card-body} {
        @include card-body(--card-body);
    }

    & > #{$card-heading} {
        @include card-heading(--card-heading);
    }

    & > #{$card-figure} {
        @include card-figure(--card-figure);
    }

    & > #{$card-footer} {
        @include card-footer(--card-footer);
    }
}

:is(#{$anchor}, #{$label})#{$card} {
    @include use-anchor();
}
