html {
    @apply bg-[rgb(var(--document-background))] leading-[var(--document-font-line-height)] text-[rgb(var(--document-foreground))];

    font-size: var(--document-font-size);

    & ::selection {
        @apply bg-[rgb(var(--selection-background))] text-[rgb(var(--selection-foreground))];
    }
}

* {
    /** TODO: Remove after adding ARIA / Accessibility support */

    -webkit-tap-highlight-color: transparent;

    scrollbar-width: auto;
    scrollbar-color: rgb(var(--scrollbar-foreground)) rgb(var(--scrollbar-background));

    &,
    &::before,
    &::after {
        @apply transition duration-200 ease-out-quad;
    }
}

::-webkit-scrollbar {
    @apply h-[var(--scrollbar-size)] w-[var(--scrollbar-size)];
}

::-webkit-scrollbar-track {
    @apply bg-[rgb(var(--scrollbar-background))];
}

::-webkit-scrollbar-thumb {
    @apply bg-[rgb(var(--scrollbar-foreground))];
}
