[data-size="tiny"] {
    --size-embedded: var(--sizes-embedded-tiny);
    --size-icon: var(--sizes-icon-tiny);

    --size-text-size: var(--font-content-size-nano);
    --size-text-line-height: var(--font-content-line-height-nano);
}

[data-size="small"] {
    --size-embedded: var(--sizes-embedded-small);
    --size-icon: var(--sizes-icon-small);

    --size-text-size: var(--font-content-size-small);
    --size-text-line-height: var(--font-content-line-height-small);
}

[data-size="medium"] {
    --size-embedded: var(--sizes-embedded-medium);
    --size-icon: var(--sizes-icon-medium);

    --size-text-size: var(--font-content-size-medium);
    --size-text-line-height: var(--font-content-line-height-medium);
}

[data-size="large"] {
    --size-embedded: var(--sizes-embedded-large);
    --size-icon: var(--sizes-icon-large);

    --size-text-size: var(--font-content-size-large);
    --size-text-line-height: var(--font-content-line-height-large);
}

[data-size="huge"] {
    --size-embedded: var(--sizes-embedded-huge);
    --size-icon: var(--sizes-icon-huge);

    --size-text-size: var(--font-content-size-huge);
    --size-text-line-height: var(--font-content-line-height-huge);
}
