/** GLOBAL WIDTH */

[data-width~="auto"] {
    @apply !w-auto;
}

[data-width~="content-fit"] {
    @apply !w-[-moz-fit-content] w-[fit-content];
}

[data-width~="content-max"] {
    @apply !w-max;
}

[data-width~="content-min"] {
    @apply !w-min;
}

[data-width~="prose"] {
    @apply !w-[var(--sizes-prose)];
}

[data-width~="stretch"] {
    @apply !w-[-moz-available] w-[-webkit-fill-available] w-[stretch];
}

[data-width~="0"] {
    @apply !w-0;
}

[data-width~="25"] {
    @apply !w-[25%];
}

[data-width~="viewport-25"] {
    @apply !w-[25vw];
}

[data-width~="33"] {
    @apply !w-[33%];
}

[data-width~="viewport-33"] {
    @apply !w-[33vw];
}

[data-width~="50"] {
    @apply !w-[50%];
}

[data-width~="viewport-50"] {
    @apply !w-[50vw];
}

[data-width~="66"] {
    @apply !w-[66%];
}

[data-width~="viewport-66"] {
    @apply !w-[66vw];
}

[data-width~="75"] {
    @apply !w-[75%];
}

[data-width~="viewport-75"] {
    @apply !w-[75vw];
}

[data-width~="100"] {
    @apply !w-full;
}

[data-width~="viewport-100"] {
    @apply !w-[100vw];
}

@variants <sm {
    [data-width~="mobile:auto"] {
        @apply !w-auto;
    }

    [data-width~="mobile:content-fit"] {
        @apply !w-[-moz-fit-content] w-[fit-content];
    }

    [data-width~="mobile:content-max"] {
        @apply !w-max;
    }

    [data-width~="mobile:content-min"] {
        @apply !w-min;
    }

    [data-width~="mobile:prose"] {
        @apply !w-[var(--sizes-prose)];
    }

    [data-width~="mobile:stretch"] {
        @apply !w-[-moz-available] w-[-webkit-fill-available] w-[stretch];
    }

    [data-width~="mobile:0"] {
        @apply !w-0;
    }

    [data-width~="mobile:25"] {
        @apply !w-[25%];
    }

    [data-width~="mobile:viewport-25"] {
        @apply !w-[25vw];
    }

    [data-width~="mobile:33"] {
        @apply !w-[33%];
    }

    [data-width~="mobile:viewport-33"] {
        @apply !w-[33vw];
    }

    [data-width~="mobile:50"] {
        @apply !w-[50%];
    }

    [data-width~="mobile:viewport-50"] {
        @apply !w-[50vw];
    }

    [data-width~="mobile:66"] {
        @apply !w-[66%];
    }

    [data-width~="mobile:viewport-66"] {
        @apply !w-[66vw];
    }

    [data-width~="mobile:75"] {
        @apply !w-[75%];
    }

    [data-width~="mobile:viewport-75"] {
        @apply !w-[75vw];
    }

    [data-width~="mobile:100"] {
        @apply !w-full;
    }

    [data-width~="mobile:viewport-100"] {
        @apply !w-[100vw];
    }
}

@variants @sm {
    [data-width~="tablet:auto"] {
        @apply !w-auto;
    }

    [data-width~="tablet:content-fit"] {
        @apply !w-[-moz-fit-content] w-[fit-content];
    }

    [data-width~="tablet:content-max"] {
        @apply !w-max;
    }

    [data-width~="tablet:content-min"] {
        @apply !w-min;
    }

    [data-width~="tablet:prose"] {
        @apply !w-[var(--sizes-prose)];
    }

    [data-width~="tablet:stretch"] {
        @apply !w-[-moz-available] w-[-webkit-fill-available] w-[stretch];
    }

    [data-width~="tablet:0"] {
        @apply !w-0;
    }

    [data-width~="tablet:25"] {
        @apply !w-[25%];
    }

    [data-width~="tablet:viewport-25"] {
        @apply !w-[25vw];
    }

    [data-width~="tablet:33"] {
        @apply !w-[33%];
    }

    [data-width~="tablet:viewport-33"] {
        @apply !w-[33vw];
    }

    [data-width~="tablet:50"] {
        @apply !w-[50%];
    }

    [data-width~="tablet:viewport-50"] {
        @apply !w-[50vw];
    }

    [data-width~="tablet:66"] {
        @apply !w-[66%];
    }

    [data-width~="tablet:viewport-66"] {
        @apply !w-[66vw];
    }

    [data-width~="tablet:75"] {
        @apply !w-[75%];
    }

    [data-width~="tablet:viewport-75"] {
        @apply !w-[75vw];
    }

    [data-width~="tablet:100"] {
        @apply !w-full;
    }

    [data-width~="tablet:viewport-100"] {
        @apply !w-[100vw];
    }
}

@variants @md {
    [data-width~="desktop:auto"] {
        @apply !w-auto;
    }

    [data-width~="desktop:content-fit"] {
        @apply !w-[-moz-fit-content] w-[fit-content];
    }

    [data-width~="desktop:content-max"] {
        @apply !w-max;
    }

    [data-width~="desktop:content-min"] {
        @apply !w-min;
    }

    [data-width~="desktop:prose"] {
        @apply !w-[var(--sizes-prose)];
    }

    [data-width~="desktop:stretch"] {
        @apply !w-[-moz-available] w-[-webkit-fill-available] w-[stretch];
    }

    [data-width~="desktop:0"] {
        @apply !w-0;
    }

    [data-width~="desktop:25"] {
        @apply !w-[25%];
    }

    [data-width~="desktop:viewport-25"] {
        @apply !w-[25vw];
    }

    [data-width~="desktop:33"] {
        @apply !w-[33%];
    }

    [data-width~="desktop:viewport-33"] {
        @apply !w-[33vw];
    }

    [data-width~="desktop:50"] {
        @apply !w-[50%];
    }

    [data-width~="desktop:viewport-50"] {
        @apply !w-[50vw];
    }

    [data-width~="desktop:66"] {
        @apply !w-[66%];
    }

    [data-width~="desktop:viewport-66"] {
        @apply !w-[66vw];
    }

    [data-width~="desktop:75"] {
        @apply !w-[75%];
    }

    [data-width~="desktop:viewport-75"] {
        @apply !w-[75vw];
    }

    [data-width~="desktop:100"] {
        @apply !w-full;
    }

    [data-width~="desktop:viewport-100"] {
        @apply !w-[100vw];
    }
}

@variants lg {
    [data-width~="widescreen:auto"] {
        @apply !w-auto;
    }

    [data-width~="widescreen:content-fit"] {
        @apply !w-[-moz-fit-content] w-[fit-content];
    }

    [data-width~="widescreen:content-max"] {
        @apply !w-max;
    }

    [data-width~="widescreen:content-min"] {
        @apply !w-min;
    }

    [data-width~="widescreen:prose"] {
        @apply !w-[var(--sizes-prose)];
    }

    [data-width~="widescreen:stretch"] {
        @apply !w-[-moz-available] w-[-webkit-fill-available] w-[stretch];
    }

    [data-width~="widescreen:0"] {
        @apply !w-0;
    }

    [data-width~="widescreen:25"] {
        @apply !w-[25%];
    }

    [data-width~="widescreen:viewport-25"] {
        @apply !w-[25vw];
    }

    [data-width~="widescreen:33"] {
        @apply !w-[33%];
    }

    [data-width~="widescreen:viewport-33"] {
        @apply !w-[33vw];
    }

    [data-width~="widescreen:50"] {
        @apply !w-[50%];
    }

    [data-width~="widescreen:viewport-50"] {
        @apply !w-[50vw];
    }

    [data-width~="widescreen:66"] {
        @apply !w-[66%];
    }

    [data-width~="widescreen:viewport-66"] {
        @apply !w-[66vw];
    }

    [data-width~="widescreen:75"] {
        @apply !w-[75%];
    }

    [data-width~="widescreen:viewport-75"] {
        @apply !w-[75vw];
    }

    [data-width~="widescreen:100"] {
        @apply !w-full;
    }

    [data-width~="widescreen:viewport-100"] {
        @apply !w-[100vw];
    }
}

[data-max-width~="content-fit"] {
    @apply !max-w-[-moz-fit-content] !max-w-[fit-content];
}

[data-max-width~="content-max"] {
    @apply !max-w-max;
}

[data-max-width~="content-min"] {
    @apply !max-w-min;
}

[data-max-width~="prose"] {
    @apply !max-w-[var(--sizes-prose)];
}

[data-max-width~="stretch"] {
    @apply !max-w-[-moz-available] !max-w-[-webkit-fill-available] !max-w-[stretch];
}

[data-max-width~="0"] {
    @apply !max-w-0;
}

[data-max-width~="25"] {
    @apply !max-w-[25%];
}

[data-max-width~="viewport-25"] {
    @apply !max-w-[25vw];
}

[data-max-width~="33"] {
    @apply !max-w-[33%];
}

[data-max-width~="viewport-33"] {
    @apply !max-w-[33vw];
}

[data-max-width~="50"] {
    @apply !max-w-[50%];
}

[data-max-width~="viewport-50"] {
    @apply !max-w-[50vw];
}

[data-max-width~="66"] {
    @apply !max-w-[66%];
}

[data-max-width~="viewport-66"] {
    @apply !max-w-[66vw];
}

[data-max-width~="75"] {
    @apply !max-w-[75%];
}

[data-max-width~="viewport-75"] {
    @apply !max-w-[75vw];
}

[data-max-width~="100"] {
    @apply !max-w-full;
}

[data-max-width~="viewport-100"] {
    @apply !max-w-[100vw];
}

@variants <sm {
    [data-max-width~="mobile:content-fit"] {
        @apply !max-w-[-moz-fit-content] !max-w-[fit-content];
    }

    [data-max-width~="mobile:content-max"] {
        @apply !max-w-max;
    }

    [data-max-width~="mobile:content-min"] {
        @apply !max-w-min;
    }

    [data-max-width~="mobile:prose"] {
        @apply !max-w-[var(--sizes-prose)];
    }

    [data-max-width~="mobile:stretch"] {
        @apply !max-w-[-moz-available] !max-w-[-webkit-fill-available] !max-w-[stretch];
    }

    [data-max-width~="mobile:0"] {
        @apply !max-w-0;
    }

    [data-max-width~="mobile:25"] {
        @apply !max-w-[25%];
    }

    [data-max-width~="mobile:viewport-25"] {
        @apply !max-w-[25vw];
    }

    [data-max-width~="mobile:33"] {
        @apply !max-w-[33%];
    }

    [data-max-width~="mobile:viewport-33"] {
        @apply !max-w-[33vw];
    }

    [data-max-width~="mobile:50"] {
        @apply !max-w-[50%];
    }

    [data-max-width~="mobile:viewport-50"] {
        @apply !max-w-[50vw];
    }

    [data-max-width~="mobile:66"] {
        @apply !max-w-[66%];
    }

    [data-max-width~="mobile:viewport-66"] {
        @apply !max-w-[66vw];
    }

    [data-max-width~="mobile:75"] {
        @apply !max-w-[75%];
    }

    [data-max-width~="mobile:viewport-75"] {
        @apply !max-w-[75vw];
    }

    [data-max-width~="mobile:100"] {
        @apply !max-w-full;
    }

    [data-max-width~="mobile:viewport-100"] {
        @apply !max-w-[100vw];
    }
}

@variants @sm {
    [data-max-width~="tablet:content-fit"] {
        @apply !max-w-[-moz-fit-content] !max-w-[fit-content];
    }

    [data-max-width~="tablet:content-max"] {
        @apply !max-w-max;
    }

    [data-max-width~="tablet:content-min"] {
        @apply !max-w-min;
    }

    [data-max-width~="tablet:prose"] {
        @apply !max-w-[var(--sizes-prose)];
    }

    [data-max-width~="tablet:stretch"] {
        @apply !max-w-[-moz-available] !max-w-[-webkit-fill-available] !max-w-[stretch];
    }

    [data-max-width~="tablet:0"] {
        @apply !max-w-0;
    }

    [data-max-width~="tablet:25"] {
        @apply !max-w-[25%];
    }

    [data-max-width~="tablet:viewport-25"] {
        @apply !max-w-[25vw];
    }

    [data-max-width~="tablet:33"] {
        @apply !max-w-[33%];
    }

    [data-max-width~="tablet:viewport-33"] {
        @apply !max-w-[33vw];
    }

    [data-max-width~="tablet:50"] {
        @apply !max-w-[50%];
    }

    [data-max-width~="tablet:viewport-50"] {
        @apply !max-w-[50vw];
    }

    [data-max-width~="tablet:66"] {
        @apply !max-w-[66%];
    }

    [data-max-width~="tablet:viewport-66"] {
        @apply !max-w-[66vw];
    }

    [data-max-width~="tablet:75"] {
        @apply !max-w-[75%];
    }

    [data-max-width~="tablet:viewport-75"] {
        @apply !max-w-[75vw];
    }

    [data-max-width~="tablet:100"] {
        @apply !max-w-full;
    }

    [data-max-width~="tablet:viewport-100"] {
        @apply !max-w-[100vw];
    }
}

@variants @md {
    [data-max-width~="desktop:content-fit"] {
        @apply !max-w-[-moz-fit-content] !max-w-[fit-content];
    }

    [data-max-width~="desktop:content-max"] {
        @apply !max-w-max;
    }

    [data-max-width~="desktop:content-min"] {
        @apply !max-w-min;
    }

    [data-max-width~="desktop:prose"] {
        @apply !max-w-[var(--sizes-prose)];
    }

    [data-max-width~="desktop:stretch"] {
        @apply !max-w-[-moz-available] !max-w-[-webkit-fill-available] !max-w-[stretch];
    }

    [data-max-width~="desktop:0"] {
        @apply !max-w-0;
    }

    [data-max-width~="desktop:25"] {
        @apply !max-w-[25%];
    }

    [data-max-width~="desktop:viewport-25"] {
        @apply !max-w-[25vw];
    }

    [data-max-width~="desktop:33"] {
        @apply !max-w-[33%];
    }

    [data-max-width~="desktop:viewport-33"] {
        @apply !max-w-[33vw];
    }

    [data-max-width~="desktop:50"] {
        @apply !max-w-[50%];
    }

    [data-max-width~="desktop:viewport-50"] {
        @apply !max-w-[50vw];
    }

    [data-max-width~="desktop:66"] {
        @apply !max-w-[66%];
    }

    [data-max-width~="desktop:viewport-66"] {
        @apply !max-w-[66vw];
    }

    [data-max-width~="desktop:75"] {
        @apply !max-w-[75%];
    }

    [data-max-width~="desktop:viewport-75"] {
        @apply !max-w-[75vw];
    }

    [data-max-width~="desktop:100"] {
        @apply !max-w-full;
    }

    [data-max-width~="desktop:viewport-100"] {
        @apply !max-w-[100vw];
    }
}

@variants lg {
    [data-max-width~="widescreen:content-fit"] {
        @apply !max-w-[-moz-fit-content] !max-w-[fit-content];
    }

    [data-max-width~="widescreen:content-max"] {
        @apply !max-w-max;
    }

    [data-max-width~="widescreen:content-min"] {
        @apply !max-w-min;
    }

    [data-max-width~="widescreen:prose"] {
        @apply !max-w-[var(--sizes-prose)];
    }

    [data-max-width~="widescreen:stretch"] {
        @apply !max-w-[-moz-available] !max-w-[-webkit-fill-available] !max-w-[stretch];
    }

    [data-max-width~="widescreen:0"] {
        @apply !max-w-0;
    }

    [data-max-width~="widescreen:25"] {
        @apply !max-w-[25%];
    }

    [data-max-width~="widescreen:viewport-25"] {
        @apply !max-w-[25vw];
    }

    [data-max-width~="widescreen:33"] {
        @apply !max-w-[33%];
    }

    [data-max-width~="widescreen:viewport-33"] {
        @apply !max-w-[33vw];
    }

    [data-max-width~="widescreen:50"] {
        @apply !max-w-[50%];
    }

    [data-max-width~="widescreen:viewport-50"] {
        @apply !max-w-[50vw];
    }

    [data-max-width~="widescreen:66"] {
        @apply !max-w-[66%];
    }

    [data-max-width~="widescreen:viewport-66"] {
        @apply !max-w-[66vw];
    }

    [data-max-width~="widescreen:75"] {
        @apply !max-w-[75%];
    }

    [data-max-width~="widescreen:viewport-75"] {
        @apply !max-w-[75vw];
    }

    [data-max-width~="widescreen:100"] {
        @apply !max-w-full;
    }

    [data-max-width~="widescreen:viewport-100"] {
        @apply !max-w-[100vw];
    }
}

[data-min-width~="content-fit"] {
    @apply !min-w-[-moz-fit-content] !min-w-[fit-content];
}

[data-min-width~="content-max"] {
    @apply !min-w-max;
}

[data-min-width~="content-min"] {
    @apply !min-w-min;
}

[data-min-width~="prose"] {
    @apply !min-w-[var(--sizes-prose)];
}

[data-min-width~="stretch"] {
    @apply !min-w-[-moz-available] !min-w-[-webkit-fill-available] !min-w-[stretch];
}

[data-min-width~="0"] {
    @apply !min-w-0;
}

[data-min-width~="25"] {
    @apply !min-w-[25%];
}

[data-min-width~="viewport-25"] {
    @apply !min-w-[25vw];
}

[data-min-width~="33"] {
    @apply !min-w-[33%];
}

[data-min-width~="viewport-33"] {
    @apply !min-w-[33vw];
}

[data-min-width~="50"] {
    @apply !min-w-[50%];
}

[data-min-width~="viewport-50"] {
    @apply !min-w-[50vw];
}

[data-min-width~="66"] {
    @apply !min-w-[66%];
}

[data-min-width~="viewport-66"] {
    @apply !min-w-[66vw];
}

[data-min-width~="75"] {
    @apply !min-w-[75%];
}

[data-min-width~="viewport-75"] {
    @apply !min-w-[75vw];
}

[data-min-width~="100"] {
    @apply !min-w-full;
}

[data-min-width~="viewport-100"] {
    @apply !min-w-[100vw];
}

@variants <sm {
    [data-min-width~="mobile:content-fit"] {
        @apply !min-w-[-moz-fit-content] !min-w-[fit-content];
    }

    [data-min-width~="mobile:content-max"] {
        @apply !min-w-max;
    }

    [data-min-width~="mobile:content-min"] {
        @apply !min-w-min;
    }

    [data-min-width~="mobile:prose"] {
        @apply !min-w-[var(--sizes-prose)];
    }

    [data-min-width~="mobile:stretch"] {
        @apply !min-w-[-moz-available] !min-w-[-webkit-fill-available] !min-w-[stretch];
    }

    [data-min-width~="mobile:0"] {
        @apply !min-w-0;
    }

    [data-min-width~="mobile:25"] {
        @apply !min-w-[25%];
    }

    [data-min-width~="mobile:viewport-25"] {
        @apply !min-w-[25vw];
    }

    [data-min-width~="mobile:33"] {
        @apply !min-w-[33%];
    }

    [data-min-width~="mobile:viewport-33"] {
        @apply !min-w-[33vw];
    }

    [data-min-width~="mobile:50"] {
        @apply !min-w-[50%];
    }

    [data-min-width~="mobile:viewport-50"] {
        @apply !min-w-[50vw];
    }

    [data-min-width~="mobile:66"] {
        @apply !min-w-[66%];
    }

    [data-min-width~="mobile:viewport-66"] {
        @apply !min-w-[66vw];
    }

    [data-min-width~="mobile:75"] {
        @apply !min-w-[75%];
    }

    [data-min-width~="mobile:viewport-75"] {
        @apply !min-w-[75vw];
    }

    [data-min-width~="mobile:100"] {
        @apply !min-w-full;
    }

    [data-min-width~="mobile:viewport-100"] {
        @apply !min-w-[100vw];
    }
}

@variants @sm {
    [data-min-width~="tablet:content-fit"] {
        @apply !min-w-[-moz-fit-content] !min-w-[fit-content];
    }

    [data-min-width~="tablet:content-max"] {
        @apply !min-w-max;
    }

    [data-min-width~="tablet:content-min"] {
        @apply !min-w-min;
    }

    [data-min-width~="tablet:prose"] {
        @apply !min-w-[var(--sizes-prose)];
    }

    [data-min-width~="tablet:stretch"] {
        @apply !min-w-[-moz-available] !min-w-[-webkit-fill-available] !min-w-[stretch];
    }

    [data-min-width~="tablet:0"] {
        @apply !min-w-0;
    }

    [data-min-width~="tablet:25"] {
        @apply !min-w-[25%];
    }

    [data-min-width~="tablet:viewport-25"] {
        @apply !min-w-[25vw];
    }

    [data-min-width~="tablet:33"] {
        @apply !min-w-[33%];
    }

    [data-min-width~="tablet:viewport-33"] {
        @apply !min-w-[33vw];
    }

    [data-min-width~="tablet:50"] {
        @apply !min-w-[50%];
    }

    [data-min-width~="tablet:viewport-50"] {
        @apply !min-w-[50vw];
    }

    [data-min-width~="tablet:66"] {
        @apply !min-w-[66%];
    }

    [data-min-width~="tablet:viewport-66"] {
        @apply !min-w-[66vw];
    }

    [data-min-width~="tablet:75"] {
        @apply !min-w-[75%];
    }

    [data-min-width~="tablet:viewport-75"] {
        @apply !min-w-[75vw];
    }

    [data-min-width~="tablet:100"] {
        @apply !min-w-full;
    }

    [data-min-width~="tablet:viewport-100"] {
        @apply !min-w-[100vw];
    }
}

@variants @md {
    [data-min-width~="desktop:content-fit"] {
        @apply !min-w-[-moz-fit-content] !min-w-[fit-content];
    }

    [data-min-width~="desktop:content-max"] {
        @apply !min-w-max;
    }

    [data-min-width~="desktop:content-min"] {
        @apply !min-w-min;
    }

    [data-min-width~="desktop:prose"] {
        @apply !min-w-[var(--sizes-prose)];
    }

    [data-min-width~="desktop:stretch"] {
        @apply !min-w-[-moz-available] !min-w-[-webkit-fill-available] !min-w-[stretch];
    }

    [data-min-width~="desktop:0"] {
        @apply !min-w-0;
    }

    [data-min-width~="desktop:25"] {
        @apply !min-w-[25%];
    }

    [data-min-width~="desktop:viewport-25"] {
        @apply !min-w-[25vw];
    }

    [data-min-width~="desktop:33"] {
        @apply !min-w-[33%];
    }

    [data-min-width~="desktop:viewport-33"] {
        @apply !min-w-[33vw];
    }

    [data-min-width~="desktop:50"] {
        @apply !min-w-[50%];
    }

    [data-min-width~="desktop:viewport-50"] {
        @apply !min-w-[50vw];
    }

    [data-min-width~="desktop:66"] {
        @apply !min-w-[66%];
    }

    [data-min-width~="desktop:viewport-66"] {
        @apply !min-w-[66vw];
    }

    [data-min-width~="desktop:75"] {
        @apply !min-w-[75%];
    }

    [data-min-width~="desktop:viewport-75"] {
        @apply !min-w-[75vw];
    }

    [data-min-width~="desktop:100"] {
        @apply !min-w-full;
    }

    [data-min-width~="desktop:viewport-100"] {
        @apply !min-w-[100vw];
    }
}

@variants lg {
    [data-min-width~="widescreen:content-fit"] {
        @apply !min-w-[-moz-fit-content] !min-w-[fit-content];
    }

    [data-min-width~="widescreen:content-max"] {
        @apply !min-w-max;
    }

    [data-min-width~="widescreen:content-min"] {
        @apply !min-w-min;
    }

    [data-min-width~="widescreen:prose"] {
        @apply !min-w-[var(--sizes-prose)];
    }

    [data-min-width~="widescreen:stretch"] {
        @apply !min-w-[-moz-available] !min-w-[-webkit-fill-available] !min-w-[stretch];
    }

    [data-min-width~="widescreen:0"] {
        @apply !min-w-0;
    }

    [data-min-width~="widescreen:25"] {
        @apply !min-w-[25%];
    }

    [data-min-width~="widescreen:viewport-25"] {
        @apply !min-w-[25vw];
    }

    [data-min-width~="widescreen:33"] {
        @apply !min-w-[33%];
    }

    [data-min-width~="widescreen:viewport-33"] {
        @apply !min-w-[33vw];
    }

    [data-min-width~="widescreen:50"] {
        @apply !min-w-[50%];
    }

    [data-min-width~="widescreen:viewport-50"] {
        @apply !min-w-[50vw];
    }

    [data-min-width~="widescreen:66"] {
        @apply !min-w-[66%];
    }

    [data-min-width~="widescreen:viewport-66"] {
        @apply !min-w-[66vw];
    }

    [data-min-width~="widescreen:75"] {
        @apply !min-w-[75%];
    }

    [data-min-width~="widescreen:viewport-75"] {
        @apply !min-w-[75vw];
    }

    [data-min-width~="widescreen:100"] {
        @apply !min-w-full;
    }

    [data-min-width~="widescreen:viewport-100"] {
        @apply !min-w-[100vw];
    }
}

/** GLOBAL HEIGHT */

[data-height~="auto"] {
    @apply !h-auto;
}

[data-height~="content-fit"] {
    @apply !h-[-moz-fit-content] !h-[fit-content];
}

[data-height~="content-max"] {
    @apply !h-max;
}

[data-height~="content-min"] {
    @apply !h-min;
}

[data-height~="prose"] {
    @apply !h-[var(--sizes-prose)];
}

[data-height~="stretch"] {
    @apply !h-[-moz-available] !h-[-webkit-fill-available] !h-[stretch];
}

[data-height~="0"] {
    @apply !h-0;
}

[data-height~="25"] {
    @apply !h-[25%];
}

[data-height~="viewport-25"] {
    @apply !h-[25vh];
}

[data-height~="33"] {
    @apply !h-[33%];
}

[data-height~="viewport-33"] {
    @apply !h-[33vh];
}

[data-height~="50"] {
    @apply !h-[50%];
}

[data-height~="viewport-50"] {
    @apply !h-[50vh];
}

[data-height~="66"] {
    @apply !h-[66%];
}

[data-height~="viewport-66"] {
    @apply !h-[66vh];
}

[data-height~="75"] {
    @apply !h-[75%];
}

[data-height~="viewport-75"] {
    @apply !h-[75vh];
}

[data-height~="100"] {
    @apply !h-full;
}

[data-height~="viewport-100"] {
    @apply !h-[100vh];
}

@variants <sm {
    [data-height~="mobile:auto"] {
        @apply !h-auto;
    }

    [data-height~="mobile:content-fit"] {
        @apply !h-[-moz-fit-content] !h-[fit-content];
    }

    [data-height~="mobile:content-max"] {
        @apply !h-max;
    }

    [data-height~="mobile:content-min"] {
        @apply !h-min;
    }

    [data-height~="mobile:prose"] {
        @apply !h-[var(--sizes-prose)];
    }

    [data-height~="mobile:stretch"] {
        @apply !h-[-moz-available] !h-[-webkit-fill-available] !h-[stretch];
    }

    [data-height~="mobile:0"] {
        @apply !h-0;
    }

    [data-height~="mobile:25"] {
        @apply !h-[25%];
    }

    [data-height~="mobile:viewport-25"] {
        @apply !h-[25vh];
    }

    [data-height~="mobile:33"] {
        @apply !h-[33%];
    }

    [data-height~="mobile:viewport-33"] {
        @apply !h-[33vh];
    }

    [data-height~="mobile:50"] {
        @apply !h-[50%];
    }

    [data-height~="mobile:viewport-50"] {
        @apply !h-[50vh];
    }

    [data-height~="mobile:66"] {
        @apply !h-[66%];
    }

    [data-height~="mobile:viewport-66"] {
        @apply !h-[66vh];
    }

    [data-height~="mobile:75"] {
        @apply !h-[75%];
    }

    [data-height~="mobile:viewport-75"] {
        @apply !h-[75vh];
    }

    [data-height~="mobile:100"] {
        @apply !h-full;
    }

    [data-height~="mobile:viewport-100"] {
        @apply !h-[100vh];
    }
}

@variants @sm {
    [data-height~="tablet:auto"] {
        @apply !h-auto;
    }

    [data-height~="tablet:content-fit"] {
        @apply !h-[-moz-fit-content] !h-[fit-content];
    }

    [data-height~="tablet:content-max"] {
        @apply !h-max;
    }

    [data-height~="tablet:content-min"] {
        @apply !h-min;
    }

    [data-height~="tablet:prose"] {
        @apply !h-[var(--sizes-prose)];
    }

    [data-height~="tablet:stretch"] {
        @apply !h-[-moz-available] !h-[-webkit-fill-available] !h-[stretch];
    }

    [data-height~="tablet:0"] {
        @apply !h-0;
    }

    [data-height~="tablet:25"] {
        @apply !h-[25%];
    }

    [data-height~="tablet:viewport-25"] {
        @apply !h-[25vh];
    }

    [data-height~="tablet:33"] {
        @apply !h-[33%];
    }

    [data-height~="tablet:viewport-33"] {
        @apply !h-[33vh];
    }

    [data-height~="tablet:50"] {
        @apply !h-[50%];
    }

    [data-height~="tablet:viewport-50"] {
        @apply !h-[50vh];
    }

    [data-height~="tablet:66"] {
        @apply !h-[66%];
    }

    [data-height~="tablet:viewport-66"] {
        @apply !h-[66vh];
    }

    [data-height~="tablet:75"] {
        @apply !h-[75%];
    }

    [data-height~="tablet:viewport-75"] {
        @apply !h-[75vh];
    }

    [data-height~="tablet:100"] {
        @apply !h-full;
    }

    [data-height~="tablet:viewport-100"] {
        @apply !h-[100vh];
    }
}

@variants @md {
    [data-height~="desktop:auto"] {
        @apply !h-auto;
    }

    [data-height~="desktop:content-fit"] {
        @apply !h-[-moz-fit-content] !h-[fit-content];
    }

    [data-height~="desktop:content-max"] {
        @apply !h-max;
    }

    [data-height~="desktop:content-min"] {
        @apply !h-min;
    }

    [data-height~="desktop:prose"] {
        @apply !h-[var(--sizes-prose)];
    }

    [data-height~="desktop:stretch"] {
        @apply !h-[-moz-available] !h-[-webkit-fill-available] !h-[stretch];
    }

    [data-height~="desktop:0"] {
        @apply !h-0;
    }

    [data-height~="desktop:25"] {
        @apply !h-[25%];
    }

    [data-height~="desktop:viewport-25"] {
        @apply !h-[25vh];
    }

    [data-height~="desktop:33"] {
        @apply !h-[33%];
    }

    [data-height~="desktop:viewport-33"] {
        @apply !h-[33vh];
    }

    [data-height~="desktop:50"] {
        @apply !h-[50%];
    }

    [data-height~="desktop:viewport-50"] {
        @apply !h-[50vh];
    }

    [data-height~="desktop:66"] {
        @apply !h-[66%];
    }

    [data-height~="desktop:viewport-66"] {
        @apply !h-[66vh];
    }

    [data-height~="desktop:75"] {
        @apply !h-[75%];
    }

    [data-height~="desktop:viewport-75"] {
        @apply !h-[75vh];
    }

    [data-height~="desktop:100"] {
        @apply !h-full;
    }

    [data-height~="desktop:viewport-100"] {
        @apply !h-[100vh];
    }
}

@variants lg {
    [data-height~="widescreen:auto"] {
        @apply !h-auto;
    }

    [data-height~="widescreen:content-fit"] {
        @apply !h-[-moz-fit-content] !h-[fit-content];
    }

    [data-height~="widescreen:content-max"] {
        @apply !h-max;
    }

    [data-height~="widescreen:content-min"] {
        @apply !h-min;
    }

    [data-height~="widescreen:prose"] {
        @apply !h-[var(--sizes-prose)];
    }

    [data-height~="widescreen:stretch"] {
        @apply !h-[-moz-available] !h-[-webkit-fill-available] !h-[stretch];
    }

    [data-height~="widescreen:0"] {
        @apply !h-0;
    }

    [data-height~="widescreen:25"] {
        @apply !h-[25%];
    }

    [data-height~="widescreen:viewport-25"] {
        @apply !h-[25vh];
    }

    [data-height~="widescreen:33"] {
        @apply !h-[33%];
    }

    [data-height~="widescreen:viewport-33"] {
        @apply !h-[33vh];
    }

    [data-height~="widescreen:50"] {
        @apply !h-[50%];
    }

    [data-height~="widescreen:viewport-50"] {
        @apply !h-[50vh];
    }

    [data-height~="widescreen:66"] {
        @apply !h-[66%];
    }

    [data-height~="widescreen:viewport-66"] {
        @apply !h-[66vh];
    }

    [data-height~="widescreen:75"] {
        @apply !h-[75%];
    }

    [data-height~="widescreen:viewport-75"] {
        @apply !h-[75vh];
    }

    [data-height~="widescreen:100"] {
        @apply !h-full;
    }

    [data-height~="widescreen:viewport-100"] {
        @apply !h-[100vh];
    }
}

[data-max-height~="content-fit"] {
    @apply !max-h-[-moz-fit-content] !max-h-[fit-content];
}

[data-max-height~="content-max"] {
    @apply !max-h-max;
}

[data-max-height~="content-min"] {
    @apply !max-h-min;
}

[data-max-height~="prose"] {
    @apply !max-h-[var(--sizes-prose)];
}

[data-max-height~="stretch"] {
    @apply !max-h-[-moz-available] !max-h-[-webkit-fill-available] !max-h-[stretch];
}

[data-max-height~="0"] {
    @apply !max-h-0;
}

[data-max-height~="25"] {
    @apply !max-h-[25%];
}

[data-max-height~="viewport-25"] {
    @apply !max-h-[25vh];
}

[data-max-height~="33"] {
    @apply !max-h-[33%];
}

[data-max-height~="viewport-33"] {
    @apply !max-h-[33vh];
}

[data-max-height~="50"] {
    @apply !max-h-[50%];
}

[data-max-height~="viewport-50"] {
    @apply !max-h-[50vh];
}

[data-max-height~="66"] {
    @apply !max-h-[66%];
}

[data-max-height~="viewport-66"] {
    @apply !max-h-[66vh];
}

[data-max-height~="75"] {
    @apply !max-h-[75%];
}

[data-max-height~="viewport-75"] {
    @apply !max-h-[75vh];
}

[data-max-height~="100"] {
    @apply !max-h-full;
}

[data-max-height~="viewport-100"] {
    @apply !max-h-[100vh];
}

@variants <sm {
    [data-max-height~="mobile:content-fit"] {
        @apply !max-h-[-moz-fit-content] !max-h-[fit-content];
    }

    [data-max-height~="mobile:content-max"] {
        @apply !max-h-max;
    }

    [data-max-height~="mobile:content-min"] {
        @apply !max-h-min;
    }

    [data-max-height~="mobile:prose"] {
        @apply !max-h-[var(--sizes-prose)];
    }

    [data-max-height~="mobile:stretch"] {
        @apply !max-h-[-moz-available] !max-h-[-webkit-fill-available] !max-h-[stretch];
    }

    [data-max-height~="mobile:0"] {
        @apply !max-h-0;
    }

    [data-max-height~="mobile:25"] {
        @apply !max-h-[25%];
    }

    [data-max-height~="mobile:viewport-25"] {
        @apply !max-h-[25vh];
    }

    [data-max-height~="mobile:33"] {
        @apply !max-h-[33%];
    }

    [data-max-height~="mobile:viewport-33"] {
        @apply !max-h-[33vh];
    }

    [data-max-height~="mobile:50"] {
        @apply !max-h-[50%];
    }

    [data-max-height~="mobile:viewport-50"] {
        @apply !max-h-[50vh];
    }

    [data-max-height~="mobile:66"] {
        @apply !max-h-[66%];
    }

    [data-max-height~="mobile:viewport-66"] {
        @apply !max-h-[66vh];
    }

    [data-max-height~="mobile:75"] {
        @apply !max-h-[75%];
    }

    [data-max-height~="mobile:viewport-75"] {
        @apply !max-h-[75vh];
    }

    [data-max-height~="mobile:100"] {
        @apply !max-h-full;
    }

    [data-max-height~="mobile:viewport-100"] {
        @apply !max-h-[100vh];
    }
}

@variants @sm {
    [data-max-height~="tablet:content-fit"] {
        @apply !max-h-[-moz-fit-content] !max-h-[fit-content];
    }

    [data-max-height~="tablet:content-max"] {
        @apply !max-h-max;
    }

    [data-max-height~="tablet:content-min"] {
        @apply !max-h-min;
    }

    [data-max-height~="tablet:prose"] {
        @apply !max-h-[var(--sizes-prose)];
    }

    [data-max-height~="tablet:stretch"] {
        @apply !max-h-[-moz-available] !max-h-[-webkit-fill-available] !max-h-[stretch];
    }

    [data-max-height~="tablet:0"] {
        @apply !max-h-0;
    }

    [data-max-height~="tablet:25"] {
        @apply !max-h-[25%];
    }

    [data-max-height~="tablet:viewport-25"] {
        @apply !max-h-[25vh];
    }

    [data-max-height~="tablet:33"] {
        @apply !max-h-[33%];
    }

    [data-max-height~="tablet:viewport-33"] {
        @apply !max-h-[33vh];
    }

    [data-max-height~="tablet:50"] {
        @apply !max-h-[50%];
    }

    [data-max-height~="tablet:viewport-50"] {
        @apply !max-h-[50vh];
    }

    [data-max-height~="tablet:66"] {
        @apply !max-h-[66%];
    }

    [data-max-height~="tablet:viewport-66"] {
        @apply !max-h-[66vh];
    }

    [data-max-height~="tablet:75"] {
        @apply !max-h-[75%];
    }

    [data-max-height~="tablet:viewport-75"] {
        @apply !max-h-[75vh];
    }

    [data-max-height~="tablet:100"] {
        @apply !max-h-full;
    }

    [data-max-height~="tablet:viewport-100"] {
        @apply !max-h-[100vh];
    }
}

@variants @md {
    [data-max-height~="desktop:content-fit"] {
        @apply !max-h-[-moz-fit-content] !max-h-[fit-content];
    }

    [data-max-height~="desktop:content-max"] {
        @apply !max-h-max;
    }

    [data-max-height~="desktop:content-min"] {
        @apply !max-h-min;
    }

    [data-max-height~="desktop:prose"] {
        @apply !max-h-[var(--sizes-prose)];
    }

    [data-max-height~="desktop:stretch"] {
        @apply !max-h-[-moz-available] !max-h-[-webkit-fill-available] !max-h-[stretch];
    }

    [data-max-height~="desktop:0"] {
        @apply !max-h-0;
    }

    [data-max-height~="desktop:25"] {
        @apply !max-h-[25%];
    }

    [data-max-height~="desktop:viewport-25"] {
        @apply !max-h-[25vh];
    }

    [data-max-height~="desktop:33"] {
        @apply !max-h-[33%];
    }

    [data-max-height~="desktop:viewport-33"] {
        @apply !max-h-[33vh];
    }

    [data-max-height~="desktop:50"] {
        @apply !max-h-[50%];
    }

    [data-max-height~="desktop:viewport-50"] {
        @apply !max-h-[50vh];
    }

    [data-max-height~="desktop:66"] {
        @apply !max-h-[66%];
    }

    [data-max-height~="desktop:viewport-66"] {
        @apply !max-h-[66vh];
    }

    [data-max-height~="desktop:75"] {
        @apply !max-h-[75%];
    }

    [data-max-height~="desktop:viewport-75"] {
        @apply !max-h-[75vh];
    }

    [data-max-height~="desktop:100"] {
        @apply !max-h-full;
    }

    [data-max-height~="desktop:viewport-100"] {
        @apply !max-h-[100vh];
    }
}

@variants lg {
    [data-max-height~="widescreen:content-fit"] {
        @apply !max-h-[-moz-fit-content] !max-h-[fit-content];
    }

    [data-max-height~="widescreen:content-max"] {
        @apply !max-h-max;
    }

    [data-max-height~="widescreen:content-min"] {
        @apply !max-h-min;
    }

    [data-max-height~="widescreen:prose"] {
        @apply !max-h-[var(--sizes-prose)];
    }

    [data-max-height~="widescreen:stretch"] {
        @apply !max-h-[-moz-available] !max-h-[-webkit-fill-available] !max-h-[stretch];
    }

    [data-max-height~="widescreen:0"] {
        @apply !max-h-0;
    }

    [data-max-height~="widescreen:25"] {
        @apply !max-h-[25%];
    }

    [data-max-height~="widescreen:viewport-25"] {
        @apply !max-h-[25vh];
    }

    [data-max-height~="widescreen:33"] {
        @apply !max-h-[33%];
    }

    [data-max-height~="widescreen:viewport-33"] {
        @apply !max-h-[33vh];
    }

    [data-max-height~="widescreen:50"] {
        @apply !max-h-[50%];
    }

    [data-max-height~="widescreen:viewport-50"] {
        @apply !max-h-[50vh];
    }

    [data-max-height~="widescreen:66"] {
        @apply !max-h-[66%];
    }

    [data-max-height~="widescreen:viewport-66"] {
        @apply !max-h-[66vh];
    }

    [data-max-height~="widescreen:75"] {
        @apply !max-h-[75%];
    }

    [data-max-height~="widescreen:viewport-75"] {
        @apply !max-h-[75vh];
    }

    [data-max-height~="widescreen:100"] {
        @apply !max-h-full;
    }

    [data-max-height~="widescreen:viewport-100"] {
        @apply !max-h-[100vh];
    }
}

[data-min-height~="content-fit"] {
    @apply !min-h-[-moz-fit-content] !min-h-[fit-content];
}

[data-min-height~="content-max"] {
    @apply !min-h-max;
}

[data-min-height~="content-min"] {
    @apply !min-h-min;
}

[data-min-height~="prose"] {
    @apply !min-h-[var(--sizes-prose)];
}

[data-min-height~="stretch"] {
    @apply !min-h-[-moz-available] !min-h-[-webkit-fill-available] !min-h-[stretch];
}

[data-min-height~="0"] {
    @apply !min-h-0;
}

[data-min-height~="25"] {
    @apply !min-h-[25%];
}

[data-min-height~="viewport-25"] {
    @apply !min-h-[25vh];
}

[data-min-height~="33"] {
    @apply !min-h-[33%];
}

[data-min-height~="viewport-33"] {
    @apply !min-h-[33vh];
}

[data-min-height~="50"] {
    @apply !min-h-[50%];
}

[data-min-height~="viewport-50"] {
    @apply !min-h-[50vh];
}

[data-min-height~="66"] {
    @apply !min-h-[66%];
}

[data-min-height~="viewport-66"] {
    @apply !min-h-[66vh];
}

[data-min-height~="75"] {
    @apply !min-h-[75%];
}

[data-min-height~="viewport-75"] {
    @apply !min-h-[75vh];
}

[data-min-height~="100"] {
    @apply !min-h-full;
}

[data-min-height~="viewport-100"] {
    @apply !min-h-[100vh];
}

@variants <sm {
    [data-min-height~="mobile:content-fit"] {
        @apply !min-h-[-moz-fit-content] !min-h-[fit-content];
    }

    [data-min-height~="mobile:content-max"] {
        @apply !min-h-max;
    }

    [data-min-height~="mobile:content-min"] {
        @apply !min-h-min;
    }

    [data-min-height~="mobile:prose"] {
        @apply !min-h-[var(--sizes-prose)];
    }

    [data-min-height~="mobile:stretch"] {
        @apply !min-h-[-moz-available] !min-h-[-webkit-fill-available] !min-h-[stretch];
    }

    [data-min-height~="mobile:0"] {
        @apply !min-h-0;
    }

    [data-min-height~="mobile:25"] {
        @apply !min-h-[25%];
    }

    [data-min-height~="mobile:viewport-25"] {
        @apply !min-h-[25vh];
    }

    [data-min-height~="mobile:33"] {
        @apply !min-h-[33%];
    }

    [data-min-height~="mobile:viewport-33"] {
        @apply !min-h-[33vh];
    }

    [data-min-height~="mobile:50"] {
        @apply !min-h-[50%];
    }

    [data-min-height~="mobile:viewport-50"] {
        @apply !min-h-[50vh];
    }

    [data-min-height~="mobile:66"] {
        @apply !min-h-[66%];
    }

    [data-min-height~="mobile:viewport-66"] {
        @apply !min-h-[66vh];
    }

    [data-min-height~="mobile:75"] {
        @apply !min-h-[75%];
    }

    [data-min-height~="mobile:viewport-75"] {
        @apply !min-h-[75vh];
    }

    [data-min-height~="mobile:100"] {
        @apply !min-h-full;
    }

    [data-min-height~="mobile:viewport-100"] {
        @apply !min-h-[100vh];
    }
}

@variants @sm {
    [data-min-height~="tablet:content-fit"] {
        @apply !min-h-[-moz-fit-content] !min-h-[fit-content];
    }

    [data-min-height~="tablet:content-max"] {
        @apply !min-h-max;
    }

    [data-min-height~="tablet:content-min"] {
        @apply !min-h-min;
    }

    [data-min-height~="tablet:prose"] {
        @apply !min-h-[var(--sizes-prose)];
    }

    [data-min-height~="tablet:stretch"] {
        @apply !min-h-[-moz-available] !min-h-[-webkit-fill-available] !min-h-[stretch];
    }

    [data-min-height~="tablet:0"] {
        @apply !min-h-0;
    }

    [data-min-height~="tablet:25"] {
        @apply !min-h-[25%];
    }

    [data-min-height~="tablet:viewport-25"] {
        @apply !min-h-[25vh];
    }

    [data-min-height~="tablet:33"] {
        @apply !min-h-[33%];
    }

    [data-min-height~="tablet:viewport-33"] {
        @apply !min-h-[33vh];
    }

    [data-min-height~="tablet:50"] {
        @apply !min-h-[50%];
    }

    [data-min-height~="tablet:viewport-50"] {
        @apply !min-h-[50vh];
    }

    [data-min-height~="tablet:66"] {
        @apply !min-h-[66%];
    }

    [data-min-height~="tablet:viewport-66"] {
        @apply !min-h-[66vh];
    }

    [data-min-height~="tablet:75"] {
        @apply !min-h-[75%];
    }

    [data-min-height~="tablet:viewport-75"] {
        @apply !min-h-[75vh];
    }

    [data-min-height~="tablet:100"] {
        @apply !min-h-full;
    }

    [data-min-height~="tablet:viewport-100"] {
        @apply !min-h-[100vh];
    }
}

@variants @md {
    [data-min-height~="desktop:content-fit"] {
        @apply !min-h-[-moz-fit-content] !min-h-[fit-content];
    }

    [data-min-height~="desktop:content-max"] {
        @apply !min-h-max;
    }

    [data-min-height~="desktop:content-min"] {
        @apply !min-h-min;
    }

    [data-min-height~="desktop:prose"] {
        @apply !min-h-[var(--sizes-prose)];
    }

    [data-min-height~="desktop:stretch"] {
        @apply !min-h-[-moz-available] !min-h-[-webkit-fill-available] !min-h-[stretch];
    }

    [data-min-height~="desktop:0"] {
        @apply !min-h-0;
    }

    [data-min-height~="desktop:25"] {
        @apply !min-h-[25%];
    }

    [data-min-height~="desktop:viewport-25"] {
        @apply !min-h-[25vh];
    }

    [data-min-height~="desktop:33"] {
        @apply !min-h-[33%];
    }

    [data-min-height~="desktop:viewport-33"] {
        @apply !min-h-[33vh];
    }

    [data-min-height~="desktop:50"] {
        @apply !min-h-[50%];
    }

    [data-min-height~="desktop:viewport-50"] {
        @apply !min-h-[50vh];
    }

    [data-min-height~="desktop:66"] {
        @apply !min-h-[66%];
    }

    [data-min-height~="desktop:viewport-66"] {
        @apply !min-h-[66vh];
    }

    [data-min-height~="desktop:75"] {
        @apply !min-h-[75%];
    }

    [data-min-height~="desktop:viewport-75"] {
        @apply !min-h-[75vh];
    }

    [data-min-height~="desktop:100"] {
        @apply !min-h-full;
    }

    [data-min-height~="desktop:viewport-100"] {
        @apply !min-h-[100vh];
    }
}

@variants lg {
    [data-min-height~="widescreen:content-fit"] {
        @apply !min-h-[-moz-fit-content] !min-h-[fit-content];
    }

    [data-min-height~="widescreen:content-max"] {
        @apply !min-h-max;
    }

    [data-min-height~="widescreen:content-min"] {
        @apply !min-h-min;
    }

    [data-min-height~="widescreen:prose"] {
        @apply !min-h-[var(--sizes-prose)];
    }

    [data-min-height~="widescreen:stretch"] {
        @apply !min-h-[-moz-available] !min-h-[-webkit-fill-available] !min-h-[stretch];
    }

    [data-min-height~="widescreen:0"] {
        @apply !min-h-0;
    }

    [data-min-height~="widescreen:25"] {
        @apply !min-h-[25%];
    }

    [data-min-height~="widescreen:viewport-25"] {
        @apply !min-h-[25vh];
    }

    [data-min-height~="widescreen:33"] {
        @apply !min-h-[33%];
    }

    [data-min-height~="widescreen:viewport-33"] {
        @apply !min-h-[33vh];
    }

    [data-min-height~="widescreen:50"] {
        @apply !min-h-[50%];
    }

    [data-min-height~="widescreen:viewport-50"] {
        @apply !min-h-[50vh];
    }

    [data-min-height~="widescreen:66"] {
        @apply !min-h-[66%];
    }

    [data-min-height~="widescreen:viewport-66"] {
        @apply !min-h-[66vh];
    }

    [data-min-height~="widescreen:75"] {
        @apply !min-h-[75%];
    }

    [data-min-height~="widescreen:viewport-75"] {
        @apply !min-h-[75vh];
    }

    [data-min-height~="widescreen:100"] {
        @apply !min-h-full;
    }

    [data-min-height~="widescreen:viewport-100"] {
        @apply !min-h-[100vh];
    }
}

/** GLOBAL SIZINGS */

[data-sizing~="tiny"] {
    --sizing-content: var(--sizes-content-tiny);

    --sizing-text-size: var(--font-content-size-tiny);
    --sizing-text-line-height: var(--font-content-line-height-tiny);
}

[data-sizing~="small"] {
    --sizing-content: var(--sizes-content-small);

    --sizing-text-size: var(--font-content-size-small);
    --sizing-text-line-height: var(--font-content-line-height-small);
}

[data-sizing~="medium"] {
    --sizing-content: var(--sizes-content-medium);

    --sizing-text-size: var(--font-content-size-medium);
    --sizing-text-line-height: var(--font-content-line-height-medium);
}

[data-sizing~="large"] {
    --sizing-content: var(--sizes-content-large);

    --sizing-text-size: var(--font-content-size-large);
    --sizing-text-line-height: var(--font-content-line-height-large);
}

[data-sizing~="huge"] {
    --sizing-content: var(--sizes-content-huge);

    --sizing-text-size: var(--font-content-size-huge);
    --sizing-text-line-height: var(--font-content-line-height-huge);
}

@variants <sm {
    [data-sizing~="mobile:tiny"] {
        --sizing-content: var(--sizes-content-tiny);

        --sizing-text-size: var(--font-content-size-tiny);
        --sizing-text-line-height: var(--font-content-line-height-tiny);
    }

    [data-sizing~="mobile:small"] {
        --sizing-content: var(--sizes-content-small);

        --sizing-text-size: var(--font-content-size-small);
        --sizing-text-line-height: var(--font-content-line-height-small);
    }

    [data-sizing~="mobile:medium"] {
        --sizing-content: var(--sizes-content-medium);

        --sizing-text-size: var(--font-content-size-medium);
        --sizing-text-line-height: var(--font-content-line-height-medium);
    }

    [data-sizing~="mobile:large"] {
        --sizing-content: var(--sizes-content-large);

        --sizing-text-size: var(--font-content-size-large);
        --sizing-text-line-height: var(--font-content-line-height-large);
    }

    [data-sizing~="mobile:huge"] {
        --sizing-content: var(--sizes-content-huge);

        --sizing-text-size: var(--font-content-size-huge);
        --sizing-text-line-height: var(--font-content-line-height-huge);
    }
}

@variants @sm {
    [data-sizing~="tablet:tiny"] {
        --sizing-content: var(--sizes-content-tiny);

        --sizing-text-size: var(--font-content-size-tiny);
        --sizing-text-line-height: var(--font-content-line-height-tiny);
    }

    [data-sizing~="tablet:small"] {
        --sizing-content: var(--sizes-content-small);

        --sizing-text-size: var(--font-content-size-small);
        --sizing-text-line-height: var(--font-content-line-height-small);
    }

    [data-sizing~="tablet:medium"] {
        --sizing-content: var(--sizes-content-medium);

        --sizing-text-size: var(--font-content-size-medium);
        --sizing-text-line-height: var(--font-content-line-height-medium);
    }

    [data-sizing~="tablet:large"] {
        --sizing-content: var(--sizes-content-large);

        --sizing-text-size: var(--font-content-size-large);
        --sizing-text-line-height: var(--font-content-line-height-large);
    }

    [data-sizing~="tablet:huge"] {
        --sizing-content: var(--sizes-content-huge);

        --sizing-text-size: var(--font-content-size-huge);
        --sizing-text-line-height: var(--font-content-line-height-huge);
    }
}

@variants @md {
    [data-sizing~="desktop:tiny"] {
        --sizing-content: var(--sizes-content-tiny);

        --sizing-text-size: var(--font-content-size-tiny);
        --sizing-text-line-height: var(--font-content-line-height-tiny);
    }

    [data-sizing~="desktop:small"] {
        --sizing-content: var(--sizes-content-small);

        --sizing-text-size: var(--font-content-size-small);
        --sizing-text-line-height: var(--font-content-line-height-small);
    }

    [data-sizing~="desktop:medium"] {
        --sizing-content: var(--sizes-content-medium);

        --sizing-text-size: var(--font-content-size-medium);
        --sizing-text-line-height: var(--font-content-line-height-medium);
    }

    [data-sizing~="desktop:large"] {
        --sizing-content: var(--sizes-content-large);

        --sizing-text-size: var(--font-content-size-large);
        --sizing-text-line-height: var(--font-content-line-height-large);
    }

    [data-sizing~="desktop:huge"] {
        --sizing-content: var(--sizes-content-huge);

        --sizing-text-size: var(--font-content-size-huge);
        --sizing-text-line-height: var(--font-content-line-height-huge);
    }
}

@variants lg {
    [data-sizing~="widescreen:tiny"] {
        --sizing-content: var(--sizes-content-tiny);

        --sizing-text-size: var(--font-content-size-tiny);
        --sizing-text-line-height: var(--font-content-line-height-tiny);
    }

    [data-sizing~="widescreen:small"] {
        --sizing-content: var(--sizes-content-small);

        --sizing-text-size: var(--font-content-size-small);
        --sizing-text-line-height: var(--font-content-line-height-small);
    }

    [data-sizing~="widescreen:medium"] {
        --sizing-content: var(--sizes-content-medium);

        --sizing-text-size: var(--font-content-size-medium);
        --sizing-text-line-height: var(--font-content-line-height-medium);
    }

    [data-sizing~="widescreen:large"] {
        --sizing-content: var(--sizes-content-large);

        --sizing-text-size: var(--font-content-size-large);
        --sizing-text-line-height: var(--font-content-line-height-large);
    }

    [data-sizing~="widescreen:huge"] {
        --sizing-content: var(--sizes-content-huge);

        --sizing-text-size: var(--font-content-size-huge);
        --sizing-text-line-height: var(--font-content-line-height-huge);
    }
}
