/** GLOBAL MARGIN */

[data-margin~="none"] {
    @apply !m-0;
}

[data-margin~="auto"] {
    @apply !m-auto;
}

[data-margin~="tiny"] {
    @apply !m-1;
}

[data-margin~="small"] {
    @apply !m-2;
}

[data-margin~="medium"] {
    @apply !m-4;
}

[data-margin~="large"] {
    @apply !m-8;
}

[data-margin~="huge"] {
    @apply !m-16;
}

@variants <sm {
    [data-margin~="mobile:none"] {
        @apply !m-0;
    }

    [data-margin~="mobile:auto"] {
        @apply !m-auto;
    }

    [data-margin~="mobile:tiny"] {
        @apply !m-1;
    }

    [data-margin~="mobile:small"] {
        @apply !m-2;
    }

    [data-margin~="mobile:medium"] {
        @apply !m-4;
    }

    [data-margin~="mobile:large"] {
        @apply !m-8;
    }

    [data-margin~="mobile:huge"] {
        @apply !m-16;
    }
}

@variants @sm {
    [data-margin~="tablet:none"] {
        @apply !m-0;
    }

    [data-margin~="tablet:auto"] {
        @apply !m-auto;
    }

    [data-margin~="tablet:tiny"] {
        @apply !m-1;
    }

    [data-margin~="tablet:small"] {
        @apply !m-2;
    }

    [data-margin~="tablet:medium"] {
        @apply !m-4;
    }

    [data-margin~="tablet:large"] {
        @apply !m-8;
    }

    [data-margin~="tablet:huge"] {
        @apply !m-16;
    }
}

@variants @md {
    [data-margin~="desktop:none"] {
        @apply !m-0;
    }

    [data-margin~="desktop:auto"] {
        @apply !m-auto;
    }

    [data-margin~="desktop:tiny"] {
        @apply !m-1;
    }

    [data-margin~="desktop:small"] {
        @apply !m-2;
    }

    [data-margin~="desktop:medium"] {
        @apply !m-4;
    }

    [data-margin~="desktop:large"] {
        @apply !m-8;
    }

    [data-margin~="desktop:huge"] {
        @apply !m-16;
    }
}

@variants lg {
    [data-margin~="widescreen:none"] {
        @apply !m-0;
    }

    [data-margin~="widescreen:auto"] {
        @apply !m-auto;
    }

    [data-margin~="widescreen:tiny"] {
        @apply !m-1;
    }

    [data-margin~="widescreen:small"] {
        @apply !m-2;
    }

    [data-margin~="widescreen:medium"] {
        @apply !m-4;
    }

    [data-margin~="widescreen:large"] {
        @apply !m-8;
    }

    [data-margin~="widescreen:huge"] {
        @apply !m-16;
    }
}

[data-margin-x~="none"] {
    @apply !mx-0;
}

[data-margin-x~="auto"] {
    @apply !mx-auto;
}

[data-margin-x~="tiny"] {
    @apply !mx-1;
}

[data-margin-x~="small"] {
    @apply !mx-2;
}

[data-margin-x~="medium"] {
    @apply !mx-4;
}

[data-margin-x~="large"] {
    @apply !mx-8;
}

[data-margin-x~="huge"] {
    @apply !mx-16;
}

@variants <sm {
    [data-margin-x~="mobile:none"] {
        @apply !mx-0;
    }

    [data-margin-x~="mobile:auto"] {
        @apply !mx-auto;
    }

    [data-margin-x~="mobile:tiny"] {
        @apply !mx-1;
    }

    [data-margin-x~="mobile:small"] {
        @apply !mx-2;
    }

    [data-margin-x~="mobile:medium"] {
        @apply !mx-4;
    }

    [data-margin-x~="mobile:large"] {
        @apply !mx-8;
    }

    [data-margin-x~="mobile:huge"] {
        @apply !mx-16;
    }
}

@variants @sm {
    [data-margin-x~="tablet:none"] {
        @apply !mx-0;
    }

    [data-margin-x~="tablet:auto"] {
        @apply !mx-auto;
    }

    [data-margin-x~="tablet:tiny"] {
        @apply !mx-1;
    }

    [data-margin-x~="tablet:small"] {
        @apply !mx-2;
    }

    [data-margin-x~="tablet:medium"] {
        @apply !mx-4;
    }

    [data-margin-x~="tablet:large"] {
        @apply !mx-8;
    }

    [data-margin-x~="tablet:huge"] {
        @apply !mx-16;
    }
}

@variants @md {
    [data-margin-x~="desktop:none"] {
        @apply !mx-0;
    }

    [data-margin-x~="desktop:auto"] {
        @apply !mx-auto;
    }

    [data-margin-x~="desktop:tiny"] {
        @apply !mx-1;
    }

    [data-margin-x~="desktop:small"] {
        @apply !mx-2;
    }

    [data-margin-x~="desktop:medium"] {
        @apply !mx-4;
    }

    [data-margin-x~="desktop:large"] {
        @apply !mx-8;
    }

    [data-margin-x~="desktop:huge"] {
        @apply !mx-16;
    }
}

@variants lg {
    [data-margin-x~="widescreen:none"] {
        @apply !mx-0;
    }

    [data-margin-x~="widescreen:auto"] {
        @apply !mx-auto;
    }

    [data-margin-x~="widescreen:tiny"] {
        @apply !mx-1;
    }

    [data-margin-x~="widescreen:small"] {
        @apply !mx-2;
    }

    [data-margin-x~="widescreen:medium"] {
        @apply !mx-4;
    }

    [data-margin-x~="widescreen:large"] {
        @apply !mx-8;
    }

    [data-margin-x~="widescreen:huge"] {
        @apply !mx-16;
    }
}

[data-margin-y~="none"] {
    @apply !my-0;
}

[data-margin-y~="auto"] {
    @apply !my-auto;
}

[data-margin-y~="tiny"] {
    @apply !my-1;
}

[data-margin-y~="small"] {
    @apply !my-2;
}

[data-margin-y~="medium"] {
    @apply !my-4;
}

[data-margin-y~="large"] {
    @apply !my-8;
}

[data-margin-y~="huge"] {
    @apply !my-16;
}

@variants <sm {
    [data-margin-y~="mobile:none"] {
        @apply !my-0;
    }

    [data-margin-y~="mobile:auto"] {
        @apply !my-auto;
    }

    [data-margin-y~="mobile:tiny"] {
        @apply !my-1;
    }

    [data-margin-y~="mobile:small"] {
        @apply !my-2;
    }

    [data-margin-y~="mobile:medium"] {
        @apply !my-4;
    }

    [data-margin-y~="mobile:large"] {
        @apply !my-8;
    }

    [data-margin-y~="mobile:huge"] {
        @apply !my-16;
    }
}

@variants @sm {
    [data-margin-y~="tablet:none"] {
        @apply !my-0;
    }

    [data-margin-y~="tablet:auto"] {
        @apply !my-auto;
    }

    [data-margin-y~="tablet:tiny"] {
        @apply !my-1;
    }

    [data-margin-y~="tablet:small"] {
        @apply !my-2;
    }

    [data-margin-y~="tablet:medium"] {
        @apply !my-4;
    }

    [data-margin-y~="tablet:large"] {
        @apply !my-8;
    }

    [data-margin-y~="tablet:huge"] {
        @apply !my-16;
    }
}

@variants @md {
    [data-margin-y~="desktop:none"] {
        @apply !my-0;
    }

    [data-margin-y~="desktop:auto"] {
        @apply !my-auto;
    }

    [data-margin-y~="desktop:tiny"] {
        @apply !my-1;
    }

    [data-margin-y~="desktop:small"] {
        @apply !my-2;
    }

    [data-margin-y~="desktop:medium"] {
        @apply !my-4;
    }

    [data-margin-y~="desktop:large"] {
        @apply !my-8;
    }

    [data-margin-y~="desktop:huge"] {
        @apply !my-16;
    }
}

@variants lg {
    [data-margin-y~="widescreen:none"] {
        @apply !my-0;
    }

    [data-margin-y~="widescreen:auto"] {
        @apply !my-auto;
    }

    [data-margin-y~="widescreen:tiny"] {
        @apply !my-1;
    }

    [data-margin-y~="widescreen:small"] {
        @apply !my-2;
    }

    [data-margin-y~="widescreen:medium"] {
        @apply !my-4;
    }

    [data-margin-y~="widescreen:large"] {
        @apply !my-8;
    }

    [data-margin-y~="widescreen:huge"] {
        @apply !my-16;
    }
}

[data-margin-top~="none"] {
    @apply !mt-0;
}

[data-margin-top~="auto"] {
    @apply !mt-auto;
}

[data-margin-top~="tiny"] {
    @apply !mt-1;
}

[data-margin-top~="small"] {
    @apply !mt-2;
}

[data-margin-top~="medium"] {
    @apply !mt-4;
}

[data-margin-top~="large"] {
    @apply !mt-8;
}

[data-margin-top~="huge"] {
    @apply !mt-16;
}

@variants <sm {
    [data-margin-top~="mobile:none"] {
        @apply !mt-0;
    }

    [data-margin-top~="mobile:auto"] {
        @apply !mt-auto;
    }

    [data-margin-top~="mobile:tiny"] {
        @apply !mt-1;
    }

    [data-margin-top~="mobile:small"] {
        @apply !mt-2;
    }

    [data-margin-top~="mobile:medium"] {
        @apply !mt-4;
    }

    [data-margin-top~="mobile:large"] {
        @apply !mt-8;
    }

    [data-margin-top~="mobile:huge"] {
        @apply !mt-16;
    }
}

@variants @sm {
    [data-margin-top~="tablet:none"] {
        @apply !mt-0;
    }

    [data-margin-top~="tablet:auto"] {
        @apply !mt-auto;
    }

    [data-margin-top~="tablet:tiny"] {
        @apply !mt-1;
    }

    [data-margin-top~="tablet:small"] {
        @apply !mt-2;
    }

    [data-margin-top~="tablet:medium"] {
        @apply !mt-4;
    }

    [data-margin-top~="tablet:large"] {
        @apply !mt-8;
    }

    [data-margin-top~="tablet:huge"] {
        @apply !mt-16;
    }
}

@variants @md {
    [data-margin-top~="desktop:none"] {
        @apply !mt-0;
    }

    [data-margin-top~="desktop:auto"] {
        @apply !mt-auto;
    }

    [data-margin-top~="desktop:tiny"] {
        @apply !mt-1;
    }

    [data-margin-top~="desktop:small"] {
        @apply !mt-2;
    }

    [data-margin-top~="desktop:medium"] {
        @apply !mt-4;
    }

    [data-margin-top~="desktop:large"] {
        @apply !mt-8;
    }

    [data-margin-top~="desktop:huge"] {
        @apply !mt-16;
    }
}

@variants lg {
    [data-margin-top~="widescreen:none"] {
        @apply !mt-0;
    }

    [data-margin-top~="widescreen:auto"] {
        @apply !mt-auto;
    }

    [data-margin-top~="widescreen:tiny"] {
        @apply !mt-1;
    }

    [data-margin-top~="widescreen:small"] {
        @apply !mt-2;
    }

    [data-margin-top~="widescreen:medium"] {
        @apply !mt-4;
    }

    [data-margin-top~="widescreen:large"] {
        @apply !mt-8;
    }

    [data-margin-top~="widescreen:huge"] {
        @apply !mt-16;
    }
}

[data-margin-left~="none"] {
    @apply !ml-0;
}

[data-margin-left~="auto"] {
    @apply !ml-auto;
}

[data-margin-left~="tiny"] {
    @apply !ml-1;
}

[data-margin-left~="small"] {
    @apply !ml-2;
}

[data-margin-left~="medium"] {
    @apply !ml-4;
}

[data-margin-left~="large"] {
    @apply !ml-8;
}

[data-margin-left~="huge"] {
    @apply !ml-16;
}

@variants <sm {
    [data-margin-left~="mobile:none"] {
        @apply !ml-0;
    }

    [data-margin-left~="mobile:auto"] {
        @apply !ml-auto;
    }

    [data-margin-left~="mobile:tiny"] {
        @apply !ml-1;
    }

    [data-margin-left~="mobile:small"] {
        @apply !ml-2;
    }

    [data-margin-left~="mobile:medium"] {
        @apply !ml-4;
    }

    [data-margin-left~="mobile:large"] {
        @apply !ml-8;
    }

    [data-margin-left~="mobile:huge"] {
        @apply !ml-16;
    }
}

@variants @sm {
    [data-margin-left~="tablet:none"] {
        @apply !ml-0;
    }

    [data-margin-left~="tablet:auto"] {
        @apply !ml-auto;
    }

    [data-margin-left~="tablet:tiny"] {
        @apply !ml-1;
    }

    [data-margin-left~="tablet:small"] {
        @apply !ml-2;
    }

    [data-margin-left~="tablet:medium"] {
        @apply !ml-4;
    }

    [data-margin-left~="tablet:large"] {
        @apply !ml-8;
    }

    [data-margin-left~="tablet:huge"] {
        @apply !ml-16;
    }
}

@variants @md {
    [data-margin-left~="desktop:none"] {
        @apply !ml-0;
    }

    [data-margin-left~="desktop:auto"] {
        @apply !ml-auto;
    }

    [data-margin-left~="desktop:tiny"] {
        @apply !ml-1;
    }

    [data-margin-left~="desktop:small"] {
        @apply !ml-2;
    }

    [data-margin-left~="desktop:medium"] {
        @apply !ml-4;
    }

    [data-margin-left~="desktop:large"] {
        @apply !ml-8;
    }

    [data-margin-left~="desktop:huge"] {
        @apply !ml-16;
    }
}

@variants lg {
    [data-margin-left~="widescreen:none"] {
        @apply !ml-0;
    }

    [data-margin-left~="widescreen:auto"] {
        @apply !ml-auto;
    }

    [data-margin-left~="widescreen:tiny"] {
        @apply !ml-1;
    }

    [data-margin-left~="widescreen:small"] {
        @apply !ml-2;
    }

    [data-margin-left~="widescreen:medium"] {
        @apply !ml-4;
    }

    [data-margin-left~="widescreen:large"] {
        @apply !ml-8;
    }

    [data-margin-left~="widescreen:huge"] {
        @apply !ml-16;
    }
}

[data-margin-bottom~="none"] {
    @apply !mb-0;
}

[data-margin-bottom~="auto"] {
    @apply !mb-auto;
}

[data-margin-bottom~="tiny"] {
    @apply !mb-1;
}

[data-margin-bottom~="small"] {
    @apply !mb-2;
}

[data-margin-bottom~="medium"] {
    @apply !mb-4;
}

[data-margin-bottom~="large"] {
    @apply !mb-8;
}

[data-margin-bottom~="huge"] {
    @apply !mb-16;
}

@variants <sm {
    [data-margin-bottom~="mobile:none"] {
        @apply !mb-0;
    }

    [data-margin-bottom~="mobile:auto"] {
        @apply !mb-auto;
    }

    [data-margin-bottom~="mobile:tiny"] {
        @apply !mb-1;
    }

    [data-margin-bottom~="mobile:small"] {
        @apply !mb-2;
    }

    [data-margin-bottom~="mobile:medium"] {
        @apply !mb-4;
    }

    [data-margin-bottom~="mobile:large"] {
        @apply !mb-8;
    }

    [data-margin-bottom~="mobile:huge"] {
        @apply !mb-16;
    }
}

@variants @sm {
    [data-margin-bottom~="tablet:none"] {
        @apply !mb-0;
    }

    [data-margin-bottom~="tablet:auto"] {
        @apply !mb-auto;
    }

    [data-margin-bottom~="tablet:tiny"] {
        @apply !mb-1;
    }

    [data-margin-bottom~="tablet:small"] {
        @apply !mb-2;
    }

    [data-margin-bottom~="tablet:medium"] {
        @apply !mb-4;
    }

    [data-margin-bottom~="tablet:large"] {
        @apply !mb-8;
    }

    [data-margin-bottom~="tablet:huge"] {
        @apply !mb-16;
    }
}

@variants @md {
    [data-margin-bottom~="desktop:none"] {
        @apply !mb-0;
    }

    [data-margin-bottom~="desktop:auto"] {
        @apply !mb-auto;
    }

    [data-margin-bottom~="desktop:tiny"] {
        @apply !mb-1;
    }

    [data-margin-bottom~="desktop:small"] {
        @apply !mb-2;
    }

    [data-margin-bottom~="desktop:medium"] {
        @apply !mb-4;
    }

    [data-margin-bottom~="desktop:large"] {
        @apply !mb-8;
    }

    [data-margin-bottom~="desktop:huge"] {
        @apply !mb-16;
    }
}

@variants lg {
    [data-margin-bottom~="widescreen:none"] {
        @apply !mb-0;
    }

    [data-margin-bottom~="widescreen:auto"] {
        @apply !mb-auto;
    }

    [data-margin-bottom~="widescreen:tiny"] {
        @apply !mb-1;
    }

    [data-margin-bottom~="widescreen:small"] {
        @apply !mb-2;
    }

    [data-margin-bottom~="widescreen:medium"] {
        @apply !mb-4;
    }

    [data-margin-bottom~="widescreen:large"] {
        @apply !mb-8;
    }

    [data-margin-bottom~="widescreen:huge"] {
        @apply !mb-16;
    }
}

[data-margin-right~="none"] {
    @apply !mr-0;
}

[data-margin-right~="auto"] {
    @apply !mr-auto;
}

[data-margin-right~="tiny"] {
    @apply !mr-1;
}

[data-margin-right~="small"] {
    @apply !mr-2;
}

[data-margin-right~="medium"] {
    @apply !mr-4;
}

[data-margin-right~="large"] {
    @apply !mr-8;
}

[data-margin-right~="huge"] {
    @apply !mr-16;
}

@variants <sm {
    [data-margin-right~="mobile:none"] {
        @apply !mr-0;
    }

    [data-margin-right~="mobile:auto"] {
        @apply !mr-auto;
    }

    [data-margin-right~="mobile:tiny"] {
        @apply !mr-1;
    }

    [data-margin-right~="mobile:small"] {
        @apply !mr-2;
    }

    [data-margin-right~="mobile:medium"] {
        @apply !mr-4;
    }

    [data-margin-right~="mobile:large"] {
        @apply !mr-8;
    }

    [data-margin-right~="mobile:huge"] {
        @apply !mr-16;
    }
}

@variants @sm {
    [data-margin-right~="tablet:none"] {
        @apply !mr-0;
    }

    [data-margin-right~="tablet:auto"] {
        @apply !mr-auto;
    }

    [data-margin-right~="tablet:tiny"] {
        @apply !mr-1;
    }

    [data-margin-right~="tablet:small"] {
        @apply !mr-2;
    }

    [data-margin-right~="tablet:medium"] {
        @apply !mr-4;
    }

    [data-margin-right~="tablet:large"] {
        @apply !mr-8;
    }

    [data-margin-right~="tablet:huge"] {
        @apply !mr-16;
    }
}

@variants @md {
    [data-margin-right~="desktop:none"] {
        @apply !mr-0;
    }

    [data-margin-right~="desktop:auto"] {
        @apply !mr-auto;
    }

    [data-margin-right~="desktop:tiny"] {
        @apply !mr-1;
    }

    [data-margin-right~="desktop:small"] {
        @apply !mr-2;
    }

    [data-margin-right~="desktop:medium"] {
        @apply !mr-4;
    }

    [data-margin-right~="desktop:large"] {
        @apply !mr-8;
    }

    [data-margin-right~="desktop:huge"] {
        @apply !mr-16;
    }
}

@variants lg {
    [data-margin-right~="widescreen:none"] {
        @apply !mr-0;
    }

    [data-margin-right~="widescreen:auto"] {
        @apply !mr-auto;
    }

    [data-margin-right~="widescreen:tiny"] {
        @apply !mr-1;
    }

    [data-margin-right~="widescreen:small"] {
        @apply !mr-2;
    }

    [data-margin-right~="widescreen:medium"] {
        @apply !mr-4;
    }

    [data-margin-right~="widescreen:large"] {
        @apply !mr-8;
    }

    [data-margin-right~="widescreen:huge"] {
        @apply !mr-16;
    }
}

/** GLOBAL PADDING */

[data-padding~="none"] {
    @apply !p-0;
}

[data-padding~="tiny"] {
    @apply !p-1;
}

[data-padding~="small"] {
    @apply !p-2;
}

[data-padding~="medium"] {
    @apply !p-4;
}

[data-padding~="large"] {
    @apply !p-8;
}

[data-padding~="huge"] {
    @apply !p-16;
}

@variants <sm {
    [data-padding~="mobile:none"] {
        @apply !p-0;
    }

    [data-padding~="mobile:tiny"] {
        @apply !p-1;
    }

    [data-padding~="mobile:small"] {
        @apply !p-2;
    }

    [data-padding~="mobile:medium"] {
        @apply !p-4;
    }

    [data-padding~="mobile:large"] {
        @apply !p-8;
    }

    [data-padding~="mobile:huge"] {
        @apply !p-16;
    }
}

@variants @sm {
    [data-padding~="tablet:none"] {
        @apply !p-0;
    }

    [data-padding~="tablet:tiny"] {
        @apply !p-1;
    }

    [data-padding~="tablet:small"] {
        @apply !p-2;
    }

    [data-padding~="tablet:medium"] {
        @apply !p-4;
    }

    [data-padding~="tablet:large"] {
        @apply !p-8;
    }

    [data-padding~="tablet:huge"] {
        @apply !p-16;
    }
}

@variants @md {
    [data-padding~="desktop:none"] {
        @apply !p-0;
    }

    [data-padding~="desktop:tiny"] {
        @apply !p-1;
    }

    [data-padding~="desktop:small"] {
        @apply !p-2;
    }

    [data-padding~="desktop:medium"] {
        @apply !p-4;
    }

    [data-padding~="desktop:large"] {
        @apply !p-8;
    }

    [data-padding~="desktop:huge"] {
        @apply !p-16;
    }
}

@variants lg {
    [data-padding~="widescreen:none"] {
        @apply !p-0;
    }

    [data-padding~="widescreen:tiny"] {
        @apply !p-1;
    }

    [data-padding~="widescreen:small"] {
        @apply !p-2;
    }

    [data-padding~="widescreen:medium"] {
        @apply !p-4;
    }

    [data-padding~="widescreen:large"] {
        @apply !p-8;
    }

    [data-padding~="widescreen:huge"] {
        @apply !p-16;
    }
}

[data-padding-x~="none"] {
    @apply !px-0;
}

[data-padding-x~="tiny"] {
    @apply !px-1;
}

[data-padding-x~="small"] {
    @apply !px-2;
}

[data-padding-x~="medium"] {
    @apply !px-4;
}

[data-padding-x~="large"] {
    @apply !px-8;
}

[data-padding-x~="huge"] {
    @apply !px-16;
}

@variants <sm {
    [data-padding-x~="mobile:none"] {
        @apply !px-0;
    }

    [data-padding-x~="mobile:tiny"] {
        @apply !px-1;
    }

    [data-padding-x~="mobile:small"] {
        @apply !px-2;
    }

    [data-padding-x~="mobile:medium"] {
        @apply !px-4;
    }

    [data-padding-x~="mobile:large"] {
        @apply !px-8;
    }

    [data-padding-x~="mobile:huge"] {
        @apply !px-16;
    }
}

@variants @sm {
    [data-padding-x~="tablet:none"] {
        @apply !px-0;
    }

    [data-padding-x~="tablet:tiny"] {
        @apply !px-1;
    }

    [data-padding-x~="tablet:small"] {
        @apply !px-2;
    }

    [data-padding-x~="tablet:medium"] {
        @apply !px-4;
    }

    [data-padding-x~="tablet:large"] {
        @apply !px-8;
    }

    [data-padding-x~="tablet:huge"] {
        @apply !px-16;
    }
}

@variants @md {
    [data-padding-x~="desktop:none"] {
        @apply !px-0;
    }

    [data-padding-x~="desktop:tiny"] {
        @apply !px-1;
    }

    [data-padding-x~="desktop:small"] {
        @apply !px-2;
    }

    [data-padding-x~="desktop:medium"] {
        @apply !px-4;
    }

    [data-padding-x~="desktop:large"] {
        @apply !px-8;
    }

    [data-padding-x~="desktop:huge"] {
        @apply !px-16;
    }
}

@variants lg {
    [data-padding-x~="widescreen:none"] {
        @apply !px-0;
    }

    [data-padding-x~="widescreen:tiny"] {
        @apply !px-1;
    }

    [data-padding-x~="widescreen:small"] {
        @apply !px-2;
    }

    [data-padding-x~="widescreen:medium"] {
        @apply !px-4;
    }

    [data-padding-x~="widescreen:large"] {
        @apply !px-8;
    }

    [data-padding-x~="widescreen:huge"] {
        @apply !px-16;
    }
}

[data-padding-y~="none"] {
    @apply !py-0;
}

[data-padding-y~="tiny"] {
    @apply !py-1;
}

[data-padding-y~="small"] {
    @apply !py-2;
}

[data-padding-y~="medium"] {
    @apply !py-4;
}

[data-padding-y~="large"] {
    @apply !py-8;
}

[data-padding-y~="huge"] {
    @apply !py-16;
}

@variants <sm {
    [data-padding-y~="mobile:none"] {
        @apply !py-0;
    }

    [data-padding-y~="mobile:tiny"] {
        @apply !py-1;
    }

    [data-padding-y~="mobile:small"] {
        @apply !py-2;
    }

    [data-padding-y~="mobile:medium"] {
        @apply !py-4;
    }

    [data-padding-y~="mobile:large"] {
        @apply !py-8;
    }

    [data-padding-y~="mobile:huge"] {
        @apply !py-16;
    }
}

@variants @sm {
    [data-padding-y~="tablet:none"] {
        @apply !py-0;
    }

    [data-padding-y~="tablet:tiny"] {
        @apply !py-1;
    }

    [data-padding-y~="tablet:small"] {
        @apply !py-2;
    }

    [data-padding-y~="tablet:medium"] {
        @apply !py-4;
    }

    [data-padding-y~="tablet:large"] {
        @apply !py-8;
    }

    [data-padding-y~="tablet:huge"] {
        @apply !py-16;
    }
}

@variants @md {
    [data-padding-y~="desktop:none"] {
        @apply !py-0;
    }

    [data-padding-y~="desktop:tiny"] {
        @apply !py-1;
    }

    [data-padding-y~="desktop:small"] {
        @apply !py-2;
    }

    [data-padding-y~="desktop:medium"] {
        @apply !py-4;
    }

    [data-padding-y~="desktop:large"] {
        @apply !py-8;
    }

    [data-padding-y~="desktop:huge"] {
        @apply !py-16;
    }
}

@variants lg {
    [data-padding-y~="widescreen:none"] {
        @apply !py-0;
    }

    [data-padding-y~="widescreen:tiny"] {
        @apply !py-1;
    }

    [data-padding-y~="widescreen:small"] {
        @apply !py-2;
    }

    [data-padding-y~="widescreen:medium"] {
        @apply !py-4;
    }

    [data-padding-y~="widescreen:large"] {
        @apply !py-8;
    }

    [data-padding-y~="widescreen:huge"] {
        @apply !py-16;
    }
}

[data-padding-top~="none"] {
    @apply !pt-0;
}

[data-padding-top~="tiny"] {
    @apply !pt-1;
}

[data-padding-top~="small"] {
    @apply !pt-2;
}

[data-padding-top~="medium"] {
    @apply !pt-4;
}

[data-padding-top~="large"] {
    @apply !pt-8;
}

[data-padding-top~="huge"] {
    @apply !pt-16;
}

@variants <sm {
    [data-padding-top~="mobile:none"] {
        @apply !pt-0;
    }

    [data-padding-top~="mobile:tiny"] {
        @apply !pt-1;
    }

    [data-padding-top~="mobile:small"] {
        @apply !pt-2;
    }

    [data-padding-top~="mobile:medium"] {
        @apply !pt-4;
    }

    [data-padding-top~="mobile:large"] {
        @apply !pt-8;
    }

    [data-padding-top~="mobile:huge"] {
        @apply !pt-16;
    }
}

@variants @sm {
    [data-padding-top~="tablet:none"] {
        @apply !pt-0;
    }

    [data-padding-top~="tablet:tiny"] {
        @apply !pt-1;
    }

    [data-padding-top~="tablet:small"] {
        @apply !pt-2;
    }

    [data-padding-top~="tablet:medium"] {
        @apply !pt-4;
    }

    [data-padding-top~="tablet:large"] {
        @apply !pt-8;
    }

    [data-padding-top~="tablet:huge"] {
        @apply !pt-16;
    }
}

@variants @md {
    [data-padding-top~="desktop:none"] {
        @apply !pt-0;
    }

    [data-padding-top~="desktop:tiny"] {
        @apply !pt-1;
    }

    [data-padding-top~="desktop:small"] {
        @apply !pt-2;
    }

    [data-padding-top~="desktop:medium"] {
        @apply !pt-4;
    }

    [data-padding-top~="desktop:large"] {
        @apply !pt-8;
    }

    [data-padding-top~="desktop:huge"] {
        @apply !pt-16;
    }
}

@variants lg {
    [data-padding-top~="widescreen:none"] {
        @apply !pt-0;
    }

    [data-padding-top~="widescreen:tiny"] {
        @apply !pt-1;
    }

    [data-padding-top~="widescreen:small"] {
        @apply !pt-2;
    }

    [data-padding-top~="widescreen:medium"] {
        @apply !pt-4;
    }

    [data-padding-top~="widescreen:large"] {
        @apply !pt-8;
    }

    [data-padding-top~="widescreen:huge"] {
        @apply !pt-16;
    }
}

[data-padding-left~="none"] {
    @apply !pl-0;
}

[data-padding-left~="tiny"] {
    @apply !pl-1;
}

[data-padding-left~="small"] {
    @apply !pl-2;
}

[data-padding-left~="medium"] {
    @apply !pl-4;
}

[data-padding-left~="large"] {
    @apply !pl-8;
}

[data-padding-left~="huge"] {
    @apply !pl-16;
}

@variants <sm {
    [data-padding-left~="mobile:none"] {
        @apply !pl-0;
    }

    [data-padding-left~="mobile:tiny"] {
        @apply !pl-1;
    }

    [data-padding-left~="mobile:small"] {
        @apply !pl-2;
    }

    [data-padding-left~="mobile:medium"] {
        @apply !pl-4;
    }

    [data-padding-left~="mobile:large"] {
        @apply !pl-8;
    }

    [data-padding-left~="mobile:huge"] {
        @apply !pl-16;
    }
}

@variants @sm {
    [data-padding-left~="tablet:none"] {
        @apply !pl-0;
    }

    [data-padding-left~="tablet:tiny"] {
        @apply !pl-1;
    }

    [data-padding-left~="tablet:small"] {
        @apply !pl-2;
    }

    [data-padding-left~="tablet:medium"] {
        @apply !pl-4;
    }

    [data-padding-left~="tablet:large"] {
        @apply !pl-8;
    }

    [data-padding-left~="tablet:huge"] {
        @apply !pl-16;
    }
}

@variants @md {
    [data-padding-left~="desktop:none"] {
        @apply !pl-0;
    }

    [data-padding-left~="desktop:tiny"] {
        @apply !pl-1;
    }

    [data-padding-left~="desktop:small"] {
        @apply !pl-2;
    }

    [data-padding-left~="desktop:medium"] {
        @apply !pl-4;
    }

    [data-padding-left~="desktop:large"] {
        @apply !pl-8;
    }

    [data-padding-left~="desktop:huge"] {
        @apply !pl-16;
    }
}

@variants lg {
    [data-padding-left~="widescreen:none"] {
        @apply !pl-0;
    }

    [data-padding-left~="widescreen:tiny"] {
        @apply !pl-1;
    }

    [data-padding-left~="widescreen:small"] {
        @apply !pl-2;
    }

    [data-padding-left~="widescreen:medium"] {
        @apply !pl-4;
    }

    [data-padding-left~="widescreen:large"] {
        @apply !pl-8;
    }

    [data-padding-left~="widescreen:huge"] {
        @apply !pl-16;
    }
}

[data-padding-bottom~="none"] {
    @apply !pb-0;
}

[data-padding-bottom~="tiny"] {
    @apply !pb-1;
}

[data-padding-bottom~="small"] {
    @apply !pb-2;
}

[data-padding-bottom~="medium"] {
    @apply !pb-4;
}

[data-padding-bottom~="large"] {
    @apply !pb-8;
}

[data-padding-bottom~="huge"] {
    @apply !pb-16;
}

@variants <sm {
    [data-padding-bottom~="mobile:none"] {
        @apply !pb-0;
    }

    [data-padding-bottom~="mobile:tiny"] {
        @apply !pb-1;
    }

    [data-padding-bottom~="mobile:small"] {
        @apply !pb-2;
    }

    [data-padding-bottom~="mobile:medium"] {
        @apply !pb-4;
    }

    [data-padding-bottom~="mobile:large"] {
        @apply !pb-8;
    }

    [data-padding-bottom~="mobile:huge"] {
        @apply !pb-16;
    }
}

@variants @sm {
    [data-padding-bottom~="tablet:none"] {
        @apply !pb-0;
    }

    [data-padding-bottom~="tablet:tiny"] {
        @apply !pb-1;
    }

    [data-padding-bottom~="tablet:small"] {
        @apply !pb-2;
    }

    [data-padding-bottom~="tablet:medium"] {
        @apply !pb-4;
    }

    [data-padding-bottom~="tablet:large"] {
        @apply !pb-8;
    }

    [data-padding-bottom~="tablet:huge"] {
        @apply !pb-16;
    }
}

@variants @md {
    [data-padding-bottom~="desktop:none"] {
        @apply !pb-0;
    }

    [data-padding-bottom~="desktop:tiny"] {
        @apply !pb-1;
    }

    [data-padding-bottom~="desktop:small"] {
        @apply !pb-2;
    }

    [data-padding-bottom~="desktop:medium"] {
        @apply !pb-4;
    }

    [data-padding-bottom~="desktop:large"] {
        @apply !pb-8;
    }

    [data-padding-bottom~="desktop:huge"] {
        @apply !pb-16;
    }
}

@variants lg {
    [data-padding-bottom~="widescreen:none"] {
        @apply !pb-0;
    }

    [data-padding-bottom~="widescreen:tiny"] {
        @apply !pb-1;
    }

    [data-padding-bottom~="widescreen:small"] {
        @apply !pb-2;
    }

    [data-padding-bottom~="widescreen:medium"] {
        @apply !pb-4;
    }

    [data-padding-bottom~="widescreen:large"] {
        @apply !pb-8;
    }

    [data-padding-bottom~="widescreen:huge"] {
        @apply !pb-16;
    }
}

[data-padding-right~="none"] {
    @apply !pr-0;
}

[data-padding-right~="tiny"] {
    @apply !pr-1;
}

[data-padding-right~="small"] {
    @apply !pr-2;
}

[data-padding-right~="medium"] {
    @apply !pr-4;
}

[data-padding-right~="large"] {
    @apply !pr-8;
}

[data-padding-right~="huge"] {
    @apply !pr-16;
}

@variants <sm {
    [data-padding-right~="mobile:none"] {
        @apply !pr-0;
    }

    [data-padding-right~="mobile:tiny"] {
        @apply !pr-1;
    }

    [data-padding-right~="mobile:small"] {
        @apply !pr-2;
    }

    [data-padding-right~="mobile:medium"] {
        @apply !pr-4;
    }

    [data-padding-right~="mobile:large"] {
        @apply !pr-8;
    }

    [data-padding-right~="mobile:huge"] {
        @apply !pr-16;
    }
}

@variants @sm {
    [data-padding-right~="tablet:none"] {
        @apply !pr-0;
    }

    [data-padding-right~="tablet:tiny"] {
        @apply !pr-1;
    }

    [data-padding-right~="tablet:small"] {
        @apply !pr-2;
    }

    [data-padding-right~="tablet:medium"] {
        @apply !pr-4;
    }

    [data-padding-right~="tablet:large"] {
        @apply !pr-8;
    }

    [data-padding-right~="tablet:huge"] {
        @apply !pr-16;
    }
}

@variants @md {
    [data-padding-right~="desktop:none"] {
        @apply !pr-0;
    }

    [data-padding-right~="desktop:tiny"] {
        @apply !pr-1;
    }

    [data-padding-right~="desktop:small"] {
        @apply !pr-2;
    }

    [data-padding-right~="desktop:medium"] {
        @apply !pr-4;
    }

    [data-padding-right~="desktop:large"] {
        @apply !pr-8;
    }

    [data-padding-right~="desktop:huge"] {
        @apply !pr-16;
    }
}

@variants lg {
    [data-padding-right~="widescreen:none"] {
        @apply !pr-0;
    }

    [data-padding-right~="widescreen:tiny"] {
        @apply !pr-1;
    }

    [data-padding-right~="widescreen:small"] {
        @apply !pr-2;
    }

    [data-padding-right~="widescreen:medium"] {
        @apply !pr-4;
    }

    [data-padding-right~="widescreen:large"] {
        @apply !pr-8;
    }

    [data-padding-right~="widescreen:huge"] {
        @apply !pr-16;
    }
}

/** GLOBAL GAP */

[data-spacing~="tiny"] {
    --spacing-x: theme("gap.1");
    --spacing-y: theme("gap.1");
}

[data-spacing~="small"] {
    --spacing-x: theme("gap.2");
    --spacing-y: theme("gap.2");
}

[data-spacing~="medium"] {
    --spacing-x: theme("gap.4");
    --spacing-y: theme("gap.4");
}

[data-spacing~="large"] {
    --spacing-x: theme("gap.8");
    --spacing-y: theme("gap.8");
}

[data-spacing~="huge"] {
    --spacing-x: theme("gap.16");
    --spacing-y: theme("gap.16");
}

@variants <sm {
    [data-spacing~="mobile:tiny"] {
        --spacing-x: theme("gap.1");
        --spacing-y: theme("gap.1");
    }

    [data-spacing~="mobile:small"] {
        --spacing-x: theme("gap.2");
        --spacing-y: theme("gap.2");
    }

    [data-spacing~="mobile:medium"] {
        --spacing-x: theme("gap.4");
        --spacing-y: theme("gap.4");
    }

    [data-spacing~="mobile:large"] {
        --spacing-x: theme("gap.8");
        --spacing-y: theme("gap.8");
    }

    [data-spacing~="mobile:huge"] {
        --spacing-x: theme("gap.16");
        --spacing-y: theme("gap.16");
    }
}

@variants @sm {
    [data-spacing~="tablet:tiny"] {
        --spacing-x: theme("gap.1");
        --spacing-y: theme("gap.1");
    }

    [data-spacing~="tablet:small"] {
        --spacing-x: theme("gap.2");
        --spacing-y: theme("gap.2");
    }

    [data-spacing~="tablet:medium"] {
        --spacing-x: theme("gap.4");
        --spacing-y: theme("gap.4");
    }

    [data-spacing~="tablet:large"] {
        --spacing-x: theme("gap.8");
        --spacing-y: theme("gap.8");
    }

    [data-spacing~="tablet:huge"] {
        --spacing-x: theme("gap.16");
        --spacing-y: theme("gap.16");
    }
}

@variants @md {
    [data-spacing~="desktop:tiny"] {
        --spacing-x: theme("gap.1");
        --spacing-y: theme("gap.1");
    }

    [data-spacing~="desktop:small"] {
        --spacing-x: theme("gap.2");
        --spacing-y: theme("gap.2");
    }

    [data-spacing~="desktop:medium"] {
        --spacing-x: theme("gap.4");
        --spacing-y: theme("gap.4");
    }

    [data-spacing~="desktop:large"] {
        --spacing-x: theme("gap.8");
        --spacing-y: theme("gap.8");
    }

    [data-spacing~="desktop:huge"] {
        --spacing-x: theme("gap.16");
        --spacing-y: theme("gap.16");
    }
}

@variants lg {
    [data-spacing~="widescreen:tiny"] {
        --spacing-x: theme("gap.1");
        --spacing-y: theme("gap.1");
    }

    [data-spacing~="widescreen:small"] {
        --spacing-x: theme("gap.2");
        --spacing-y: theme("gap.2");
    }

    [data-spacing~="widescreen:medium"] {
        --spacing-x: theme("gap.4");
        --spacing-y: theme("gap.4");
    }

    [data-spacing~="widescreen:large"] {
        --spacing-x: theme("gap.8");
        --spacing-y: theme("gap.8");
    }

    [data-spacing~="widescreen:huge"] {
        --spacing-x: theme("gap.16");
        --spacing-y: theme("gap.16");
    }
}

[data-spacing-x~="tiny"] {
    --spacing-x: theme("gap.1");
}

[data-spacing-x~="small"] {
    --spacing-x: theme("gap.2");
}

[data-spacing-x~="medium"] {
    --spacing-x: theme("gap.4");
}

[data-spacing-x~="large"] {
    --spacing-x: theme("gap.8");
}

[data-spacing-x~="huge"] {
    --spacing-x: theme("gap.16");
}

@variants <sm {
    [data-spacing-x~="mobile:tiny"] {
        --spacing-x: theme("gap.1");
    }

    [data-spacing-x~="mobile:small"] {
        --spacing-x: theme("gap.2");
    }

    [data-spacing-x~="mobile:medium"] {
        --spacing-x: theme("gap.4");
    }

    [data-spacing-x~="mobile:large"] {
        --spacing-x: theme("gap.8");
    }

    [data-spacing-x~="mobile:huge"] {
        --spacing-x: theme("gap.16");
    }
}

@variants @sm {
    [data-spacing-x~="tablet:tiny"] {
        --spacing-x: theme("gap.1");
    }

    [data-spacing-x~="tablet:small"] {
        --spacing-x: theme("gap.2");
    }

    [data-spacing-x~="tablet:medium"] {
        --spacing-x: theme("gap.4");
    }

    [data-spacing-x~="tablet:large"] {
        --spacing-x: theme("gap.8");
    }

    [data-spacing-x~="tablet:huge"] {
        --spacing-x: theme("gap.16");
    }
}

@variants @md {
    [data-spacing-x~="desktop:tiny"] {
        --spacing-x: theme("gap.1");
    }

    [data-spacing-x~="desktop:small"] {
        --spacing-x: theme("gap.2");
    }

    [data-spacing-x~="desktop:medium"] {
        --spacing-x: theme("gap.4");
    }

    [data-spacing-x~="desktop:large"] {
        --spacing-x: theme("gap.8");
    }

    [data-spacing-x~="desktop:huge"] {
        --spacing-x: theme("gap.16");
    }
}

@variants lg {
    [data-spacing-x~="widescreen:tiny"] {
        --spacing-x: theme("gap.1");
    }

    [data-spacing-x~="widescreen:small"] {
        --spacing-x: theme("gap.2");
    }

    [data-spacing-x~="widescreen:medium"] {
        --spacing-x: theme("gap.4");
    }

    [data-spacing-x~="widescreen:large"] {
        --spacing-x: theme("gap.8");
    }

    [data-spacing-x~="widescreen:huge"] {
        --spacing-x: theme("gap.16");
    }
}

[data-spacing-y~="tiny"] {
    --spacing-y: theme("gap.1");
}

[data-spacing-y~="small"] {
    --spacing-y: theme("gap.2");
}

[data-spacing-y~="medium"] {
    --spacing-y: theme("gap.4");
}

[data-spacing-y~="large"] {
    --spacing-y: theme("gap.8");
}

[data-spacing-y~="huge"] {
    --spacing-y: theme("gap.16");
}

@variants <sm {
    [data-spacing-y~="mobile:tiny"] {
        --spacing-y: theme("gap.1");
    }

    [data-spacing-y~="mobile:small"] {
        --spacing-y: theme("gap.2");
    }

    [data-spacing-y~="mobile:medium"] {
        --spacing-y: theme("gap.4");
    }

    [data-spacing-y~="mobile:large"] {
        --spacing-y: theme("gap.8");
    }

    [data-spacing-y~="mobile:huge"] {
        --spacing-y: theme("gap.16");
    }
}

@variants @sm {
    [data-spacing-y~="tablet:tiny"] {
        --spacing-y: theme("gap.1");
    }

    [data-spacing-y~="tablet:small"] {
        --spacing-y: theme("gap.2");
    }

    [data-spacing-y~="tablet:medium"] {
        --spacing-y: theme("gap.4");
    }

    [data-spacing-y~="tablet:large"] {
        --spacing-y: theme("gap.8");
    }

    [data-spacing-y~="tablet:huge"] {
        --spacing-y: theme("gap.16");
    }
}

@variants @md {
    [data-spacing-y~="desktop:tiny"] {
        --spacing-y: theme("gap.1");
    }

    [data-spacing-y~="desktop:small"] {
        --spacing-y: theme("gap.2");
    }

    [data-spacing-y~="desktop:medium"] {
        --spacing-y: theme("gap.4");
    }

    [data-spacing-y~="desktop:large"] {
        --spacing-y: theme("gap.8");
    }

    [data-spacing-y~="desktop:huge"] {
        --spacing-y: theme("gap.16");
    }
}

@variants lg {
    [data-spacing-y~="widescreen:tiny"] {
        --spacing-y: theme("gap.1");
    }

    [data-spacing-y~="widescreen:small"] {
        --spacing-y: theme("gap.2");
    }

    [data-spacing-y~="widescreen:medium"] {
        --spacing-y: theme("gap.4");
    }

    [data-spacing-y~="widescreen:large"] {
        --spacing-y: theme("gap.8");
    }

    [data-spacing-y~="widescreen:huge"] {
        --spacing-y: theme("gap.16");
    }
}
