:root {
    --palette-accent-lightest: theme("colors.accent.200");
    --palette-accent-light: theme("colors.accent.300");
    --palette-accent-normal: theme("colors.accent.400");
    --palette-accent-bold: theme("colors.accent.500");
    --palette-accent-boldest: theme("colors.accent.600");

    --palette-neutral-lightest: theme("colors.neutral.100");
    --palette-neutral-light: theme("colors.neutral.200");
    --palette-neutral-normal: theme("colors.neutral.300");
    --palette-neutral-bold: theme("colors.neutral.400");
    --palette-neutral-boldest: theme("colors.neutral.500");

    --palette-dark-lightest: theme("colors.dark.100");
    --palette-dark-light: theme("colors.dark.200");
    --palette-dark-normal: theme("colors.dark.300");
    --palette-dark-bold: theme("colors.dark.400");
    --palette-dark-boldest: theme("colors.dark.500");

    --palette-off-dark-lightest: theme("colors.[off-dark].100");
    --palette-off-dark-light: theme("colors.[off-dark].200");
    --palette-off-dark-normal: theme("colors.[off-dark].300");
    --palette-off-dark-bold: theme("colors.[off-dark].400");
    --palette-off-dark-boldest: theme("colors.[off-dark].500");

    --palette-light-lightest: theme("colors.light.50");
    --palette-light-light: theme("colors.light.100");
    --palette-light-normal: theme("colors.light.200");
    --palette-light-bold: theme("colors.light.300");
    --palette-light-boldest: theme("colors.light.400");

    --palette-off-light-lightest: theme("colors.[off-light].50");
    --palette-off-light-light: theme("colors.[off-light].100");
    --palette-off-light-normal: theme("colors.[off-light].200");
    --palette-off-light-bold: theme("colors.[off-light].300");
    --palette-off-light-boldest: theme("colors.[off-light].400");

    --palette-alert-lightest: theme("colors.alert.200");
    --palette-alert-light: theme("colors.alert.300");
    --palette-alert-normal: theme("colors.alert.400");
    --palette-alert-bold: theme("colors.alert.500");
    --palette-alert-boldest: theme("colors.alert.600");

    --palette-affirmative-lightest: theme("colors.affirmative.200");
    --palette-affirmative-light: theme("colors.affirmative.300");
    --palette-affirmative-normal: theme("colors.affirmative.400");
    --palette-affirmative-bold: theme("colors.affirmative.500");
    --palette-affirmative-boldest: theme("colors.affirmative.600");

    --palette-negative-lightest: theme("colors.negative.200");
    --palette-negative-light: theme("colors.negative.300");
    --palette-negative-normal: theme("colors.negative.400");
    --palette-negative-bold: theme("colors.negative.500");
    --palette-negative-boldest: theme("colors.negative.600");

    --palette-auto-lightest: var(--palette-light-lightest);
    --palette-auto-light: var(--palette-light-light);
    --palette-auto-normal: var(--palette-light-normal);
    --palette-auto-bold: var(--palette-light-bold);
    --palette-auto-boldest: var(--palette-light-boldest);

    --palette-auto-off-lightest: var(--palette-off-light-lightest);
    --palette-auto-off-light: var(--palette-off-light-light);
    --palette-auto-off-normal: var(--palette-off-light-normal);
    --palette-auto-off-bold: var(--palette-off-light-bold);
    --palette-auto-off-boldest: var(--palette-off-light-boldest);

    --palette-inverse-lightest: var(--palette-dark-lightest);
    --palette-inverse-light: var(--palette-dark-light);
    --palette-inverse-normal: var(--palette-dark-normal);
    --palette-inverse-bold: var(--palette-dark-bold);
    --palette-inverse-boldest: var(--palette-dark-boldest);

    --palette-inverse-off-lightest: var(--palette-off-dark-lightest);
    --palette-inverse-off-light: var(--palette-off-dark-light);
    --palette-inverse-off-normal: var(--palette-off-dark-normal);
    --palette-inverse-off-bold: var(--palette-off-dark-bold);
    --palette-inverse-off-boldest: var(--palette-off-dark-boldest);

    /** */

    --radius-circle: theme("borderRadius.1");
    --radius-pill: theme("borderRadius.full");

    --radius-small: theme("borderRadius.md");
    --radius-medium: theme("borderRadius.lg");

    /** */

    --sizes-prose: theme("width.prose");

    --sizes-embedded-tiny: theme("width.sm");
    --sizes-embedded-small: theme("width.lg");
    --sizes-embedded-medium: theme("width.2xl");
    --sizes-embedded-large: theme("width.4xl");
    --sizes-embedded-huge: theme("width.6xl");

    --sizes-icon-tiny: 16px;
    --sizes-icon-small: 24px;
    --sizes-icon-medium: 32px;
    --sizes-icon-large: 48px;
    --sizes-icon-huge: 64px;

    /** */

    --spacing-local-tiny: theme("lspacing.1");
    --spacing-local-small: theme("lspacing.2");
    --spacing-local-medium: theme("lspacing.4");
    --spacing-local-large: theme("lspacing.6");
    --spacing-local-huge: theme("lspacing.8");

    --spacing-root-tiny: theme("spacing.1");
    --spacing-root-small: theme("spacing.2");
    --spacing-root-medium: theme("spacing.4");
    --spacing-root-large: theme("spacing.6");
    --spacing-root-huge: theme("spacing.8");

    /** */

    /**
        NOTE: The Viewport variables below don't /actually/ do anything in
        the Framework. And are instead here to provide the Javascript side
        of thing constants to reference
    */

    --viewport-mobile-min: 0px;
    --viewport-mobile-max: theme("screens.sm");

    --viewport-tablet-min: calc(var(--viewport-mobile-max) + 1px);
    --viewport-tablet-max: theme("screens.md");

    --viewport-desktop-min: calc(var(--viewport-tablet-max) + 1px);
    --viewport-desktop-max: theme("screens.lg");

    --viewport-widescreen-min: calc(var(--viewport-desktop-max) + 1px);
    --viewport-widescreen-max: theme("screens.xl");

    /** */

    --font-family-monospace: theme("fontFamily.mono");
    --font-family-normal: theme("fontFamily.sans");

    /** */

    --font-content-size-nano: theme("fontSize.xs.0");
    --font-content-line-height-nano: theme("fontSize.xs.1.lineHeight");

    --font-content-size-tiny: theme("fontSize.sm.0");
    --font-content-line-height-tiny: theme("fontSize.sm.1.lineHeight");

    --font-content-size-small: theme("fontSize.base.0");
    --font-content-line-height-small: theme("fontSize.base.1.lineHeight");

    --font-content-size-medium: theme("fontSize.lg.0");
    --font-content-line-height-medium: theme("fontSize.lg.1.lineHeight");

    --font-content-size-large: theme("fontSize.xl.0");
    --font-content-line-height-large: theme("fontSize.xl.1.lineHeight");

    --font-content-size-huge: theme("fontSize.2xl.0");
    --font-content-line-height-huge: theme("fontSize.2xl.1.lineHeight");

    --font-content-size-massive: theme("fontSize.3xl.0");
    --font-content-line-height-massive: theme("fontSize.3xl.1.lineHeight");

    --font-headline-size-nano: theme("fontSize.base.0");
    --font-headline-line-height-nano: theme("fontSize.base.1.lineHeight");

    --font-headline-size-tiny: theme("fontSize.lg.0");
    --font-headline-line-height-tiny: theme("fontSize.lg.1.lineHeight");

    --font-headline-size-small: theme("fontSize.xl.0");
    --font-headline-line-height-small: theme("fontSize.xl.1.lineHeight");

    --font-headline-size-medium: theme("fontSize.2xl.0");
    --font-headline-line-height-medium: theme("fontSize.2xl.1.lineHeight");

    --font-headline-size-large: theme("fontSize.3xl.0");
    --font-headline-line-height-large: theme("fontSize.3xl.1.lineHeight");

    --font-headline-size-huge: theme("fontSize.4xl.0");
    --font-headline-line-height-huge: theme("fontSize.4xl.1.lineHeight");

    --font-headline-size-massive: theme("fontSize.5xl.0");
    --font-headline-line-height-massive: theme("fontSize.5xl.1.lineHeight");

    /** */

    --scrollbar-background: var(--palette-off-dark-lightest);
    --scrollbar-foreground: var(--palette-dark-normal);
    --scrollbar-size: theme("width.1");

    /** */

    --document-background: var(--palette-auto-off-lightest);
    --document-foreground: var(--palette-inverse-normal);

    --document-font-size: var(--font-content-size-small);
    --document-font-line-height: var(--font-content-line-height-small);

    --selection-background: var(--palette-accent-boldest);
    --selection-foreground: var(--palette-light-normal);
}

/**
 * HACK: Really lame to have to duplicate dark mode variables
 */

@media (prefers-color-scheme: dark) {
    :root:not([data-palette]) {
        --palette-accent-lightest: theme("colors.accent.900");
        --palette-accent-light: theme("colors.accent.800");
        --palette-accent-normal: theme("colors.accent.700");
        --palette-accent-bold: theme("colors.accent.600");
        --palette-accent-boldest: theme("colors.accent.500");

        --palette-neutral-lightest: theme("colors.neutral.700");
        --palette-neutral-light: theme("colors.neutral.600");
        --palette-neutral-normal: theme("colors.neutral.500");
        --palette-neutral-bold: theme("colors.neutral.400");
        --palette-neutral-boldest: theme("colors.neutral.300");

        --palette-dark-lightest: theme("colors.dark.700");
        --palette-dark-light: theme("colors.dark.600");
        --palette-dark-normal: theme("colors.dark.500");
        --palette-dark-bold: theme("colors.dark.400");
        --palette-dark-boldest: theme("colors.dark.300");

        --palette-off-dark-lightest: theme("colors.[off-dark].700");
        --palette-off-dark-light: theme("colors.[off-dark].600");
        --palette-off-dark-normal: theme("colors.[off-dark].500");
        --palette-off-dark-bold: theme("colors.[off-dark].400");
        --palette-off-dark-boldest: theme("colors.[off-dark].300");

        --palette-light-lightest: theme("colors.light.900");
        --palette-light-light: theme("colors.light.800");
        --palette-light-normal: theme("colors.light.700");
        --palette-light-bold: theme("colors.light.600");
        --palette-light-boldest: theme("colors.light.500");

        --palette-off-light-lightest: theme("colors.[off-light].900");
        --palette-off-light-light: theme("colors.[off-light].800");
        --palette-off-light-normal: theme("colors.[off-light].700");
        --palette-off-light-bold: theme("colors.[off-light].600");
        --palette-off-light-boldest: theme("colors.[off-light].500");

        --palette-alert-lightest: theme("colors.alert.900");
        --palette-alert-light: theme("colors.alert.800");
        --palette-alert-normal: theme("colors.alert.700");
        --palette-alert-bold: theme("colors.alert.600");
        --palette-alert-boldest: theme("colors.alert.500");

        --palette-affirmative-lightest: theme("colors.affirmative.900");
        --palette-affirmative-light: theme("colors.affirmative.800");
        --palette-affirmative-normal: theme("colors.affirmative.700");
        --palette-affirmative-bold: theme("colors.affirmative.600");
        --palette-affirmative-boldest: theme("colors.affirmative.500");

        --palette-negative-lightest: theme("colors.negative.900");
        --palette-negative-light: theme("colors.negative.800");
        --palette-negative-normal: theme("colors.negative.700");
        --palette-negative-bold: theme("colors.negative.600");
        --palette-negative-boldest: theme("colors.negative.500");

        --palette-auto-lightest: var(--palette-dark-lightest);
        --palette-auto-light: var(--palette-dark-light);
        --palette-auto-normal: var(--palette-dark-normal);
        --palette-auto-bold: var(--palette-dark-bold);
        --palette-auto-boldest: var(--palette-dark-boldest);

        --palette-auto-off-lightest: var(--palette-off-dark-lightest);
        --palette-auto-off-light: var(--palette-off-dark-light);
        --palette-auto-off-normal: var(--palette-off-dark-normal);
        --palette-auto-off-bold: var(--palette-off-dark-bold);
        --palette-auto-off-boldest: var(--palette-off-dark-boldest);

        --palette-inverse-lightest: var(--palette-light-lightest);
        --palette-inverse-light: var(--palette-light-light);
        --palette-inverse-normal: var(--palette-light-normal);
        --palette-inverse-bold: var(--palette-light-bold);
        --palette-inverse-boldest: var(--palette-light-boldest);

        --palette-inverse-off-lightest: var(--palette-off-light-lightest);
        --palette-inverse-off-light: var(--palette-off-light-light);
        --palette-inverse-off-normal: var(--palette-off-light-normal);
        --palette-inverse-off-bold: var(--palette-off-light-bold);
        --palette-inverse-off-boldest: var(--palette-off-light-boldest);

        /** */

        --scrollbar-background: var(--palette-off-dark-boldest);
        --scrollbar-foreground: var(--palette-dark-normal);
    }
}

:root[data-palette="dark"] {
    --palette-accent-lightest: theme("colors.accent.900");
    --palette-accent-light: theme("colors.accent.800");
    --palette-accent-normal: theme("colors.accent.700");
    --palette-accent-bold: theme("colors.accent.600");
    --palette-accent-boldest: theme("colors.accent.500");

    --palette-neutral-lightest: theme("colors.neutral.700");
    --palette-neutral-light: theme("colors.neutral.600");
    --palette-neutral-normal: theme("colors.neutral.500");
    --palette-neutral-bold: theme("colors.neutral.400");
    --palette-neutral-boldest: theme("colors.neutral.300");

    --palette-dark-lightest: theme("colors.dark.700");
    --palette-dark-light: theme("colors.dark.600");
    --palette-dark-normal: theme("colors.dark.500");
    --palette-dark-bold: theme("colors.dark.400");
    --palette-dark-boldest: theme("colors.dark.300");

    --palette-off-dark-lightest: theme("colors.[off-dark].700");
    --palette-off-dark-light: theme("colors.[off-dark].600");
    --palette-off-dark-normal: theme("colors.[off-dark].500");
    --palette-off-dark-bold: theme("colors.[off-dark].400");
    --palette-off-dark-boldest: theme("colors.[off-dark].300");

    --palette-light-lightest: theme("colors.light.900");
    --palette-light-light: theme("colors.light.800");
    --palette-light-normal: theme("colors.light.700");
    --palette-light-bold: theme("colors.light.600");
    --palette-light-boldest: theme("colors.light.500");

    --palette-off-light-lightest: theme("colors.[off-light].900");
    --palette-off-light-light: theme("colors.[off-light].800");
    --palette-off-light-normal: theme("colors.[off-light].700");
    --palette-off-light-bold: theme("colors.[off-light].600");
    --palette-off-light-boldest: theme("colors.[off-light].500");

    --palette-alert-lightest: theme("colors.alert.900");
    --palette-alert-light: theme("colors.alert.800");
    --palette-alert-normal: theme("colors.alert.700");
    --palette-alert-bold: theme("colors.alert.600");
    --palette-alert-boldest: theme("colors.alert.500");

    --palette-affirmative-lightest: theme("colors.affirmative.900");
    --palette-affirmative-light: theme("colors.affirmative.800");
    --palette-affirmative-normal: theme("colors.affirmative.700");
    --palette-affirmative-bold: theme("colors.affirmative.600");
    --palette-affirmative-boldest: theme("colors.affirmative.500");

    --palette-negative-lightest: theme("colors.negative.900");
    --palette-negative-light: theme("colors.negative.800");
    --palette-negative-normal: theme("colors.negative.700");
    --palette-negative-bold: theme("colors.negative.600");
    --palette-negative-boldest: theme("colors.negative.500");

    --palette-auto-lightest: var(--palette-dark-lightest);
    --palette-auto-light: var(--palette-dark-light);
    --palette-auto-normal: var(--palette-dark-normal);
    --palette-auto-bold: var(--palette-dark-bold);
    --palette-auto-boldest: var(--palette-dark-boldest);

    --palette-auto-off-lightest: var(--palette-off-dark-lightest);
    --palette-auto-off-light: var(--palette-off-dark-light);
    --palette-auto-off-normal: var(--palette-off-dark-normal);
    --palette-auto-off-bold: var(--palette-off-dark-bold);
    --palette-auto-off-boldest: var(--palette-off-dark-boldest);

    --palette-inverse-lightest: var(--palette-light-lightest);
    --palette-inverse-light: var(--palette-light-light);
    --palette-inverse-normal: var(--palette-light-normal);
    --palette-inverse-bold: var(--palette-light-bold);
    --palette-inverse-boldest: var(--palette-light-boldest);

    --palette-inverse-off-lightest: var(--palette-off-light-lightest);
    --palette-inverse-off-light: var(--palette-off-light-light);
    --palette-inverse-off-normal: var(--palette-off-light-normal);
    --palette-inverse-off-bold: var(--palette-off-light-bold);
    --palette-inverse-off-boldest: var(--palette-off-light-boldest);

    /** */

    --scrollbar-background: var(--palette-off-dark-boldest);
    --scrollbar-foreground: var(--palette-dark-normal);
}
