[data-viewport~="prose"] {
    --viewport: theme("width.prose");
}

[data-viewport~="mobile"] {
    --viewport: theme("screens.sm");
}

[data-viewport~="tablet"] {
    --viewport: theme("screens.md");
}

[data-viewport~="desktop"] {
    --viewport: theme("screens.lg");
}

[data-viewport~="widescreen"] {
    --viewport: theme("screens.xl");
}

@variants <sm {
    [data-viewport~="mobile:prose"] {
        --viewport: theme("width.prose");
    }

    [data-viewport~="mobile:mobile"] {
        --viewport: theme("screens.sm");
    }

    [data-viewport~="mobile:tablet"] {
        --viewport: theme("screens.md");
    }

    [data-viewport~="mobile:desktop"] {
        --viewport: theme("screens.lg");
    }

    [data-viewport~="mobile:widescreen"] {
        --viewport: theme("screens.xl");
    }
}

@variants @sm {
    [data-viewport~="tablet:prose"] {
        --viewport: theme("width.prose");
    }

    [data-viewport~="tablet:mobile"] {
        --viewport: theme("screens.sm");
    }

    [data-viewport~="tablet:tablet"] {
        --viewport: theme("screens.md");
    }

    [data-viewport~="tablet:desktop"] {
        --viewport: theme("screens.lg");
    }

    [data-viewport~="tablet:widescreen"] {
        --viewport: theme("screens.xl");
    }
}

@variants @md {
    [data-viewport~="desktop:prose"] {
        --viewport: theme("width.prose");
    }

    [data-viewport~="desktop:mobile"] {
        --viewport: theme("screens.sm");
    }

    [data-viewport~="desktop:tablet"] {
        --viewport: theme("screens.md");
    }

    [data-viewport~="desktop:desktop"] {
        --viewport: theme("screens.lg");
    }

    [data-viewport~="desktop:widescreen"] {
        --viewport: theme("screens.xl");
    }
}

@variants lg {
    [data-viewport~="widescreen:prose"] {
        --viewport: theme("width.prose");
    }

    [data-viewport~="widescreen:mobile"] {
        --viewport: theme("screens.sm");
    }

    [data-viewport~="widescreen:tablet"] {
        --viewport: theme("screens.md");
    }

    [data-viewport~="widescreen:desktop"] {
        --viewport: theme("screens.lg");
    }

    [data-viewport~="widescreen:widescreen"] {
        --viewport: theme("screens.xl");
    }
}
