@use "../abstracts/variables";

@mixin shadow() {
    box-shadow: var(--elevation-shadow);
}

@mixin var-reset($namespace: null) {
    @if $namespace {
        --elevation-shadow: #{variables.format-var("#{$namespace}.elevation")};
    } @else {
        --elevation-shadow: none;
    }
}
