@use "../abstracts/variables";

@mixin all($namespace) {
    border-radius: #{variables.format-var("#{$namespace}.border.radius")};
}

@mixin bottom($namespace) {
    border-bottom-left-radius: #{variables.format-var("#{$namespace}.border.radius")};
    border-bottom-right-radius: #{variables.format-var("#{$namespace}.border.radius")};
}

@mixin left($namespace) {
    border-bottom-left-radius: #{variables.format-var("#{$namespace}.border.radius")};
    border-top-left-radius: #{variables.format-var("#{$namespace}.border.radius")};
}

@mixin right($namespace) {
    border-bottom-right-radius: #{variables.format-var("#{$namespace}.border.radius")};
    border-top-right-radius: #{variables.format-var("#{$namespace}.border.radius")};
}

@mixin top($namespace) {
    border-top-left-radius: #{variables.format-var("#{$namespace}.border.radius")};
    border-top-right-radius: #{variables.format-var("#{$namespace}.border.radius")};
}
