@use "../abstracts/variables";

@mixin font($unit, $tier: null, $namespace: null) {
    @if $namespace {
        font-size: calc(#{variables.format-var("#{$namespace}.font.size")} * 1#{$unit});
    } @else {
        font-size: calc(var(--sizing-font-size-#{$tier}) * 1#{$unit});
    }
}

@mixin letter-spacing($unit, $namespace: null) {
    @if $namespace {
        letter-spacing: calc(
            #{variables.format-var("#{$namespace}.font.letter-spacing")} * 1#{$unit}
        );
    } @else {
        letter-spacing: calc(var(--sizing-font-letter-spacing) * 1#{$unit});
    }
}

@mixin line-height($namespace: null) {
    @if $namespace {
        line-height: #{variables.format-var("#{$namespace}.font.line-height")};
    } @else {
        line-height: var(--sizing-font-line-height);
    }
}

@mixin var-reset-font($tier, $namespace: null) {
    @if $namespace {
        --sizing-font-size-#{$tier}: #{variables.format-var("#{$namespace}.font.size")};
    } @else {
        --sizing-font-size-#{$tier}: 1;
    }
}

@mixin var-reset-letter-spacing($namespace: null) {
    @if $namespace {
        --sizing-font-letter-spacing: #{variables.format-var("#{$namespace}.font.letter-spacing")};
    } @else {
        --sizing-font-letter-spacing: unset;
    }
}

@mixin var-reset-line-height($namespace: null) {
    @if $namespace {
        --sizing-font-line-height: #{variables.format-var("#{$namespace}.font.line-height")};
    } @else {
        --sizing-font-line-height: unset;
    }
}

@mixin var-reset-size($tier, $namespace: null) {
    @if $namespace {
        --sizing-size-#{$tier}: #{variables.format-var("#{$namespace}.size")};
    } @else {
        --sizing-size-#{$tier}: 0px;
    }
}
