@use "../abstracts/variables";

@mixin var-reset($namespace: null) {
    @if $namespace {
        --spacing-x: #{variables.use("#{$namespace}.spacing.x")};
        --spacing-y: #{variables.use("#{$namespace}.spacing.y")};
    } @else {
        --spacing-x: 0;
        --spacing-y: 0;
    }
}
