@use "sass:list";
@use "sass:map";

@use "../abstracts/transitions";
@use "../abstracts/variables";

@mixin build() {
    $formatted: ();
    $transitions: transitions.get();

    @each $transition in $transitions {
        $animation-tier: map.get($transition, "animation-tier");
        $property: map.get($transition, "property");

        $formatted: list.append(
            $formatted,
            (
                $property
                    variables.format-var("animations.#{$animation-tier}.duration")
                    variables.format-var("animations.#{$animation-tier}.function")
            )
        );
    }

    transition: list.zip($formatted);
}
