.hero {
    --palette-background-normal: var(--palette-auto-off-normal);
    --palette-foreground-normal: var(--palette-inverse-normal);

    @apply bg-[rgb(var(--palette-background-normal))] flex flex-col items-center
    justify-center p-[var(--spacing-root-medium)] text-center text-[rgb(var(--palette-foreground-normal))];

    & > header {
        @apply font-bold;

        font-size: var(--font-headline-size-massive);
        line-height: var(--font-headline-line-height-massive);
    }

    & > section {
        font-size: var(--font-headline-size-tiny);
        line-height: var(--font-headline-line-height-tiny);
    }

    & > footer {
        @apply flex items-center gap-[var(--spacing-root-small)] max-w-[max-content];

        font-size: var(--font-headline-size-nano);
        line-height: var(--font-headline-line-height-nano);

        &:not(:first-child) {
            @apply mt-[var(--spacing-root-large)];
        }
    }

    & > :is(header, section) {
        @apply max-w-prose;

        &:not(:first-child) {
            @apply mt-[var(--spacing-root-small)];
        }
    }
}
