* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    background-color: vhsl(--document-root-background);
    color: vhsl(--document-root-color);

    font-family: var(--document-root-font-family);
    font-size: var(--document-root-font-size);
    font-weight: var(--document-root-font-weight);

    line-height: var(--document-root-line-height);
}

::selection {
    background-color: vhsl(--document-root-color);
    color: vhsl(--document-root-background);
}

* {
    scrollbar-width: var(--document-scrollbar-width-keyword);
    scrollbar-color: hsla(var(--document-scrollbar-thumb-color)),
        hsla(var(--document-scrollbar-track-color));
}

::-webkit-scrollbar {
    width: var(--document-scrollbar-width-size);
}

::-webkit-scrollbar-track {
    background: hsla(var(--document-scrollbar-track-color));
}

::-webkit-scrollbar-thumb {
    background: hsla(var(--document-scrollbar-thumb-color));
}
