@use "../abstracts/transitions";
@use "../abstracts/variables";

@use "../mixins/borders";
@use "../mixins/colors";
@use "../mixins/fonts";
@use "../mixins/intrinsics";
@use "../mixins/radius";
@use "../mixins/sizings";

@mixin base(
    $namespace,
    $alignment-x: center,
    $alignment-y: center,
    $support-loud: false,
    $support-radius: false,
    $support-outline: false
) {
    display: inline-flex;
    align-items: #{$alignment-y};
    justify-content: #{$alignment-x};

    position: relative;

    @include intrinsics.gap-all($namespace: $namespace, $unit: em);
    @include intrinsics.padding-all($namespace: $namespace, $unit: em);

    outline: none !important; // TODO: Remove during accessibility pass

    @include fonts.line-height($support-sizing: true);
    @include fonts.size($unit: rem, $sizing-tier: "inline");
    @include fonts.weight($namespace);

    text-decoration: none !important;

    cursor: pointer;
    user-select: none;

    vertical-align: middle;
    white-space: nowrap;

    @include colors.transitions-background();
    @include colors.transitions-opacity();
    @include colors.transitions-text();

    @if ($support-loud) {
        @include transitions-loud();
    }

    @if ($support-outline) {
        border-color: transparent;
        @include borders.style-all($namespace: $namespace);
        @include borders.width-all($namespace: $namespace);

        @include borders.transitions();
    }

    @if $support-radius {
        @include radius.all($unit: "rem");
    } @else {
        @include radius.all($namespace: $namespace, $unit: "rem");
    }

    @include transitions.build();
}

@mixin base-disabled($namespace) {
    cursor: not-allowed;
    @include colors.opacity($namespace: $namespace);
}

@mixin state-active($is-inverse: false) {
    @if $is-inverse {
        &:not(:active, [aria-current], [aria-pressed="true"]) {
            @content;
        }
    } @else {
        &:is(:active, [aria-current], [aria-pressed="true"]) {
            @content;
        }
    }
}

@mixin state-disabled($is-inverse: false) {
    @if $is-inverse {
        &:not(:disabled, [aria-disabled="true"]) {
            @content;
        }
    } @else {
        &:is(:disabled, [aria-disabled="true"]) {
            @content;
        }
    }
}

@mixin state-hover($is-inverse: false) {
    @if $is-inverse {
        &:not(:focus, :hover) {
            @content;
        }
    } @else {
        &:is(:focus, :hover) {
            @content;
        }
    }
}

@mixin variation-loud-base($namespace) {
    transform: scale(1);
}

@mixin variation-loud-active($namespace) {
    transform: scale(
        #{variables.format-var("#{$namespace}.scale.x")},
        #{variables.format-var("#{$namespace}.scale.y")}
    );
}

@mixin transitions-loud() {
    @include transitions.push(transform, "movement");
}

@mixin variation-block-base($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "bolder"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}

@mixin variation-block-hover($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "light"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}

@mixin variation-block-active($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "lightest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}

@mixin variation-clear-base($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
}

@mixin variation-clear-hover($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
}

@mixin variation-clear-active($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}

@mixin variation-outline-base($namespace, $is-inverse: false) {
    @include borders.color-all(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
}

@mixin variation-outline-hover($namespace, $is-inverse: false) {
    @include borders.color-all(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
}

@mixin variation-outline-active($namespace, $is-inverse: false) {
    @include borders.color-all(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.background(
        $namespace: $namespace,
        $face: if($is-inverse, "foreground", "background"),
        $shade: "boldest"
    );
    @include colors.text(
        $namespace: $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}
