@use "../abstracts/variables";

@mixin base($unit) {
    display: flex;

    gap: calc(var(--spacing-y) * 1#{$unit}) calc(var(--spacing-x) * 1#{$unit});

    align-items: var(--orientation-align);
    justify-content: var(--orientation-justify);

    flex-direction: var(--orientation-direction);
}

@mixin var-reset($direction, $alignment-x: initial, $alignment-y: initial, $namespace: null) {
    --orientation-direction: #{$direction};

    @if $direction == "column" {
        --orientation-align: var(--alignment-flex-x);
        --orientation-justify: var(--alignment-flex-y);
    } @else {
        --orientation-align: var(--alignment-flex-y);
        --orientation-justify: var(--alignment-flex-x);
    }

    --alignment-flex-x: #{$alignment-x};
    --alignment-flex-y: #{$alignment-y};

    @if $namespace {
        --spacing-x: #{variables.format-var("#{$namespace}.spacing.x")};
        --spacing-y: #{variables.format-var("#{$namespace}.spacing.y")};
    } @else {
        --spacing-x: 0px;
        --spacing-y: 0px;
    }
}
