@use "../mixins/borders";
@use "../mixins/colors";
@use "../mixins/radius";

@mixin borders-all($namespace) {
    @include borders.all($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-x($namespace) {
    @include borders.x($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-y($namespace) {
    @include borders.y($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-bottom($namespace) {
    @include borders.bottom($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-left($namespace) {
    @include borders.left($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-right($namespace) {
    @include borders.right($namespace, $face: "foreground", $shade: "lightest");
}

@mixin borders-top($namespace) {
    @include borders.top($namespace, $face: "foreground", $shade: "lightest");
}

@mixin radius-all() {
    @include radius.all($unit: rem);
}

@mixin radius-bottom() {
    @include radius.bottom($unit: rem);
}

@mixin radius-left() {
    @include radius.left($unit: rem);
}

@mixin radius-right() {
    @include radius.right($unit: rem);
}

@mixin radius-top() {
    @include radius.top($unit: rem);
}

@mixin background($namespace, $is-inverse: false) {
    @include colors.background(
        $namespace,
        if($is-inverse, "foreground", "background"),
        $shade: "lightest"
    );
}

@mixin text($namespace, $is-inverse: false) {
    @include colors.text(
        $namespace,
        $face: if($is-inverse, "background", "foreground"),
        $shade: "light"
    );
}
