:root {
    /**
     * Form Tokens
     */

    --form-font-family: inherit;
    --form-font-weight: var(--font-weight-text);

    --form-radius: var(--radius-text);
    --form-radius-circle: var(--radius-shape-circle);
    --form-radius-pill: var(--radius-shape-pill);

    --form-transition-movement: var(--animation-movement);
    --form-transition-visual: var(--animation-visual);

    /**
     * Form Palette Tokens
     */

    --form-default-background: var(--palette-default-base);
    --form-default-color: var(--palette-light-base);

    --form-accent-background: var(--palette-accent-base);
    --form-accent-color: var(--palette-light-base);

    --form-dark-background: var(--palette-dark-base);
    --form-dark-color: var(--palette-light-base);

    --form-light-background: var(--palette-light-base);
    --form-light-color: var(--palette-dark-base);

    --form-alert-background: var(--palette-alert-base);
    --form-alert-color: var(--palette-light-base);

    --form-affirmative-background: var(--palette-affirmative-base);
    --form-affirmative-color: var(--palette-light-base);

    --form-negative-background: var(--palette-negative-base);
    --form-negative-color: var(--palette-light-base);

    --form-opacity-enabled: var(--opacity-visible);
    --form-opacity-disabled: var(--opacity-translucent);

    --form-opacity-dull: var(--opacity-dull);
    --form-opacity-muted: var(--opacity-muted);

    /**
     * Form Toggle Tokens
     */

    --form-toggle-border: var(--sizing-text-large) solid;
    --form-toggle-font-size: var(--font-size-text-tiny);
    --form-toggle-padding: var(--spacing-text-tiny);

    /**
     * Form Check Tokens
     */

    --form-check-default-clip-path-before: inset(0% 20% 0% 60% round var(--form-radius));
    --form-check-default-clip-path-after: inset(80% 20% 0% 20% round var(--form-radius));

    --form-check-cross-clip-path-before: inset(0% 40% 0% 40% round var(--form-radius));
    --form-check-cross-clip-path-after: inset(40% 0% 40% 0% round var(--form-radius));

    /**
     * Form Radio Tokens
     */

    --form-radio-clip-path: circle(45%);

    /**
     * Form Switch Tokens
     */

    --form-switch-clip-path-active: inset(0% 0% 0% 60% round var(--form-radius));
    --form-switch-clip-path-enabled: inset(0% 60% 0% 0% round var(--form-radius));

    /**
     * Form Field Tokens
     */

    --form-field-border: var(--sizing-text-medium) solid;
    --form-field-font-size: var(--font-size-text-medium);

    --form-field-padding: var(--spacing-text-small);
    --form-field-padding-pill: var(--form-field-padding) calc(var(--form-field-padding) * 1.75);
}
