@use "../../framework/abstracts/animations";
@use "../../framework/abstracts/constants";
@use "../../framework/abstracts/palettes";
@use "../../framework/abstracts/sizes";
@use "../../framework/abstracts/variables";
@use "../../framework/abstracts/viewports";

/**
 * NOTE: The below colors are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

// NOTE: The `dark` and `light` palettes need to be special-cased due to co-dependency

@include constants.define-constants(
    palettes.generate-darklight-palette(
        $dark-base: hsl(217, 15%, 20%),
        $dark-dark-shading: 3%,
        $dark-light-shading: 3%,
        $light-base: hsl(0, 0%, 99%),
        $light-dark-shading: 3%,
        $light-light-shading: 3%
    )
);

@include constants.define-constants(
    (
        "palettes": (
            "accent":
                palettes.generate-color-palette(
                    $dark-base: hsl(200, 25%, 45%),
                    $light-base: hsl(200, 35%, 50%),
                    $foreground: "light",
                    $dark-shading: 3%,
                    $light-shading: 3%
                ),
            "neutral":
                palettes.generate-color-palette(
                    $dark-base: hsl(195, 2.5%, 40%),
                    $light-base: hsl(195, 5%, 35%),
                    $foreground: "light",
                    $dark-shading: 3%,
                    $light-shading: 3%
                ),
        ),
    )
);

/**
 * NOTE: The below colors can be renamed or otherwise added / removed as desired
 */

@include constants.define-constants(
    (
        "palettes": (
            "alert":
                palettes.generate-color-palette(
                    $dark-base: hsl(35, 45%, 50%),
                    $light-base: hsl(35, 55%, 55%),
                    $foreground: "light",
                    $dark-shading: 3%,
                    $light-shading: 3%
                ),
            "affirmative":
                palettes.generate-color-palette(
                    $dark-base: hsl(145, 30%, 40%),
                    $light-base: hsl(145, 40%, 45%),
                    $foreground: "light",
                    $dark-shading: 3%,
                    $light-shading: 3%
                ),
            "negative":
                palettes.generate-color-palette(
                    $dark-base: hsl(10, 40%, 50%),
                    $light-base: hsl(10, 50%, 55%),
                    $foreground: "light",
                    $dark-shading: 3%,
                    $light-shading: 3%
                ),
        ),
    )
);

/**
 * NOTE: The below viewports are mandatory in ALL themes! They are statically
 * referenced in the main Javascript codebase
 */

@include constants.define-constants(
    (
        "viewports": (
            "mobile": 640px,
            "tablet": 768px,
            "desktop": 1024px,
            "widescreen": 1280px,
        ),
    )
);

/**
 * NOTE: The below font familys are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "fonts.families": (
            "block": (
                ui-sans-serif,
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji",
            ),
            "inline": (
                ui-sans-serif,
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji",
            ),
            "monospace": (
                ui-monospace,
                SFMono-Regular,
                Menlo,
                Monaco,
                Consolas,
                "Liberation Mono",
                "Courier New",
                monospace,
            ),
        ),
    )
);

/**
 * NOTE: The below font sizes / families are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "fonts": (
            "letter-spacings": sizes.generate-scaling($base: 0.025, $ratio: 2),
            "line-heights": sizes.generate-scaling($base: 1, $ratio: 1.15),
            "sizes": (
                "block": sizes.generate-scaling($base: 1.125, $ratio: 1.2),
                "inline": sizes.generate-scaling($base: 0.75, $ratio: 1.1006424163),
            ),
        ),
    )
);

/**
 * NOTE: The below spacings are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "spacings": (
            "block": sizes.generate-scaling($base: 0.125, $ratio: 2),
        ),
    )
);

/**
 * NOTE: The below spacings can be renamed or otherwise added / removed as desired
 */

@include constants.define-constants(
    (
        "spacings": (
            "none": 0px,
            "auto": auto,
        ),
    )
);

/**
 * NOTE: The below sizes are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "sizes": (
            "borders": sizes.generate-stepping($base: 1px, $stepping: 1px),
            "block": sizes.generate-scaling($base: 9.5, $ratio: 1.2),
            "icon": sizes.generate-stepping($base: 16px, $stepping: 8px),
            "prose": 65ch,
        ),
    )
);

/**
 * NOTE: The below sizes can be renamed or otherwise added / removed as desired
 *
 * NOTE: `%` suffixed units are special cased to be used for `viewport-`
 * size global attribute values also
 */

@include constants.define-constants(
    (
        "sizes": (
            "none": 0px,
            "auto": auto,
            "25": 25%,
            "33": 33%,
            "50": 50%,
            "66": 66%,
            "75": 75%,
            "100": 100%,
            "content-fit": fit-content,
            "content-max": max-content,
            "content-min": min-content,
        ),
    )
);

/**
 * NOTE: The below radii can be renamed or otherwise added / removed as desired
 */

@include constants.define-constants(
    (
        "radius": (
            "none": none,
        ),
    )
);

@include variables.define-variables(
    (
        "radius": sizes.generate-scaling($base: 0.125, $ratio: 2),
        "shapes": (
            "circle": 100%,
            "pill": 9999px,
        ),
    )
);

/**
 * NOTE: The below easings can be renamed or otherwise added / removed as desired
 *
 * SOURCE: https://easings.net
 */

@include variables.define-variables(
    (
        "easings": (
            "ease-out-quad": cubic-bezier(0.5, 1, 0.89, 1),
            "ease-in-out-cubic": cubic-bezier(0.65, 0, 0.35, 1),
        ),
    )
);

/**
 * NOTE: The below animation tiers are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "animations": (
            "movement":
                animations.generate-tier(
                    $duration: 0.25s,
                    $function: variables.format-var("easings.ease-out-quad")
                ),
            "reveal":
                animations.generate-tier(
                    $duration: 0.3s,
                    $function: variables.format-var("easings.ease-in-out-cubic")
                ),
            "visual":
                animations.generate-tier(
                    $duration: 0.2s,
                    $function: variables.format-var("easings.ease-out-quad")
                ),
        ),
    )
);

/**
 * NOTE: The below z level tiers are mandatory in ALL themes! They are statically
 * referenced in the main Framework and Component stylesheets
 */

@include variables.define-variables(
    (
        "z-index": (
            "inline": (
                "base": 10,
                "content": 11,
                "popover": 19,
            ),
            "block": (
                "base": 20,
                "float": 21,
                "overlay": 29,
            ),
        ),
    )
);

/**
 * NOTE: The below elevation tiers can be renamed or otherwise added / removed as desired
 */

// TODO: Create function that generates the tiers of elevations
// HACK: `highest` is currently the same as `higher`

@include constants.define-constants(
    (
        "elevations": (
            "none": none,
        ),
    )
);

@include variables.define-variables(
    (
        "elevations": (
            "lowest": (
                0 1px 2px 0 rgb(0 0 0/0.05),
            ),
            "lower": (
                0 1px 3px 0 rgb(0 0 0/0.1),
                0 1px 2px -1px rgb(0 0 0/0.1),
            ),
            "low": (
                0 4px 6px -1px rgb(0 0 0/0.1),
                0 2px 4px -2px rgb(0 0 0/0.1),
            ),
            "medium": (
                0 10px 15px -3px rgb(0 0 0/0.1),
                0 4px 6px -4px rgb(0 0 0/0.1),
            ),
            "high": (
                0 20px 25px -5px rgb(0 0 0/0.1),
                0 8px 10px -6px rgb(0 0 0/0.1),
            ),
            "higher": (
                0 25px 50px -12px rgb(0 0 0/0.25),
            ),
            "highest": (
                0 25px 50px -12px rgb(0 0 0/0.25),
            ),
        ),
    )
);
