@keyframes animation-pulse {
    0% {
        box-shadow: 0 0 0 0 vhsla(--animation-background, --opacity-dull);
    }

    70% {
        box-shadow: 0 0 0 var(--spacing-block-small)
            vhsla(--animation-background, --opacity-invisible);
    }

    100% {
        box-shadow: 0 0 0 0 vhsla(--animation-background, --opacity-invisible);
    }
}
