abbr,
b,
del,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i,
ins,
kbd,
mark,
p,
pre,
s,
samp,
small,
span:not([class]),
strong,
sub,
sup,
u {
    &[data-palette] {
        color: rgb(var(--palette-foreground-bg));
    }

    &[data-transform="capitalize"] {
        @apply capitalize;
    }

    &[data-transform="lowercase"] {
        @apply lowercase;
    }

    &[data-transform="uppercase"] {
        @apply uppercase;
    }

    &[data-variation~="truncate"] {
        @apply truncate;
    }
}

abbr,
b,
del,
em,
i,
ins,
kbd,
mark,
p,
pre,
s,
samp,
span:not([class]),
strong,
sub,
sup,
u {
    &[data-size] {
        font-size: var(--size-text);
        line-height: var(--size-line-height);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span:not([class]) {
    &[data-align="center"] {
        @apply text-center;
    }

    &[data-align="left"] {
        @apply text-left;
    }

    &[data-align="justify"] {
        @apply text-justify;
    }

    &[data-align="right"] {
        @apply text-right;
    }
}

kbd {
    --palette-foreground-bg: theme("colors.default.500");
    --palette-background-bg: theme("colors.default.400");

    --size-text: 70%;

    @apply border-b-4 px-2 py-0.5 rounded-md text-bold whitespace-nowrap;

    background-color: rgba(var(--palette-background-bg), theme("opacity.20"));
    border-color: rgba(var(--palette-foreground-bg), theme("opacity.50"));
    border-style: ridge;

    font-size: var(--size-text);
}

pre {
    @apply bg-default-400 bg-opacity-10 p-2 rounded-md overflow-x-auto;
}

small {
    @apply opacity-75;

    font-size: 80%;
}
