@function vhsl($color) {
    /** deprecated */
    $color: expand-value($color);

    @return hsl($color);
}

@function vhsla($color, $alpha) {
    /** deprecated */
    $alpha: expand-value($alpha);
    $color: expand-value($color);

    @return hsla($color, $alpha);
}
