:root {
    /**
     * Sheet Palette Tokens
     */

    --sheet-accent-background: var(--palette-accent-base);
    --sheet-accent-color: var(--palette-light-base);

    --sheet-dark-background: var(--palette-dark-base);
    --sheet-dark-color: var(--palette-light-base);

    --sheet-light-background: var(--palette-light-base);
    --sheet-light-color: var(--palette-dark-base);

    --sheet-alert-background: var(--palette-alert-base);
    --sheet-alert-color: var(--palette-light-base);

    --sheet-affirmative-background: var(--palette-affirmative-base);
    --sheet-affirmative-color: var(--palette-light-base);

    --sheet-negative-background: var(--palette-negative-base);
    --sheet-negative-color: var(--palette-light-base);

    /**
     * Sheet Region Tokens
     */

    --sheet-region-padding: var(--spacing-block-large);
    --sheet-region-margin: -5ex 0 0 0;

    --sheet-region-radius: 8px 8px 0 0;
}
