$sheet: "[role='dialog'].sheet";

$sheet-region: "[role='document']";

@mixin sheet-container() {
    scroll-snap-type: y mandatory;
    overflow-y: auto !important;

    &::before {
        display: block;
        content: "";

        scroll-snap-align: start;
    }
}

@mixin sheet-background() {
    position: static !important;
}

@mixin sheet-region($namespace) {
    max-height: 100vh;

    margin: var(#{$namespace}-margin);
    scroll-snap-align: end;

    overflow-x: hidden;
    overflow-y: auto;
}

@mixin sheet-region-block($namespace) {
    @include use-palette-block();

    --inherited-background: var(--color);
    --inherited-color: var(--background);

    padding: var(#{$namespace}-padding);
    border-radius: var(#{$namespace}-radius);

    & #{$menu}:not([data-palette]) {
        --background: var(--inherited-background);
        --color: var(--inherited-color);
    }
}

#{$sheet} {
    @include use-palette(--sheet, false);
    @include sheet-container();

    & > #{$backdrop-background} {
        @include sheet-background();
    }

    & > #{$sheet-region} {
        @include sheet-region(--sheet-region);
    }

    &[data-palette] > #{$sheet-region} {
        @include sheet-region-block(--sheet-region);
    }
}
