$sheet: "input[type='checkbox'].sheet";

$sheet-active: ":checked";

$sheet-backdrop: "label";
$sheet-container: "[role='dialog']";
$sheet-content: "[role='document']";

@mixin sheet-backdrop($namespace) {
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: vhsl(#{$namespace}-background);
    z-index: var(#{$namespace}-z-index);
}

@mixin sheet-container($namespace) {
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    scroll-snap-type: y mandatory;

    overflow-x: hidden;
    overflow-y: auto;

    z-index: var(#{$namespace}-z-index);

    &::before {
        display: block;
        content: "";

        scroll-snap-align: start;
    }
}

@mixin sheet-content($namespace) {
    max-height: 100vh;

    margin-top: var(#{$namespace}-margin);
    scroll-snap-align: end;
}

#{$sheet} {
    display: none;

    &:not(#{$sheet-active}) + #{$sheet-container} {
        display: none;
    }

    & + #{$sheet-container} {
        @include use-palette(--sheet, false);
        @include sheet-container(--sheet-container);

        & > #{$sheet-backdrop} {
            @include sheet-backdrop(--sheet-backdrop);
        }

        & > #{$sheet-content} {
            @include sheet-content(--sheet-content);
        }

        &[data-palette] > #{$sheet-content} {
            @include use-palette-block();

            --inherited-background: var(--color);
            --inherited-color: var(--background);

            padding: var(--sheet-content-padding);
            border-radius: var(--sheet-content-radius);

            & #{$menu}:not([data-palette]) {
                --background: var(--inherited-background);
                --color: var(--inherited-color);
            }
        }
    }
}
