$overlay: ".overlay";

@mixin overlay($namespace) {
    @include use-alignment-flex(true, center, center);
    @include use-spacing(--overlay-spacing, true);

    display: flex;
    position: fixed;

    align-items: var(--alignment-y);
    justify-content: var(--alignment-x);

    padding: var(#{$namespace}-padding);

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;

    overflow: hidden;
    z-index: var(#{$namespace}-z-index);
}

@mixin overlay-children() {
    pointer-events: all;
}

#{$overlay} {
    @include overlay(--overlay);

    & > * {
        @include overlay-children();
    }
}
