:root {
    /**
     * Typography Tokens
     */

    --typography-font-family-monospace: var(--font-family-monospace);
    --typography-font-weight-monospace: var(--font-weight-text);

    --typography-font-size-small: var(--font-size-text-small);
    --typography-font-weight-bold: var(--font-weight-bold);

    --typography-margin: 0 0 var(--spacing-block-large) 0;

    --typography-radius: var(--radius-block);
    --typography-transition: var(--animation-visual);

    /**
     * Typography Palettes
     */

    --typography-default-background: var(--palette-default-base);
    --typography-default-color: var(--palette-light-base);

    --typography-accent-background: var(--palette-accent-base);
    --typography-accent-color: var(--palette-light-base);

    --typography-dark-background: var(--palette-dark-base);
    --typography-dark-color: var(--palette-light-base);

    --typography-light-background: var(--palette-light-base);
    --typography-light-color: var(--palette-dark-base);

    --typography-alert-background: var(--palette-alert-base);
    --typography-alert-color: var(--palette-light-base);

    --typography-affirmative-background: var(--palette-affirmative-base);
    --typography-affirmative-color: var(--palette-light-base);

    --typography-negative-background: var(--palette-negative-base);
    --typography-negative-color: var(--palette-light-base);

    --typography-opacity-muted: var(--opacity-muted);
    --typography-opacity-translucent: var(--opacity-translucent);

    /**
     * Blockquote Tokens
     */

    --typography-blockquote-border: calc(var(--sizing-border) * 2) solid;
    --typography-blockquote-padding: var(--spacing-text-medium) var(--spacing-text-huge);

    /**
     * Heading Tokens
     */

    --typography-heading-font-family: var(--font-family-heading);
    --typography-heading-margin: var(--spacing-text-small) 0 var(--spacing-text-medium) 0;

    --typography-heading-6-font-size: #{mscale(--font-size-heading, -5)};
    --typography-heading-6-font-weight: var(--font-weight-heading);

    --typography-heading-5-font-size: var(--font-size-heading-tiny);
    --typography-heading-5-font-weight: var(--font-weight-heading);

    --typography-heading-4-font-size: var(--font-size-heading-small);
    --typography-heading-4-font-weight: var(--font-weight-heading);

    --typography-heading-3-font-size: var(--font-size-heading-medium);
    --typography-heading-3-font-weight: var(--font-weight-heading);

    --typography-heading-2-font-size: var(--font-size-heading-large);
    --typography-heading-2-font-weight: var(--font-weight-heading);

    --typography-heading-1-font-size: var(--font-size-heading-huge);
    --typography-heading-1-font-weight: var(--font-weight-heading);

    /**
     * Identifier Tokens
     */

    --typography-identifier-color: var(--palette-negative-base);
    --typography-identifier-padding: var(--spacing-text-tiny) var(--spacing-text-medium);

    /**
     * Pre Tokens
     */

    --typography-pre-padding: var(--spacing-text-medium);
}
