$viewports: (
    tiny: 0px,
    small: 600px,
    medium: 900px,
    large: 1200px,
);

$viewports-keys: map-keys($viewports);

@function generate-viewport($viewport) {
    $target-index: index($viewports-keys, $viewport);
    $target-size: map-get($viewports, $viewport);

    $next-index: $target-index + 1;

    @if (length($viewports-keys) < $next-index) {
        @return "screen and (min-width: #{$target-size})";
    }

    $next-key: nth($viewports-keys, $next-index);
    $next-size: map-get($viewports, $next-key);

    @if ($target-size == 0px) {
        @return "screen and (max-width: #{$next-size - 1px})";
    }

    @return "screen and (min-width: #{$target-size}) and (max-width: #{$next-size - 1px})";
}

$viewports-queries: (
    tiny: generate-viewport("tiny"),
    small: generate-viewport("small"),
    medium: generate-viewport("medium"),
    large: generate-viewport("large"),
);

@function get-viewport($viewport) {
    @return map-get($viewports-queries, $viewport);
}
