:root {
    /**
     * Hero Tokens
     */

    --hero-padding: var(--spacing-block-huge) var(--spacing-block-large);

    /**
     * Hero Palette
     */

    --hero-default-background: var(--palette-default-base);
    --hero-default-color: var(--palette-light-base);

    --hero-accent-background: var(--palette-accent-base);
    --hero-accent-color: var(--palette-light-base);

    --hero-dark-background: var(--palette-dark-base);
    --hero-dark-color: var(--palette-light-base);

    --hero-light-background: var(--palette-light-base);
    --hero-light-color: var(--palette-dark-base);

    --hero-alert-background: var(--palette-alert-base);
    --hero-alert-color: var(--palette-light-base);

    --hero-affirmative-background: var(--palette-affirmative-base);
    --hero-affirmative-color: var(--palette-light-base);

    --hero-negative-background: var(--palette-negative-base);
    --hero-negative-color: var(--palette-light-base);

    /**
     * Hero Heading
     */

    --hero-heading-font-size: var(--font-size-heading-huge);
    --hero-heading-font-weight: var(--font-weight-heading);

    /**
     * Hero Help
     */

    --hero-help-font-size: var(--font-size-text-medium);

    /**
     * Hero Text
     */

    --hero-text-font-size: var(--font-size-heading-small);
}
