[data-elevation="lowest"] {
    --elevation: var(--elevation-lowest);
}

[data-elevation="low"] {
    --elevation: var(--elevation-low);
}

[data-elevation="medium"] {
    --elevation: var(--elevation-medium);
}

[data-elevation="high"] {
    --elevation: var(--elevation-high);
}

[data-elevation="highest"] {
    --elevation: var(--elevation-highest);
}
