[data-orientation~="horizontal"] {
    --orientation-direction: row;
    --orientation-spacing: 0 0 0 var(--spacing-x);

    --orientation-align: var(--flex-alignment-y);
    --orientation-justify: var(--flex-alignment-x);
}

[data-orientation~="vertical"] {
    --orientation-direction: column;
    --orientation-spacing: var(--spacing-y) 0 0 0;

    --orientation-align: var(--flex-alignment-x);
    --orientation-justify: var(--flex-alignment-y);
}

@variants <sm {
    [data-orientation~="mobile:horizontal"] {
        --orientation-direction: row;
        --orientation-spacing: 0 0 0 var(--spacing-x);

        --orientation-align: var(--flex-alignment-y);
        --orientation-justify: var(--flex-alignment-x);
    }

    [data-orientation~="mobile:vertical"] {
        --orientation-direction: column;
        --orientation-spacing: var(--spacing-y) 0 0 0;

        --orientation-align: var(--flex-alignment-x);
        --orientation-justify: var(--flex-alignment-y);
    }
}

@variants @sm {
    [data-orientation~="tablet:horizontal"] {
        --orientation-direction: row;
        --orientation-spacing: 0 0 0 var(--spacing-x);

        --orientation-align: var(--flex-alignment-y);
        --orientation-justify: var(--flex-alignment-x);
    }

    [data-orientation~="tablet:vertical"] {
        --orientation-direction: column;
        --orientation-spacing: var(--spacing-y) 0 0 0;

        --orientation-align: var(--flex-alignment-x);
        --orientation-justify: var(--flex-alignment-y);
    }
}

@variants @md {
    [data-orientation~="desktop:horizontal"] {
        --orientation-direction: row;
        --orientation-spacing: 0 0 0 var(--spacing-x);

        --orientation-align: var(--flex-alignment-y);
        --orientation-justify: var(--flex-alignment-x);
    }

    [data-orientation~="desktop:vertical"] {
        --orientation-direction: column;
        --orientation-spacing: var(--spacing-y) 0 0 0;

        --orientation-align: var(--flex-alignment-x);
        --orientation-justify: var(--flex-alignment-y);
    }
}

@variants lg {
    [data-orientation~="widescreen:horizontal"] {
        --orientation-direction: row;
        --orientation-spacing: 0 0 0 var(--spacing-x);

        --orientation-align: var(--flex-alignment-y);
        --orientation-justify: var(--flex-alignment-x);
    }

    [data-orientation~="widescreen:vertical"] {
        --orientation-direction: column;
        --orientation-spacing: var(--spacing-y) 0 0 0;

        --orientation-align: var(--flex-alignment-x);
        --orientation-justify: var(--flex-alignment-y);
    }
}
