:root,
[data-palette="auto"] {
    --palette-background-lightest: var(--palette-auto-lightest);
    --palette-background-light: var(--palette-auto-light);
    --palette-background-normal: var(--palette-auto-normal);
    --palette-background-bold: var(--palette-auto-bold);
    --palette-background-boldest: var(--palette-auto-boldest);

    --palette-foreground-lightest: var(--palette-inverse-lightest);
    --palette-foreground-light: var(--palette-inverse-light);
    --palette-foreground-normal: var(--palette-inverse-normal);
    --palette-foreground-bold: var(--palette-inverse-bold);
    --palette-foreground-boldest: var(--palette-inverse-boldest);
}

[data-palette="inverse"] {
    --palette-background-lightest: var(--palette-inverse-lightest);
    --palette-background-light: var(--palette-inverse-light);
    --palette-background-normal: var(--palette-inverse-normal);
    --palette-background-bold: var(--palette-inverse-bold);
    --palette-background-boldest: var(--palette-inverse-boldest);

    --palette-foreground-lightest: var(--palette-auto-lightest);
    --palette-foreground-light: var(--palette-auto-light);
    --palette-foreground-normal: var(--palette-auto-normal);
    --palette-foreground-bold: var(--palette-auto-bold);
    --palette-foreground-boldest: var(--palette-auto-boldest);
}

[data-palette="inherit"] {
    --palette-background-lightest: inherit;
    --palette-background-light: inherit;
    --palette-background-normal: inherit;
    --palette-background-bold: inherit;
    --palette-background-boldest: inherit;

    --palette-foreground-lightest: inherit;
    --palette-foreground-light: inherit;
    --palette-foreground-normal: inherit;
    --palette-foreground-bold: inherit;
    --palette-foreground-boldest: inherit;
}

[data-palette="accent"] {
    --palette-background-lightest: var(--palette-accent-lightest);
    --palette-background-light: var(--palette-accent-light);
    --palette-background-normal: var(--palette-accent-normal);
    --palette-background-bold: var(--palette-accent-bold);
    --palette-background-boldest: var(--palette-accent-boldest);

    --palette-foreground-lightest: var(--palette-light-lightest);
    --palette-foreground-light: var(--palette-light-light);
    --palette-foreground-normal: var(--palette-light-normal);
    --palette-foreground-bold: var(--palette-light-bold);
    --palette-foreground-boldest: var(--palette-light-boldest);
}

[data-palette="dark"] {
    --palette-background-lightest: var(--palette-dark-lightest);
    --palette-background-light: var(--palette-dark-light);
    --palette-background-normal: var(--palette-dark-normal);
    --palette-background-bold: var(--palette-dark-bold);
    --palette-background-boldest: var(--palette-dark-boldest);

    --palette-foreground-lightest: var(--palette-light-lightest);
    --palette-foreground-light: var(--palette-light-light);
    --palette-foreground-normal: var(--palette-light-normal);
    --palette-foreground-bold: var(--palette-light-bold);
    --palette-foreground-boldest: var(--palette-light-boldest);
}

[data-palette="light"] {
    --palette-background-lightest: var(--palette-light-lightest);
    --palette-background-light: var(--palette-light-light);
    --palette-background-normal: var(--palette-light-normal);
    --palette-background-bold: var(--palette-light-bold);
    --palette-background-boldest: var(--palette-light-boldest);

    --palette-foreground-lightest: var(--palette-dark-lightest);
    --palette-foreground-light: var(--palette-dark-light);
    --palette-foreground-normal: var(--palette-dark-normal);
    --palette-foreground-bold: var(--palette-dark-bold);
    --palette-foreground-boldest: var(--palette-dark-boldest);
}

[data-palette="alert"] {
    --palette-background-lightest: var(--palette-alert-lightest);
    --palette-background-light: var(--palette-alert-light);
    --palette-background-normal: var(--palette-alert-normal);
    --palette-background-bold: var(--palette-alert-bold);
    --palette-background-boldest: var(--palette-alert-boldest);

    --palette-foreground-lightest: var(--palette-light-lightest);
    --palette-foreground-light: var(--palette-light-light);
    --palette-foreground-normal: var(--palette-light-normal);
    --palette-foreground-bold: var(--palette-light-bold);
    --palette-foreground-boldest: var(--palette-light-boldest);
}

[data-palette="affirmative"] {
    --palette-background-lightest: var(--palette-affirmative-lightest);
    --palette-background-light: var(--palette-affirmative-light);
    --palette-background-normal: var(--palette-affirmative-normal);
    --palette-background-bold: var(--palette-affirmative-bold);
    --palette-background-boldest: var(--palette-affirmative-boldest);

    --palette-foreground-lightest: var(--palette-light-lightest);
    --palette-foreground-light: var(--palette-light-light);
    --palette-foreground-normal: var(--palette-light-normal);
    --palette-foreground-bold: var(--palette-light-bold);
    --palette-foreground-boldest: var(--palette-light-boldest);
}

[data-palette="negative"] {
    --palette-background-lightest: var(--palette-negative-lightest);
    --palette-background-light: var(--palette-negative-light);
    --palette-background-normal: var(--palette-negative-normal);
    --palette-background-bold: var(--palette-negative-bold);
    --palette-background-boldest: var(--palette-negative-boldest);

    --palette-foreground-lightest: var(--palette-light-lightest);
    --palette-foreground-light: var(--palette-light-light);
    --palette-foreground-normal: var(--palette-light-normal);
    --palette-foreground-bold: var(--palette-light-bold);
    --palette-foreground-boldest: var(--palette-light-boldest);
}
