[data-placement="top"] {
    --placement-inset: calc(0% - var(--spacing-y)) 50% auto auto;

    --placement-clip-off: 100% -10% -10% -10%;
    --placement-clip-on: 0% -10% -10% -10%;

    --placement-translation: 50%, -100%;

    &[data-alignment-x="left"] {
        --placement-inset: calc(0% - var(--spacing-y)) 0% auto auto;
        --placement-translation: 0%, -100%;
    }

    &[data-alignment-x="right"] {
        --placement-inset: calc(0% - var(--spacing-y)) auto auto 0%;
        --placement-translation: 0%, -100%;
    }
}

[data-placement="left"] {
    --placement-inset: auto auto 50% calc(0% - var(--spacing-x));

    --placement-clip-off: 0% -10% -10% 100%;
    --placement-clip-on: 0% -10% -10% -10%;

    --placement-translation: -100%, 50%;

    &[data-alignment-y="top"] {
        --placement-inset: auto auto 0% calc(0% - var(--spacing-x));
        --placement-translation: -100%, 0%;
    }

    &[data-alignment-y="bottom"] {
        --placement-inset: 0% auto auto calc(0% - var(--spacing-x));
        --placement-translation: -100%, 0%;
    }
}

[data-placement="bottom"] {
    --placement-inset: auto 50% calc(0% - var(--spacing-y)) auto;

    --placement-clip-off: 0% -10% 100% -10%;
    --placement-clip-on: 0% -10% -10% -10%;

    --placement-translation: 50%, 100%;

    &[data-alignment-x="left"] {
        --placement-inset: auto 0% calc(0% - var(--spacing-y)) auto;
        --placement-translation: 0%, 100%;
    }

    &[data-alignment-x="right"] {
        --placement-inset: auto auto calc(0% - var(--spacing-y)) 0%;
        --placement-translation: 0%, 100%;
    }
}

[data-placement="right"] {
    --placement-inset: auto calc(0% - var(--spacing-x)) 50% auto;

    --placement-clip-off: 0% 100% -10% -10%;
    --placement-clip-on: 0% -10% -10% -10%;

    --placement-translation: 100%, 50%;

    &[data-alignment-y="top"] {
        --placement-inset: auto calc(0% - var(--spacing-x)) 0% auto;
        --placement-translation: 100%, 0%;
    }

    &[data-alignment-y="bottom"] {
        --placement-inset: 0% calc(0% - var(--spacing-x)) auto auto;
        --placement-translation: 100%, 0%;
    }
}
