[data-size="tiny"] {
    --size-embedded: var(--sizes-embedded-tiny);
    --size-icon: var(--sizes-icon-tiny);

    --size-headline-size: var(--font-headline-size-root-small);
    --size-headline-line-height: var(--font-headline-line-height-small);

    --size-text-size: var(--font-content-size-root-nano);
    --size-text-line-height: var(--font-content-line-height-nano);
}

[data-size="small"] {
    --size-embedded: var(--sizes-embedded-small);
    --size-icon: var(--sizes-icon-small);

    --size-headline-size: var(--font-headline-size-root-medium);
    --size-headline-line-height: var(--font-headline-line-height-medium);

    --size-text-size: var(--font-content-size-root-tiny);
    --size-text-line-height: var(--font-content-line-height-tiny);
}

[data-size="medium"] {
    --size-embedded: var(--sizes-embedded-medium);
    --size-icon: var(--sizes-icon-medium);

    --size-headline-size: var(--font-headline-size-root-large);
    --size-headline-line-height: var(--font-headline-line-height-large);

    --size-text-size: var(--font-content-size-root-small);
    --size-text-line-height: var(--font-content-line-height-small);
}

[data-size="large"] {
    --size-embedded: var(--sizes-embedded-large);
    --size-icon: var(--sizes-icon-large);

    --size-headline-size: var(--font-headline-size-root-huge);
    --size-headline-line-height: var(--font-headline-line-height-huge);

    --size-text-size: var(--font-content-size-root-medium);
    --size-text-line-height: var(--font-content-line-height-medium);
}

[data-size="huge"] {
    --size-embedded: var(--sizes-embedded-huge);
    --size-icon: var(--sizes-icon-huge);

    --size-headline-size: var(--font-headline-size-root-massive);
    --size-headline-line-height: var(--font-headline-line-height-massive);

    --size-text-size: var(--font-content-size-root-large);
    --size-text-line-height: var(--font-content-line-height-large);
}
