[data-viewport~="prose"] {
    --viewport: var(--sizes-prose);
}

[data-viewport~="mobile"] {
    --viewport: var(--viewport-mobile-max);
}

[data-viewport~="tablet"] {
    --viewport: var(--viewport-tablet-max);
}

[data-viewport~="desktop"] {
    --viewport: var(--viewport-desktop-max);
}

[data-viewport~="widescreen"] {
    --viewport: var(--viewport-widescreen-max);
}

@variants <sm {
    [data-viewport~="mobile:prose"] {
        --viewport: var(--sizes-prose);
    }

    [data-viewport~="mobile:mobile"] {
        --viewport: var(--viewport-mobile-max);
    }

    [data-viewport~="mobile:tablet"] {
        --viewport: var(--viewport-tablet-max);
    }

    [data-viewport~="mobile:desktop"] {
        --viewport: var(--viewport-desktop-max);
    }

    [data-viewport~="mobile:widescreen"] {
        --viewport: var(--viewport-widescreen-max);
    }
}

@variants @sm {
    [data-viewport~="tablet:prose"] {
        --viewport: var(--sizes-prose);
    }

    [data-viewport~="tablet:mobile"] {
        --viewport: var(--viewport-mobile-max);
    }

    [data-viewport~="tablet:tablet"] {
        --viewport: var(--viewport-tablet-max);
    }

    [data-viewport~="tablet:desktop"] {
        --viewport: var(--viewport-desktop-max);
    }

    [data-viewport~="tablet:widescreen"] {
        --viewport: var(--viewport-widescreen-max);
    }
}

@variants @md {
    [data-viewport~="desktop:prose"] {
        --viewport: var(--sizes-prose);
    }

    [data-viewport~="desktop:mobile"] {
        --viewport: var(--viewport-mobile-max);
    }

    [data-viewport~="desktop:tablet"] {
        --viewport: var(--viewport-tablet-max);
    }

    [data-viewport~="desktop:desktop"] {
        --viewport: var(--viewport-desktop-max);
    }

    [data-viewport~="desktop:widescreen"] {
        --viewport: var(--viewport-widescreen-max);
    }
}

@variants lg {
    [data-viewport~="widescreen:prose"] {
        --viewport: var(--sizes-prose);
    }

    [data-viewport~="widescreen:mobile"] {
        --viewport: var(--viewport-mobile-max);
    }

    [data-viewport~="widescreen:tablet"] {
        --viewport: var(--viewport-tablet-max);
    }

    [data-viewport~="widescreen:desktop"] {
        --viewport: var(--viewport-desktop-max);
    }

    [data-viewport~="widescreen:widescreen"] {
        --viewport: var(--viewport-widescreen-max);
    }
}
