:root {
    /**
     * Dialog Palette Tokens
     */

    --dialog-accent-background: var(--palette-accent-base);
    --dialog-accent-color: var(--palette-light-base);

    --dialog-dark-background: var(--palette-dark-base);
    --dialog-dark-color: var(--palette-light-base);

    --dialog-light-background: var(--palette-light-base);
    --dialog-light-color: var(--palette-dark-base);

    --dialog-alert-background: var(--palette-alert-base);
    --dialog-alert-color: var(--palette-light-base);

    --dialog-affirmative-background: var(--palette-affirmative-base);
    --dialog-affirmative-color: var(--palette-light-base);

    --dialog-negative-background: var(--palette-negative-base);
    --dialog-negative-color: var(--palette-light-base);

    /**
     * Dialog Viewport Tokens
     */

    --dialog-viewports-tiny: var(--viewports-tiny-max);
    --dialog-viewports-small: var(--viewports-small-max);
    --dialog-viewports-medium: var(--viewports-medium-max);
    --dialog-viewports-large: var(--viewports-large-max);

    /**
     * Dialog Region
     */

    --dialog-region-padding: 0 var(--spacing-block-large) 0 var(--spacing-block-large);
    --dialog-region-spacing: var(--spacing-block-large);

    --dialog-region-max-height: 85vh;
    --dialog-region-max-width: 80vw;

    --dialog-region-radius: var(--radius-block);

    /**
     * Dialog Heading Tokens
     */

    --dialog-heading-font-size: var(--font-size-heading-small);
    --dialog-heading-font-weight: var(--font-weight-bold);
}
