$dialog: "[role='dialog'].dialog";

$dialog-region: "[role='document']";

$dialog-body: "section";
$dialog-figure: "figure";
$dialog-footer: "footer";
$dialog-heading: "header";

@mixin dialog-container($namespace) {
    @include use-viewport(#{$namespace}-viewports, false, 100vw);

    align-items: center;
    justify-content: center;
}

@mixin dialog-region(
    $namespace,
    $namespace-parts,
    $body: $dialog-body,
    $figure: $dialog-figure,
    $footer: $dialog-footer,
    $heading: $dialog-heading
) {
    @include card-container($namespace, $body, $figure, $footer, $heading);

    max-width: min(var(--viewport), var(#{$namespace}-max-width));
    max-height: min(var(#{$namespace}-max-height));

    & > #{$body} {
        @include dialog-body(#{$namespace-parts}-body);
    }

    & > #{$figure} {
        @include dialog-figure(#{$namespace-parts}-figure);
    }

    & > #{$footer} {
        @include dialog-footer(#{$namespace-parts}-footer);
    }

    & > #{$heading} {
        @include dialog-heading(#{$namespace-parts}-heading);
    }
}

@mixin dialog-region-block($namespace) {
    @include use-palette-block();

    border-radius: var(#{$namespace}-radius);
}

@mixin dialog-body($namespace) {
    @include card-body($namespace);

    overflow-x: hidden;
    overflow-y: auto;
}

@mixin dialog-figure($namespace) {
    @include card-figure($namespace);
}

@mixin dialog-footer($namespace) {
    @include card-footer($namespace);
}

@mixin dialog-heading($namespace) {
    @include card-heading($namespace);
}

#{$dialog} {
    @include use-palette(--dialog, false);
    @include dialog-container(--dialog);

    & > #{$dialog-region} {
        @include dialog-region(--dialog-region, --dialog);
    }

    &[data-palette] > #{$dialog-region} {
        @include dialog-region-block(--dialog-region);
    }
}

#{$backdrop} {
    &:checked + #{$dialog} {
        display: flex;
    }
}
