$dialog: "[role='dialog'].dialog";

$dialog-region: "[role='document']";

$dialog-body: "section";
$dialog-figure: "figure";
$dialog-footer: "footer";
$dialog-heading: "header";

@mixin dialog-container($namespace) {
    @include use-viewport(#{$namespace}-viewports, false, 100vw);

    align-items: center;
    justify-content: center;
}

@mixin dialog-region($namespace, $figure: $dialog-figure) {
    @include card-container($namespace, $figure);

    max-width: min(var(--viewport), var(#{$namespace}-max-width));
    max-height: min(var(#{$namespace}-max-height));
}

@mixin dialog-region-block($namespace) {
    @include use-palette-block();

    border-radius: var(#{$namespace}-radius);
}

@mixin dialog-body($namespace) {
    @include card-body($namespace);
}

@mixin dialog-figure($namespace) {
    @include card-figure($namespace);
}

@mixin dialog-footer($namespace) {
    @include card-footer($namespace);
}

@mixin dialog-heading($namespace) {
    @include card-heading($namespace);
}

#{$dialog} {
    @include use-palette(--dialog-palette, false);
    @include dialog-container(--dialog);

    &[data-stretch] > #{$dialog-region} {
        width: inherit;
        width: -webkit-fill-available;
        width: -moz-available;
        width: stretch;
    }

    &[data-palette] > #{$dialog-region} {
        @include dialog-region-block(--dialog-region);
    }

    & > #{$dialog-region} {
        @include dialog-region(--dialog-region);

        & > #{$dialog-body} {
            @include dialog-body(--dialog-body);
        }

        & > #{$dialog-figure} {
            @include dialog-figure(--dialog-figure);
        }

        & > #{$dialog-footer} {
            @include dialog-footer(--dialog-footer);
        }

        & > #{$dialog-heading} {
            @include dialog-heading(--dialog-heading);
        }
    }
}

#{$backdrop} {
    &:checked + #{$dialog} {
        display: flex;
    }
}
