$tile: ".tile";

$tile-figure: "figure";
$tile-footer: "footer";

$tile-body: "section";
$tile-body-heading: "header";
$tile-body-text: "p";

@mixin tile-body($namespace) {
    flex-grow: 1;

    & > #{$tile-body-heading} {
        font-size: var(#{$namespace}-heading-font-size);
        font-weight: var(#{$namespace}-heading-font-weight);
    }

    & > #{$tile-body-text} {
        margin: 0;
    }
}

@mixin tile-figure($namespace) {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: var(#{$namespace}-margin);

    width: var(#{$namespace}-size);
    height: var(#{$namespace}-size);

    line-height: 0;

    & > * {
        flex-grow: 1;
        object-fit: fill;

        border-radius: var(--tile-figure-radius);
    }
}

@mixin tile-footer($namespace) {
    display: flex;
    align-items: center;

    margin: var(#{$namespace}-margin);
}

#{$tile} {
    @include use-palette(--tile-palette, false);

    display: flex;
    align-items: center;

    background: transparent;
    color: currentColor;

    &[data-palette] {
        @include use-palette-block();

        margin: var(--tile-margin);
        padding: var(--tile-padding);

        border: var(--tile-border);
        border-radius: var(--tile-radius);
    }

    & #{$tile-body} {
        @include tile-body(--tile-body);
    }

    & #{$tile-figure} {
        @include tile-figure(--tile-figure);
    }

    & #{$tile-footer} {
        @include tile-footer(--tile-footer);
    }
}

:is(#{$anchor}, #{$label})#{$tile} {
    @include use-anchor();
}
