$mosaic: ".mosaic";

#{$mosaic} {
    @include use-alignment-grid(true);
    @include use-sizing(--mosaic-sizing, true);
    @include use-spacing(--mosaic-spacing, true);

    display: grid;

    gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(var(--sizing), 1fr));

    align-items: var(--alignment-x);
    justify-content: var(--alignment-y);

    & > * {
        margin: 0 !important;
    }
}
