$badge: ".badge";

#{$badge} {
    @include use-palette(--badge-palette);
    @include use-animation-palette();

    display: inline-flex;
    position: relative;

    align-items: center;
    justify-content: center;

    padding: var(--badge-padding-default);

    background: vhsl(--background);
    color: vhsl(--color);

    font-size: var(--badge-font-size-default);
    font-weight: var(--badge-font-weight);

    line-height: 1;

    border-radius: var(--badge-radius-default);

    user-select: none;

    &[data-position="raised"] {
        transform: var(--badge-transform-raised);
    }

    &[data-position="floated"] {
        position: absolute;
        top: 0;
        right: 0;

        pointer-events: none;

        white-space: nowrap;
        transform: var(--badge-transform-floated);
    }

    &[data-animation="pulse"] {
        animation: var(--badge-attention);
    }

    @each $size, $index in tiny, small, large, huge {
        &[data-size="#{$size}"] {
            font-size: var(--badge-font-size-#{$size});
        }
    }

    &[data-shape="pill"] {
        border-radius: var(--badge-radius-pill);
        padding: var(--badge-padding-pill);
    }
}
