@use "sass:color";
@use "sass:map";

@use "./maths";
@use "./palettes";

@function animation($duration, $function) {
    @return ("duration": $duration, "function": $function);
}

@function darklight($dark, $light) {
    // NOTE: The `dark` and `light` palettes need to be special-cased due to co-dependency

    $dark-base: map.get($dark, "base");
    $dark-stepping: map.get($dark, "stepping");

    $light-base: map.get($light, "base");
    $light-stepping: map.get($light, "stepping");

    @return (
        "palettes": (
            "dark": (
                "dark": (
                    "base": $dark-base,
                    "foreground": "light",
                    "lightest": $dark-base,
                    "lighter": color.mix($light-base, $dark-base, $dark-stepping * 1),
                    "light": color.mix($light-base, $dark-base, $dark-stepping * 2),
                    "normal": color.mix($light-base, $dark-base, $dark-stepping * 3),
                    "bold": color.mix($light-base, $dark-base, $dark-stepping * 4),
                    "bolder": color.mix($light-base, $dark-base, $dark-stepping * 5),
                    "boldest": color.mix($light-base, $dark-base, $dark-stepping * 6),
                ),
                "light": (
                    "base": $dark-base,
                    "foreground": "light",
                    "lightest": color.mix($light-base, $dark-base, $dark-stepping * 6),
                    "lighter": color.mix($light-base, $dark-base, $dark-stepping * 5),
                    "light": color.mix($light-base, $dark-base, $dark-stepping * 4),
                    "normal": color.mix($light-base, $dark-base, $dark-stepping * 3),
                    "bold": color.mix($light-base, $dark-base, $dark-stepping * 2),
                    "bolder": color.mix($light-base, $dark-base, $dark-stepping * 1),
                    "boldest": $dark-base,
                ),
            ),
            "light": (
                "dark": (
                    "base": $light-base,
                    "foreground": "dark",
                    "lightest": color.mix($dark-base, $light-base, $light-stepping * 6),
                    "lighter": color.mix($dark-base, $light-base, $light-stepping * 5),
                    "light": color.mix($dark-base, $light-base, $light-stepping * 4),
                    "normal": color.mix($dark-base, $light-base, $light-stepping * 3),
                    "bold": color.mix($dark-base, $light-base, $light-stepping * 2),
                    "bolder": color.mix($dark-base, $light-base, $light-stepping * 1),
                    "boldest": $light-base,
                ),
                "light": (
                    "base": $light-base,
                    "foreground": "dark",
                    "lightest": $light-base,
                    "lighter": color.mix($dark-base, $light-base, $light-stepping * 1),
                    "light": color.mix($dark-base, $light-base, $light-stepping * 2),
                    "normal": color.mix($dark-base, $light-base, $light-stepping * 3),
                    "bold": color.mix($dark-base, $light-base, $light-stepping * 4),
                    "bolder": color.mix($dark-base, $light-base, $light-stepping * 5),
                    "boldest": color.mix($dark-base, $light-base, $light-stepping * 6),
                ),
            ),
        )
    );
}

@function modular($base, $ratio) {
    @return (
        "nano": maths.modular($base, $ratio, 0),
        "tiny": maths.modular($base, $ratio, 1),
        "small": maths.modular($base, $ratio, 2),
        "medium": maths.modular($base, $ratio, 3),
        "large": maths.modular($base, $ratio, 4),
        "huge": maths.modular($base, $ratio, 5),
        "massive": maths.modular($base, $ratio, 6)
    );
}

@function palette($dark, $light) {
    $palette-dark: palettes.get("dark.dark.base");
    $palette-light: palettes.get("light.light.base");

    $dark-base: map.get($dark, "base");
    $dark-stepping: map.get($dark, "stepping");

    $light-base: map.get($light, "base");
    $light-stepping: map.get($light, "stepping");

    @return (
        "dark": (
            "base": $dark-base,
            "foreground": palettes.select-foreground($dark-base),
            "lightest": color.mix($palette-dark, $dark-base, $dark-stepping * 5),
            "lighter": color.mix($palette-dark, $dark-base, $dark-stepping * 4),
            "light": color.mix($palette-dark, $dark-base, $dark-stepping * 3),
            "normal": color.mix($palette-dark, $dark-base, $dark-stepping * 2),
            "bold": color.mix($palette-dark, $dark-base, $dark-stepping * 1),
            "bolder": $dark-base,
            "boldest": color.mix($palette-light, $dark-base, $light-stepping * 1),
        ),
        "light": (
            "base": $light-base,
            "foreground": palettes.select-foreground($light-base),
            "lightest": color.mix($palette-light, $light-base, $light-stepping * 5),
            "lighter": color.mix($palette-light, $light-base, $light-stepping * 4),
            "light": color.mix($palette-light, $light-base, $light-stepping * 3),
            "normal": color.mix($palette-light, $light-base, $light-stepping * 2),
            "bold": color.mix($palette-light, $light-base, $light-stepping * 1),
            "bolder": $light-base,
            "boldest": color.mix($palette-dark, $light-base, $dark-stepping * 1),
        )
    );
}

@function stepping($base, $stepping) {
    @return (
        "nano": maths.step($base, $stepping, 0),
        "tiny": maths.step($base, $stepping, 1),
        "small": maths.step($base, $stepping, 2),
        "medium": maths.step($base, $stepping, 3),
        "large": maths.step($base, $stepping, 4),
        "huge": maths.step($base, $stepping, 5),
        "massive": maths.step($base, $stepping, 6)
    );
}
