@use "sass:color";

@use "./constants";
@use "./colors";
@use "./strings";

@function generate-color-palette($background, $foreground, $dark-shading, $light-shading) {
    // TODO: Update to automatically detect `foreground` via contrast
    $dark-background: get("dark.background");
    $light-background: get("light.background");

    @return (
        "background": $background,
        "foreground": $foreground,
        "palettes": (
            "dark": (
                "lightest": colors.shade($background, $dark-background, $dark-shading, 5),
                "lighter": colors.shade($background, $dark-background, $dark-shading, 4),
                "light": colors.shade($background, $dark-background, $dark-shading, 3),
                "normal": colors.shade($background, $dark-background, $dark-shading, 2),
                "bold": colors.shade($background, $dark-background, $dark-shading, 1),
                "bolder": $background,
                "boldest": colors.shade($background, $light-background, $light-shading, 1),
            ),
            "light": (
                "lightest": colors.shade($background, $light-background, $light-shading, 5),
                "lighter": colors.shade($background, $light-background, $light-shading, 4),
                "light": colors.shade($background, $light-background, $light-shading, 3),
                "normal": colors.shade($background, $light-background, $light-shading, 2),
                "bold": colors.shade($background, $light-background, $light-shading, 1),
                "bolder": $background,
                "boldest": colors.shade($background, $dark-background, $dark-shading, 1),
            ),
        )
    );
}

@function generate-darklight-palette(
    $dark-background,
    $dark-dark-shading,
    $dark-light-shading,
    $light-background,
    $light-dark-shading,
    $light-light-shading
) {
    // NOTE: The `dark` and `light` palettes need to be special-cased due to co-dependency

    @return (
        "palettes": (
            "dark": (
                "background": $dark-background,
                "foreground": "light",
                "palettes": (
                    "dark": (
                        "lightest": $dark-background,
                        "lighter":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 1),
                        "light":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 2),
                        "normal":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 3),
                        "bold":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 4),
                        "bolder":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 5),
                        "boldest":
                            colors.shade($dark-background, $light-background, $dark-dark-shading, 6),
                    ),
                    "light": (
                        "lightest":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                6
                            ),
                        "lighter":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                5
                            ),
                        "light":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                4
                            ),
                        "normal":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                3
                            ),
                        "bold":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                2
                            ),
                        "bolder":
                            colors.shade(
                                $dark-background,
                                $light-background,
                                $dark-light-shading,
                                1
                            ),
                        "boldest": $dark-background,
                    ),
                ),
            ),
            "light": (
                "background": $light-background,
                "foreground": "dark",
                "palettes": (
                    "dark": (
                        "lightest":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                6
                            ),
                        "lighter":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                5
                            ),
                        "light":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                4
                            ),
                        "normal":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                3
                            ),
                        "bold":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                2
                            ),
                        "bolder":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-dark-shading,
                                1
                            ),
                        "boldest": $light-background,
                    ),
                    "light": (
                        "lightest": $light-background,
                        "lighter":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                1
                            ),
                        "light":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                2
                            ),
                        "normal":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                3
                            ),
                        "bold":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                4
                            ),
                        "bolder":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                5
                            ),
                        "boldest":
                            colors.shade(
                                $light-background,
                                $dark-background,
                                $light-light-shading,
                                6
                            ),
                    ),
                ),
            ),
        )
    );
}

@mixin each() {
    @include constants.each("palettes.*.background") using ($name, $background) {
        $foreground: get("#{$name}.foreground");

        @content ($name, $foreground);
    }
}

@function get($name) {
    @return constants.get("palettes.#{$name}");
}

@function has($name) {
    @return constants.has("palettes.#{$name}.background");
}

@function format-reference($name, $face, $shade) {
    // TODO: validate `$face`
    // TODO: validate `$shade`

    @if not has($name) and $name != "auto" {
        @error "bad argument #1 to 'palettes.format-reference' (invalid name '#{$name}')";
    }

    @return strings.format-identifier("palettes.#{$name}.#{$face}.#{$shade}");
}

@function format-var($name, $face, $shade, $fallback: null) {
    $name: format-reference($name, $face, $shade);

    @if $fallback {
        @return var(#{$name}, #{$fallback});
    }

    @return var(--#{$name});
}
