@use "sass:map";

@use "./contexts";
@use "./variables";

@function get() {
    $map: contexts.get("transitions");

    @return map.values($map);
}

@mixin push($property, $animation-tier) {
    @if not
        variables.has("animations.#{$animation-tier}.duration") or not
        variables.has("animations.#{$animation-tier}.function")
    {
        @error "bad argument #2 to 'transitions.push' (invalid animation tier '#{$animation-tier}')";
    }

    $map: contexts.get("transitions", ());
    $map: map.set(
        $map,
        $property,
        (
            "animation-tier": $animation-tier,
            "property": $property,
        )
    );

    $_: contexts.set("transitions", $map);
}
