@function vcolor($color, $lightness: 1) {
    @return var(#{$color}-huesat), step(#{$color}-lightness, $lightness);
}

@function vhsl($color) {
    $color: expand-value($color);

    @return hsl($color);
}

@function vhsla($color, $alpha) {
    $alpha: expand-value($alpha);
    $color: expand-value($color);

    @return hsla($color, $alpha);
}
