button:is(:hover, :focus) {
	order: 1;
}

:is(article, section) > :is(h1, h2, h3, h4, h5, h6):is(:hover, :focus) {
	order: 2;
}

html > head ~ :is(body + style) {
	order: 3;
}

body:is(head) {
	order: 4;
}
