button:hover, button:focus {
	order: 1;
}

article > h1:hover, article > h1:focus,article > h2:hover, article > h2:focus,article > h3:hover, article > h3:focus,article > h4:hover, article > h4:focus,article > h5:hover, article > h5:focus,article > h6:hover, article > h6:focus,section > h1:hover, section > h1:focus,section > h2:hover, section > h2:focus,section > h3:hover, section > h3:focus,section > h4:hover, section > h4:focus,section > h5:hover, section > h5:focus,section > h6:hover, section > h6:focus {
	order: 2;
}

html > head ~ :is(body + style) {
	order: 3;
}

body:is(head) {
	order: 4;
}
