:root {
    /**
     * Box Tokens
     */

    --box-border: var(--sizing-border) solid;
    --box-background: var(--palette-light-base);

    --box-margin: 0 0 var(--spacing-block-large) 0;
    --box-padding: var(--spacing-block-large);
    --box-radius: var(--radius-block);

    --box-transition: var(--animation-visual);

    /**
     * Box Palette Tokens
     */

    --box-default-background: var(--palette-light-translucent);
    --box-default-color: var(--palette-light-base);

    --box-accent-background: var(--palette-accent-base);
    --box-accent-color: var(--palette-light-base);

    --box-dark-background: var(--palette-dark-base);
    --box-dark-color: var(--palette-light-base);

    --box-light-background: var(--palette-light-base);
    --box-light-color: var(--palette-dark-base);

    --box-alert-background: var(--palette-alert-base);
    --box-alert-color: var(--palette-light-base);

    --box-affirmative-background: var(--palette-affirmative-base);
    --box-affirmative-color: var(--palette-light-base);

    --box-negative-background: var(--palette-negative-base);
    --box-negative-color: var(--palette-light-base);

    --box-opacity-visible: var(--opacity-visible);

    --box-opacity-dull: var(--opacity-dull);
    --box-opacity-muted: var(--opacity-muted);

    --box-opacity-transparent: var(--opacity-transparent);

    /**
     * Box Block Tokens
     */

    --box-block-border-color: var(--palette-light-translucent);
}
