hr,
span[role="separator"] {
    @apply block opacity-40 select-none;

    &[data-palette] {
        @apply text-[rgb(var(--palette-background-bg))];
    }

    &:not([data-orientation]) {
        @apply my-4 w-full;
    }

    &[data-orientation="vertical"] {
        @apply h-full mx-4;
    }
}

hr {
    @apply border-0 bg-current rounded-md;

    &:not([data-orientation]) {
        @apply h-[1px];
    }

    &[data-orientation="vertical"] {
        @apply w-[1px];
    }
}

span[role="separator"] {
    @apply font-bold inline-flex items-center gap-1 justify-center text-center
    tracking-widest whitespace-nowrap;

    font-size: 80%;

    &::before,
    &::after {
        @apply bg-current block flex-grow rounded-md;

        content: "";
    }

    &:not([data-orientation]) {
        &::before,
        &::after {
            @apply h-[1px];
        }
    }

    &[data-orientation="vertical"] {
        /**
         * HACK: Might be missing something, but `@apply write-vertical-right` doesn't seem to work?
         */

        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;

        &::before,
        &::after {
            @apply w-[1px];
        }
    }
}
