/**
 * animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
 */

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

[data-animation="pulse"] {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
