@use "../abstracts/variables";
@use "../abstracts/viewports";

@mixin sizing-inherit-declarations($prefix: "") {
    [data-sizing~="#{$prefix}inherit"] {
        --sizing-font-letter-spacing: inherit;
        --sizing-font-line-height: inherit;

        @include variables.each("fonts.sizes.*.nano") using ($tier, $_) {
            --sizing-font-size-#{$tier}: inherit;
        }

        @include variables.each("sizes.*.nano") using ($tier, $_) {
            --sizing-size-#{$tier}: inherit;
        }
    }
}

@mixin sizing-var-declarations($size, $prefix: "") {
    [data-sizing~="#{$prefix}#{$size}"] {
        --sizing-font-letter-spacing: #{variables.format-var("spacings.inline.#{$size}")};
        --sizing-font-line-height: #{variables.format-var("fonts.line-heights.#{$size}")};

        @include variables.each("fonts.sizes.*.#{$size}") using ($tier, $_) {
            --sizing-font-size-#{$tier}: #{variables.format-var("fonts.sizes.#{$tier}.#{$size}")};
        }

        @include variables.each("sizes.*.#{$size}") using ($tier, $_) {
            --sizing-size-#{$tier}: #{variables.format-var("sizes.#{$tier}.#{$size}")};
        }
    }
}

@mixin declarations($prefix: "") {
    @include variables.each("sizes.block.") using ($size, $_) {
        @include sizing-inherit-declarations($prefix);
        @include sizing-var-declarations($size, $prefix);
    }
}

@if not env("DISABLE_GLOBALS_SIZINGS") {
    @include declarations();

    @if not env("DISABLE_GLOBALS_SIZINGS_RESPONSITIVITY") {
        @include viewports.query-all() using ($name) {
            @include declarations($name + ":");
        }
    }
}
