{
    "arrowParens": "always",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "printWidth": 55,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false
}
