[type="email"],
[type="password"],
[type="text"],
[type="search"],
[type="url"],
textarea {
    --palette-background-bg: theme("colors.default.300");
    --palette-foreground-bg: theme("colors.default.500");

    @apply appearance-none align-middle border-2 border-solid px-[0.75em] py-[0.5em] relative
    rounded-lg;

    font-size: var(--size-text, inherit);
    line-height: var(--size-line-height, inherit);

    text-align: var(--align-text, inherit);
    text-transform: var(--transform-text, inherit);

    outline: none !important;

    &:disabled {
        @apply cursor-not-allowed opacity-40;
    }

    &::placeholder {
        @apply opacity-50 text-current;
    }

    &:not([data-variation]) {
        @apply bg-transparent;

        border-color: rgba(var(--palette-background-bg), theme("opacity.25"));

        &:enabled {
            &:hover {
                @apply;

                border-color: rgba(var(--palette-background-bg), theme("opacity.50"));
            }

            &:is(:focus) {
                @apply;

                border-color: rgba(var(--palette-foreground-bg), theme("opacity.75"));
            }
        }
    }

    &[data-variation="block"] {
        @apply;

        background-color: rgba(var(--palette-background-bg), theme("opacity.25"));
        border-color: transparent;

        &:enabled {
            &:hover {
                @apply;

                background-color: rgba(var(--palette-foreground-bg), theme("opacity.30"));
            }

            &:is(:focus) {
                @apply;

                background-color: transparent;
                border-color: rgba(var(--palette-foreground-bg), theme("opacity.75"));
            }
        }
    }

    &[data-variation="flush"] {
        @apply align-top bg-transparent border-0 p-0 rounded-none;
    }

    &:not([cols], [size]) {
        @apply w-full;
    }
}

textarea {
    @apply max-h-full resize-none max-w-full;
}
