:root {
    /**
     * Tile Tokens
     */

    --tile-border: var(--sizing-border) solid;
    --tile-border-color: var(--palette-light-translucent);

    --tile-margin: 0 0 var(--spacing-block-large) 0;
    --tile-padding: var(--spacing-block-large);
    --tile-radius: var(--radius-block);

    --tile-transition: var(--animation-visual);

    /**
     * Tile Palette Tokens
     */

    --tile-accent-background: var(--palette-accent-base);
    --tile-accent-color: var(--palette-light-base);

    --tile-dark-background: var(--palette-dark-base);
    --tile-dark-color: var(--palette-light-base);

    --tile-light-background: var(--palette-light-base);
    --tile-light-color: var(--palette-dark-base);

    --tile-alert-background: var(--palette-alert-base);
    --tile-alert-color: var(--palette-light-base);

    --tile-affirmative-background: var(--palette-affirmative-base);
    --tile-affirmative-color: var(--palette-light-base);

    --tile-negative-background: var(--palette-negative-base);
    --tile-negative-color: var(--palette-light-base);

    --tile-opacity-visible: var(--opacity-visible);

    --tile-opacity-dull: var(--opacity-dull);
    --tile-opacity-muted: var(--opacity-muted);

    --tile-opacity-transparent: var(--opacity-transparent);

    /**
     * Tile Body Tokens
     */

    --tile-body-spacing: var(--spacing-block-large);

    /**
     * Tile Body Heading Tokens
     */

    --tile-body-heading-font-size: inherit;
    --tile-body-heading-font-weight: var(--font-weight-bold);

    /**
     * Tile Figure Tokens
     */

    --tile-figure-margin: 0 var(--spacing-block-large) 0 0;

    --tile-figure-radius: var(--radius-shape-circle);
    --tile-figure-size: var(--sizing-element-small);

    /**
     * Tile Footer Tokens
     */

    --tile-footer-margin: 0 0 0 var(--spacing-block-large);
}
