$container: ".container";

#{$container} {
    @include use-viewport(--container-viewports, true, var(--container-viewports-small));

    padding: var(--container-padding);
    margin: 0 auto;

    max-width: min(var(--viewport), 100%, 100vw);
}
