.spinner {
    --size-icon: 1em;

    @apply align-middle border-solid border-transparent h-[var(--size-icon)] inline-block rounded-full select-none w-[var(--size-icon)];

    border-left-color: currentColor;
    border-right-color: currentColor;

    border-top-color: transparent;
    border-bottom-color: transparent;

    border-width: calc(var(--size-icon) * 0.125);

    animation: spin 1s linear infinite;

    &[data-palette] {
        border-left-color: rgb(var(--palette-background-bg));
        border-right-color: rgb(var(--palette-background-bg));
    }

    &:not([data-variation]) {
        &:is([data-size="medium"], [data-size="large"], [data-size="huge"]) {
            border-width: calc(var(--size-icon) * 0.075);
        }
    }

    &[data-variation="dual"] {
        @apply border-double;

        border-width: calc(var(--size-icon) * 0.25);

        &[data-size="tiny"] {
            border-width: calc(var(--size-icon) * 0.4);
        }
    }
}
