.spinner {
    --palette-background-bold: currentColor;
    --size-icon: 1em;

    @apply align-middle border-2 border-solid h-[var(--size-icon)] inline-block
    rounded-full select-none w-[var(--size-icon)];

    border-left-color: var(--palette-background-bold);
    border-right-color: var(--palette-background-bold);

    border-top-color: transparent;
    border-bottom-color: transparent;

    animation: spin 1s linear infinite;

    &[data-palette] {
        border-left-color: rgb(var(--palette-background-bold));
        border-right-color: rgb(var(--palette-background-bold));
    }

    &[data-variation="dual"] {
        @apply border-double;

        &:is([data-size="medium"], [data-size="large"], [data-size="huge"]) {
            border-width: 0.375em;
        }

        border-width: 0.25em;
    }
}
