$popover: ".popover";

$popover-label: "label";

$popover-state: "input[type='checkbox']";
$popover-state-active: ":checked";

#{$popover} {
    @include use-sizing(--popover-sizing, true);

    display: inline-block;
    position: relative;

    & > #{$popover-label} + * {
        position: absolute;
        margin: 0;

        width: var(--sizing);

        z-index: var(--popover-z-index);
    }

    &:not([data-sizing]) > #{$popover-label} + * {
        white-space: nowrap;
    }

    /**
     * TODO: Clean up + viewport modifiers
     */

    &:not([data-position]) > #{$popover-label} + * {
        top: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(50%);
    }

    &[data-position="bottom+left"] > #{$popover-label} + * {
        top: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(5%);
    }

    &[data-position="bottom+right"] > #{$popover-label} + * {
        top: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(95%);
    }

    &[data-position="top"] > #{$popover-label} + * {
        bottom: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(50%);
    }

    &[data-position="top+left"] > #{$popover-label} + * {
        bottom: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(5%);
    }

    &[data-position="top+right"] > #{$popover-label} + * {
        bottom: calc(100% + var(--popover-margin));
        right: 50%;
        transform: translateX(95%);
    }

    &[data-position="left"] > #{$popover-label} + * {
        right: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(50%);
    }

    &[data-position="left+top"] > #{$popover-label} + * {
        right: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(5%);
    }

    &[data-position="left+bottom"] > #{$popover-label} + * {
        right: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(95%);
    }

    &[data-position="right"] > #{$popover-label} + * {
        left: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(50%);
    }

    &[data-position="right+top"] > #{$popover-label} + * {
        left: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(5%);
    }

    &[data-position="right+bottom"] > #{$popover-label} + * {
        left: calc(100% + var(--popover-margin));
        bottom: 50%;
        transform: translateY(95%);
    }

    & > #{$popover-state} {
        display: none;

        &:not(#{$popover-state-active}) + #{$popover-label} + * {
            display: none;
        }
    }
}
