table {
    --palette-background-bg: theme("colors.default.300");
    --palette-foreground-bg: theme("colors.default.500");

    @apply border-collapse w-full;
}

/**
 * TODO: Repeat properties could probably be condensed a bit
 */

table[data-variation~="borders"] {
    & :is(td, th):not(:last-child)::after {
        @apply absolute block bg-current h-full opacity-40 right-0 top-0 w-[1px];

        content: "";
    }

    & > :is(tbody, thead, tfoot):first-child :is(td, th):not(:last-child)::after {
        @apply rounded-t-md;
    }

    & > :is(tbody, thead, tfoot):last-child :is(td, th):not(:last-child)::after {
        @apply rounded-b-md;
    }
}

table[data-variation~="stripes"] {
    & > tbody > tr:nth-child(2n + 1) {
        @apply;

        background-color: rgba(var(--palette-foreground-bg), theme("opacity.10"));
    }
}

th,
thead,
td,
tfoot,
tr {
    @apply relative;
}

th,
td {
    @apply align-center px-4 py-3 text-left;
}

:is(thead, tfoot) > tr > :is(td, th),
table[data-variation~="borders"] > tbody > tr:not(:last-child) > :is(td, th) {
    &::before {
        @apply absolute block bg-current bottom-0 h-[1px] opacity-40 right-0 w-full;

        content: "";
    }

    &:first-child {
        &::before {
            @apply rounded-l-md;
        }
    }

    &:last-child {
        &::before {
            @apply rounded-r-md;
        }
    }
}

tfoot > tr > :is(td, th) {
    &::before {
        @apply top-0;
    }
}
